Repository upupming/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack, Web Platform

feat: conditional styles should inject
  packages/react/transform/src/swc_plugin_simple_styling/mod.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_simple_styling/mod.rs/simple_style_complex.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_simple_styling/mod.rs/simple_style_conditional.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_simple_styling/mod.rs/simple_style_static.js
Due: React

fix(react/runtime): delay applying mt:ref until hydration has finished (#1001)
  .changeset/red-meals-battle.md
  packages/react/runtime/__test__/snapshot/workletRef.test.jsx
  packages/react/runtime/__test__/worklet/workletRef.test.jsx
  packages/react/runtime/src/lifecycle/patch/updateMainThread.ts
  packages/react/runtime/src/lifecycle/reload.ts
  packages/react/runtime/src/list.ts
  packages/react/runtime/src/lynx/calledByNative.ts
  packages/react/runtime/src/snapshot/workletRef.ts
  packages/react/worklet-runtime/__test__/workletRef.test.js
  packages/react/worklet-runtime/src/bindings/observers.ts
  packages/react/worklet-runtime/src/hydrate.ts
Due: React

refactor: replace enhanced-resolve with rust-based resolver (#936)
  .changeset/breezy-papayas-itch.md
  packages/rspeedy/plugin-react-alias/etc/react-alias-rsbuild-plugin.api.md
  packages/rspeedy/plugin-react-alias/package.json
  packages/rspeedy/plugin-react-alias/src/index.ts
  pnpm-lock.yaml
Due: Rspeedy

test: replace `file://` URL (#1066)
  packages/tools/vitest-setup/package.json
  packages/webpack/css-extract-webpack-plugin/test/diagnostic/error/sass/expected/rspack.txt
  packages/webpack/react-webpack-plugin/test/diagnostic/compat/utf-8/expected/rspack.txt
  packages/webpack/react-webpack-plugin/test/diagnostic/jsx/component/expected/rspack.txt
  packages/webpack/react-webpack-plugin/test/diagnostic/jsx/component/expected/webpack.txt
  packages/webpack/react-webpack-plugin/test/diagnostic/jsx/namespace-name/expected/rspack.txt
  packages/webpack/react-webpack-plugin/test/diagnostic/jsx/namespace-name/expected/webpack.txt
  packages/webpack/react-webpack-plugin/test/diagnostic/module-build-failed/errors/expected/rspack.txt
  packages/webpack/react-webpack-plugin/test/diagnostic/module-build-failed/errors/expected/webpack.txt
  packages/webpack/test-tools/package.json
  packages/webpack/test-tools/src/diagnostic.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: Webpack

feat: simplify the update function of simple style
  packages/react/runtime/src/internal.ts
  packages/react/runtime/src/snapshot/simple-styling.ts
  packages/react/transform/src/swc_plugin_simple_styling/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_simple_styling/mod.rs/simple_style_complex.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_simple_styling/mod.rs/simple_style_conditional.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_simple_styling/mod.rs/simple_style_dynamic.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_simple_styling/mod.rs/simple_style_static.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/snapshot_simple_style_complex.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/snapshot_simple_style_conditional.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/snapshot_simple_style_dynamic.js
Due: React

feat: update test case
  packages/react/transform/__test__/simple-styling/error-handing.spec.js
  packages/react/transform/__test__/simple-styling/index.spec.js
Due: React

fix(react/runtime): enable eslint for `src/lifecycle` (#1068)
  .changeset/loud-mugs-cross.md
  eslint.config.js
  packages/react/runtime/package.json
  packages/react/runtime/src/lifecycle/delayUnmount.ts
  packages/react/runtime/src/lifecycle/destroy.ts
  packages/react/runtime/src/lifecycle/event/delayEvents.ts
  packages/react/runtime/src/lifecycle/event/delayLifecycleEvents.ts
  packages/react/runtime/src/lifecycle/event/jsReady.ts
  packages/react/runtime/src/lifecycle/patch/isMainThreadHydrationFinished.ts
  packages/react/runtime/src/lifecycle/patch/snapshotPatch.ts
  packages/react/runtime/src/lifecycle/patch/snapshotPatchApply.ts
  packages/react/runtime/src/lifecycle/reload.ts
  packages/react/runtime/src/lifecycle/render.ts
  pnpm-lock.yaml
Due: React

test(react/runtime): reset env before each of the snapshot patch tests (#1070)
  .changeset/cruel-apples-pay.md
  packages/react/runtime/__test__/snapshotPatch.test.jsx
Due: React

fix(react): memory leak because of cycle reference
  packages/react/runtime/__test__/list.test.jsx
  packages/react/runtime/src/backgroundSnapshot.ts
  packages/react/runtime/src/list.ts
  packages/react/runtime/src/snapshot.ts
Due: React

fix(web): incorrect syntax for x-canvas part (#1067)
  .changeset/fancy-horses-drop.md
  packages/web-platform/web-elements/src/XCanvas/x-canvas.css
Due: Web Platform

feat: add e2e test case
  packages/react/testing-library/src/__tests__/list.test.jsx
Due: React

test(webpack/css-extract): fix test on Windows (#1049)
  packages/webpack/css-extract-webpack-plugin/test/fixtures/esm/css-id-module-concatenation-modules/index.js
  packages/webpack/css-extract-webpack-plugin/test/fixtures/esm/css-id-module-concatenation/index.js
Due: Webpack

feat: static along with dynamic should be hash
  packages/react/transform/src/swc_plugin_simple_styling/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_simple_styling/mod.rs/simple_style_complex.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_simple_styling/mod.rs/simple_style_conditional.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_simple_styling/mod.rs/simple_style_dynamic.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_simple_styling/mod.rs/simple_style_static.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/snapshot_simple_style_complex.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/snapshot_simple_style_conditional.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/snapshot_simple_style_dynamic.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/snapshot_simple_style_static.js
Due: React

feat: update testing
  packages/react/transform/__test__/simple-styling/error-handing.spec.js
  packages/react/transform/__test__/simple-styling/index.spec.js
  packages/react/transform/src/swc_plugin_simple_styling/mod.rs
Due: React

fix(react): memory leak because of cycle reference
  packages/react/runtime/__test__/list.test.jsx
  packages/react/runtime/__test__/renderToOpcodes.test.jsx
  packages/react/runtime/src/backgroundSnapshot.ts
  packages/react/runtime/src/list.ts
  packages/react/runtime/src/snapshot.ts
Due: React

fix(web): loadCard config add updateData (#1077)
  .changeset/fair-trees-brake.md
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/startBackgroundThread.ts
Due: Web Platform

feat: support dev mode and hmr
  packages/react/runtime/src/simple-styling/index.ts
  packages/react/transform/src/lib.rs
  packages/react/transform/src/swc_plugin_simple_styling/mod.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_simple_styling/mod.rs/simple_style_complex.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_simple_styling/mod.rs/simple_style_complex_dev_mode.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_simple_styling/mod.rs/simple_style_dynamic.js
  packages/rspeedy/plugin-react/src/simple-styling.ts
Due: React, Rspeedy

feat: remove updateSimpleStyle from API
  packages/react/etc/react.api.md
  packages/react/runtime/lazy/internal.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_simple_styling/mod.rs/basic_simple_style.js
Due: React

Revert "fix(react): avoid memory leak when removing the child from page" (#1079)
  .changeset/calm-deer-cheat.md
  .changeset/dry-heads-happen.md
  packages/react/runtime/src/snapshot.ts
  packages/react/testing-library/src/__tests__/snapshot.test.jsx
Due: React

fix: refine types
  packages/react/runtime/types/types.d.ts
  packages/webpack/react-simple-styling-webpack-plugin/test/cases/basic/simple-styling-api/index.jsx
  packages/webpack/template-webpack-plugin/etc/template-webpack-plugin.api.md
Due: React, Webpack

fix: update testing cases
  packages/react/runtime/__test__/simple-styling/index.test.jsx
  packages/react/runtime/__test__/utils/nativeMethod.ts
  packages/react/transform/__test__/simple-styling/index.spec.js
  packages/testing-library/testing-environment/etc/test-environment.api.md
  packages/testing-library/testing-environment/etc/testing-environment.api.md
  packages/testing-library/testing-environment/src/lynx/ElementPAPI.ts
Due: React

bug: Cannot read properties of undefined (reading '__elements')
  packages/react/testing-library/src/__tests__/list.test.jsx
Due: React

feat: add real test case for reuse list item
  packages/react/testing-library/src/__tests__/list.test.jsx
Due: React

feat(web): add _I18nResourceTranslation api in mts. (#1065)
  .changeset/giant-baboons-end.md
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-constants/src/types/BackThreadStartConfigs.ts
  packages/web-platform/web-constants/src/types/I18n.ts
  packages/web-platform/web-constants/src/types/MainThreadGlobalThis.ts
  packages/web-platform/web-constants/src/types/NapiModules.ts
  packages/web-platform/web-constants/src/types/index.ts
  packages/web-platform/web-core-server/src/createLynxView.ts
  packages/web-platform/web-core-server/src/utils/loadTemplate.ts
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-core/src/apis/createLynxView.ts
  packages/web-platform/web-core/src/uiThread/createRenderAllOnUI.ts
  packages/web-platform/web-core/src/uiThread/createRenderMultiThread.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerDispatchLynxViewEventHandler.ts
  packages/web-platform/web-core/src/utils/dispatchLynxViewEvent.ts
  packages/web-platform/web-core/src/utils/loadTemplate.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-mainthread-apis/src/prepareMainThreadAPIs.ts
  packages/web-platform/web-tests/shell-project/web-core.ts
  packages/web-platform/web-tests/tests/web-core.test.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createBackgroundLynx.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
Due: Web Platform

feat(web): add updateI18nResources method of lynx-view (#1085)
  .changeset/tired-clowns-flash.md
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-constants/src/types/BackThreadStartConfigs.ts
  packages/web-platform/web-constants/src/types/Cloneable.ts
  packages/web-platform/web-constants/src/types/I18n.ts
  packages/web-platform/web-core-server/src/createLynxView.ts
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-core/src/apis/createLynxView.ts
  packages/web-platform/web-core/src/uiThread/createRenderAllOnUI.ts
  packages/web-platform/web-core/src/uiThread/createRenderMultiThread.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-mainthread-apis/src/prepareMainThreadAPIs.ts
  packages/web-platform/web-tests/tests/web-core.test.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
Due: Web Platform

test(rspeedy/react): fix lazy bundle build on Windows (#1087)
  packages/rspeedy/plugin-react/test/lazy.test.ts
Due: Rspeedy

fix(web): --lynx-color will be removed (#1069)
  .changeset/violet-chicken-grow.md
  packages/web-platform/web-elements/src/XText/x-text.css
  packages/web-platform/web-style-transformer/src/transformLynxStyles.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/text/basic-element-text-color/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/text/basic-element-text-color/index-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/text/basic-element-text-color/index-webkit-linux.png
  packages/web-platform/web-tests/tests/react/basic-element-text-color/index.css
  packages/web-platform/web-tests/tests/react/basic-element-text-color/index.jsx
Due: Web Platform

fix(docs): update rsbuild type-checking link (#1064)
  .changeset/smart-news-hug.md
  website/docs/en/guide/typescript.md
  website/docs/zh/guide/typescript.md
Due: none

ci: make the all-on-ui to be the default rendering mode (#1081)
  .github/workflows/test.yml
  packages/web-platform/web-tests/playwright.config.ts
  packages/web-platform/web-tests/rspack.config.js
  packages/web-platform/web-tests/shell-project/index.ts
  packages/web-platform/web-tests/shell-project/web-core.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/web-core.test.ts
Due: Web Platform

fix(react): improve error message for missing snapshots (#1083)
  .changeset/hip-jars-report.md
  packages/react/runtime/__test__/snapshotPatch.test.jsx
  packages/react/runtime/src/snapshot.ts
Due: React

feat(create-rspeedy): integrate with `@rsbuild/plugin-type-check` (#1093)
  .changeset/legal-women-kneel.md
  .github/workflows/test.yml
  packages/rspeedy/create-rspeedy/package.json
  packages/rspeedy/create-rspeedy/template-react-ts/lynx.config.ts
  packages/rspeedy/create-rspeedy/template-react-ts/package.json
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/lynx.config.ts
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/package.json
  pnpm-lock.yaml
Due: Rspeedy

fix(css-hmr): avoid duplicate css hmr files emitting
  .changeset/easy-olives-dig.md
  packages/webpack/css-extract-webpack-plugin/src/CssExtractRspackPlugin.ts
  packages/webpack/template-webpack-plugin/etc/template-webpack-plugin.api.md
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
Due: Webpack

feat(web): supports lynx.getI18nResource() and onI18nResourceReady ev… (#1088)
  .changeset/heavy-sides-enter.md
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-constants/src/types/I18n.ts
  packages/web-platform/web-constants/src/types/NativeApp.ts
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-core/src/apis/createLynxView.ts
  packages/web-platform/web-core/src/uiThread/startBackground.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-mainthread-apis/src/prepareMainThreadAPIs.ts
  packages/web-platform/web-tests/tests/web-core.test.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createBackgroundLynx.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/crossThreadHandlers/registerUpdateI18nResource.ts
Due: Web Platform

ci: enable vitest on Windows (#1091)
  .gitattributes
  .github/actions/setup-playwright/action.yml
  .github/workflows/test.yml
  .github/workflows/workflow-bench.yml
  .github/workflows/workflow-test.yml
  packages/rspeedy/plugin-react/test/basic.test.ts
  packages/webpack/css-extract-webpack-plugin/test/diagnostic.test.ts
Due: Rspeedy, Webpack

Path conditions:
  React: any of: packages/react/**
  Rspeedy: any of: packages/rspeedy/**
  Webpack: any of: packages/webpack/**
  Web Platform: any of: packages/web-platform/**
