Repository upupming/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack, Web Platform

feat: add test cases
  .changeset/cold-boats-share.md
  packages/webpack/template-webpack-plugin/package.json
  packages/webpack/template-webpack-plugin/src/LynxCacheEventsRuntimeModule.ts
  packages/webpack/template-webpack-plugin/src/LynxCacheEventsSetupListRuntimeModule.ts
  packages/webpack/template-webpack-plugin/test/cases/runtime-module/cache-events/index.js
  packages/webpack/template-webpack-plugin/test/cases/runtime-module/cache-events/lib-common.js
  packages/webpack/template-webpack-plugin/test/cases/runtime-module/cache-events/rspack.config.js
  packages/webpack/template-webpack-plugin/test/cases/runtime-module/cache-events/test.config.cjs
  packages/webpack/webpack-runtime-globals/src/RuntimeGlobals.ts
  pnpm-lock.yaml
Due: Webpack

docs: update api extractor docs
  packages/webpack/webpack-runtime-globals/etc/webpack-runtime-globals.api.md
Due: Webpack

chore: use LynxRuntimeGlobals.lynxCacheEventsSetupList
  packages/webpack/template-webpack-plugin/src/LynxCacheEventsRuntimeModule.ts
  packages/webpack/template-webpack-plugin/src/LynxCacheEventsSetupListRuntimeModule.ts
Due: Webpack

fix(react/runtime): allow `lynx.reportError()` to receive string as arg (#1560)
  packages/react/runtime/src/lynx/env.ts
Due: React

chore: allow Node.js v22 for development (#1566)
  package.json
  pnpm-lock.yaml
Due: none

fix: remove redundant internal-slot for pure text children
  .changeset/curvy-sloths-unite.md
  packages/react/transform/src/swc_plugin_snapshot/jsx_helpers.rs
  packages/react/transform/src/swc_plugin_snapshot/slot_marker.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/full_static_children_new_line.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/inline_style_literal.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/inline_style_literal_unknown_property.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/mode_development_spread.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/slot_marker.rs/should_not_wrap_dynamic_part.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/slot_marker.rs/should_wrap_dynamic_part.js
Due: React

fix(rspeedy/core): make `rspeedy dev --mode production` work (#1310)
  .changeset/vast-peaches-listen.md
  packages/rspeedy/core/src/plugins/dev.plugin.ts
  packages/rspeedy/core/src/plugins/index.ts
  packages/rspeedy/core/test/cli/dev.test.ts
  packages/rspeedy/core/test/createStubRspeedy.ts
  packages/rspeedy/core/test/plugins/dev.plugin.test.ts
  packages/rspeedy/core/test/plugins/output.plugin.test.ts
  packages/rspeedy/core/test/plugins/sourcemap.plugin.test.ts
Due: Rspeedy

fix(rspeedy/react): fix aliases are missing when using in environments (#1498)
  .changeset/common-apes-look.md
  packages/rspeedy/plugin-react-alias/src/index.ts
  packages/rspeedy/plugin-react-alias/test/index.test.ts
  packages/rspeedy/plugin-react/etc/react-rsbuild-plugin.api.md
  packages/rspeedy/plugin-react/src/alias.ts
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
  packages/rspeedy/plugin-react/test/web.test.ts
Due: Rspeedy

feat: use `__CreateRawText('')` for text creation
  .changeset/many-cycles-draw.md
  packages/react/runtime/src/snapshot.ts
Due: React

Apply suggestion from @coderabbitai[bot]
  .changeset/curvy-sloths-unite.md
Due: none

chore: avoid multiple rustup installation (#1571)
  package.json
  packages/react/transform/turbo.json
  packages/web-platform/web-style-transformer/turbo.json
  turbo.json
Due: React, Web Platform

feat: add test cases
  .changeset/thirty-towns-walk.md
  packages/react/testing-library/src/__tests__/raw-text.test.jsx
  packages/testing-library/testing-environment/etc/testing-environment.api.md
  packages/testing-library/testing-environment/src/index.ts
  packages/testing-library/testing-environment/src/lynx/ElementPAPI.ts
Due: React

fix: changeset
  .changeset/curvy-sloths-unite.md
Due: none

feat: update web test snapshot
  packages/web-platform/web-tests/tests/__snapshots__/server.vitest.spec.ts.snap
Due: Web Platform

feat(react/runtime): support `setEomShouldFlushElementTree` internal api (#1383)
  .changeset/true-radios-wave.md
  packages/react/worklet-runtime/__test__/api/element.test.js
  packages/react/worklet-runtime/src/api/element.ts
  packages/react/worklet-runtime/src/bindings/bindings.ts
  packages/react/worklet-runtime/src/eomImpl.ts
  packages/react/worklet-runtime/src/global.ts
  packages/react/worklet-runtime/src/workletRuntime.ts
Due: React

fix(react/runtime): fix error in suspense (#1569)
  .changeset/rotten-queens-drum.md
  packages/react/runtime/__test__/lynx/suspense.test.jsx
  packages/react/runtime/src/backgroundSnapshot.ts
Due: React

fix: coderabbitai review
  packages/testing-library/testing-environment/src/index.ts
Due: none

feat: refactor jsx_is_children_full_dynamic to be more effective
  packages/react/transform/src/swc_plugin_snapshot/jsx_helpers.rs
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/slot_marker.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/full_static_children_comments.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/slot_marker.rs/should_not_wrap_dynamic_part.js
Due: React

feat: use `__CreateRawText('')` for text creation (#1570)
  .changeset/many-cycles-draw.md
  .changeset/thirty-towns-walk.md
  packages/react/runtime/src/snapshot.ts
  packages/react/testing-library/src/__tests__/raw-text.test.jsx
  packages/testing-library/testing-environment/etc/testing-environment.api.md
  packages/testing-library/testing-environment/src/index.ts
  packages/testing-library/testing-environment/src/lynx/ElementPAPI.ts
  packages/web-platform/web-tests/tests/__snapshots__/server.vitest.spec.ts.snap
Due: React, Web Platform

feat: revert change of @lynx-js/chunk-loading-webpack-plugin
  .changeset/cold-boats-share.md
  packages/webpack/chunk-loading-webpack-plugin/src/StartupChunkDependenciesPlugin.ts
Due: Webpack

feat: revert change of @lynx-js/template-webpack-plugin
  .changeset/cold-boats-share.md
  packages/webpack/template-webpack-plugin/package.json
  packages/webpack/template-webpack-plugin/src/LynxCacheEventsRuntimeModule.ts
  packages/webpack/template-webpack-plugin/src/LynxCacheEventsSetupListRuntimeModule.ts
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
  packages/webpack/template-webpack-plugin/test/cases/runtime-module/cache-events/index.js
  packages/webpack/template-webpack-plugin/test/cases/runtime-module/cache-events/lib-common.js
  packages/webpack/template-webpack-plugin/test/cases/runtime-module/cache-events/rspack.config.js
  packages/webpack/template-webpack-plugin/test/cases/runtime-module/cache-events/test.config.cjs
Due: Webpack

feat: add @lynx-js/cache-events-webpack-plugin for caching
  .changeset/cold-boats-share.md
  .changeset/rare-worms-vanish.md
  packages/rspeedy/core/package.json
  packages/rspeedy/core/src/plugins/chunkLoading.plugin.ts
  packages/webpack/cache-events-webpack-plugin/README.md
  packages/webpack/cache-events-webpack-plugin/api-extractor.json
  packages/webpack/cache-events-webpack-plugin/etc/cache-events-webpack-plugin.api.md
  packages/webpack/cache-events-webpack-plugin/package.json
  packages/webpack/cache-events-webpack-plugin/src/LynxCacheEventsPlugin.ts
  packages/webpack/cache-events-webpack-plugin/src/LynxCacheEventsRuntimeModule.ts
  packages/webpack/cache-events-webpack-plugin/src/LynxCacheEventsSetupListRuntimeModule.ts
  packages/webpack/cache-events-webpack-plugin/src/index.ts
  packages/webpack/cache-events-webpack-plugin/test/cases.test.ts
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/chunk-splitting-with-setupListTransformer/index.js
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/chunk-splitting-with-setupListTransformer/lib-common.js
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/chunk-splitting-with-setupListTransformer/rspack.config.js
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/chunk-splitting-with-setupListTransformer/test.config.cjs
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/chunk-splitting/index.js
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/chunk-splitting/lib-common.js
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/chunk-splitting/rspack.config.js
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/chunk-splitting/test.config.cjs
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/not-splitting/index.js
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/not-splitting/lib-common.js
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/not-splitting/rspack.config.js
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/not-splitting/test.config.cjs
  packages/webpack/cache-events-webpack-plugin/test/fixtures/basic.tsx
  packages/webpack/cache-events-webpack-plugin/tsconfig.build.json
  packages/webpack/cache-events-webpack-plugin/tsconfig.json
  packages/webpack/cache-events-webpack-plugin/vitest.config.ts
  packages/webpack/tsconfig.json
  packages/webpack/webpack-runtime-globals/etc/webpack-runtime-globals.api.md
  packages/webpack/webpack-runtime-globals/src/RuntimeGlobals.ts
  pnpm-lock.yaml
Due: Rspeedy, Webpack

chore: update api
  packages/webpack/cache-events-webpack-plugin/etc/cache-events-webpack-plugin.api.md
Due: Webpack

chore: update comments
  packages/webpack/cache-events-webpack-plugin/src/LynxCacheEventsPlugin.ts
Due: Webpack

chore: update changeset to use patch change
  .changeset/rare-worms-vanish.md
Due: none

chore: add @lynx-js/vitest-setup as dep
  .changeset/rare-worms-vanish.md
  packages/webpack/cache-events-webpack-plugin/package.json
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/chunk-splitting-with-setupListTransformer/lib-common.js
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/chunk-splitting/lib-common.js
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/not-splitting/lib-common.js
  pnpm-lock.yaml
Due: Webpack

chore: update changeset
  .changeset/chatty-monkeys-enter.md
  .changeset/cold-boats-share.md
  packages/webpack/cache-events-webpack-plugin/package.json
Due: Webpack

feat: cache events until background thread ready (#1370)
  .changeset/chatty-monkeys-enter.md
  .changeset/cold-boats-share.md
  .changeset/rare-worms-vanish.md
  packages/rspeedy/core/package.json
  packages/rspeedy/core/src/plugins/chunkLoading.plugin.ts
  packages/rspeedy/plugin-react/src/entry.ts
  packages/rspeedy/plugin-react/test/config.test.ts
  packages/webpack/cache-events-webpack-plugin/README.md
  packages/webpack/cache-events-webpack-plugin/api-extractor.json
  packages/webpack/cache-events-webpack-plugin/etc/cache-events-webpack-plugin.api.md
  packages/webpack/cache-events-webpack-plugin/package.json
  packages/webpack/cache-events-webpack-plugin/src/LynxCacheEventsPlugin.ts
  packages/webpack/cache-events-webpack-plugin/src/LynxCacheEventsRuntimeModule.ts
  packages/webpack/cache-events-webpack-plugin/src/LynxCacheEventsSetupListRuntimeModule.ts
  packages/webpack/cache-events-webpack-plugin/src/index.ts
  packages/webpack/cache-events-webpack-plugin/test/cases.test.ts
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/chunk-splitting-with-setupListTransformer/index.js
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/chunk-splitting-with-setupListTransformer/lib-common.js
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/chunk-splitting-with-setupListTransformer/rspack.config.js
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/chunk-splitting-with-setupListTransformer/test.config.cjs
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/chunk-splitting/index.js
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/chunk-splitting/lib-common.js
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/chunk-splitting/rspack.config.js
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/chunk-splitting/test.config.cjs
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/not-splitting/index.js
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/not-splitting/lib-common.js
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/not-splitting/rspack.config.js
  packages/webpack/cache-events-webpack-plugin/test/cases/cache-events/not-splitting/test.config.cjs
  packages/webpack/cache-events-webpack-plugin/test/fixtures/basic.tsx
  packages/webpack/cache-events-webpack-plugin/tsconfig.build.json
  packages/webpack/cache-events-webpack-plugin/tsconfig.json
  packages/webpack/cache-events-webpack-plugin/vitest.config.ts
  packages/webpack/tsconfig.json
  packages/webpack/webpack-runtime-globals/etc/webpack-runtime-globals.api.md
  packages/webpack/webpack-runtime-globals/src/RuntimeGlobals.ts
  pnpm-lock.yaml
Due: Rspeedy, Webpack

chore: add `@lynx-js/cache-events-webpack-plugin` to project reference (#1580)
  packages/rspeedy/core/tsconfig.build.json
  packages/rspeedy/core/tsconfig.json
Due: Rspeedy

feat: always inline the bts that contains runtime module
  .changeset/social-coins-taste.md
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-partial/index.js
Due: Webpack

feat: always inline the bts that contains runtime module (#1582)
  .changeset/social-coins-taste.md
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-partial/index.js
Due: Webpack

fix: withInitDataInState wrong state after 2nd defaultDataProcessor (#1478)
  .changeset/free-colts-listen.md
  packages/react/runtime/__test__/compat/initData.test.jsx
  packages/react/runtime/src/compat/initData.ts
  packages/react/runtime/src/lynx/tt.ts
Due: React

feat: add `@lynx-js/preact-devtools` to create-rspeedy
  .changeset/dull-needles-read.md
  .changeset/orange-swans-brake.md
  examples/react/package.json
  examples/react/src/index.tsx
  packages/rspeedy/create-rspeedy/template-react-js/package.json
  packages/rspeedy/create-rspeedy/template-react-js/src/index.jsx
  packages/rspeedy/create-rspeedy/template-react-ts/package.json
  packages/rspeedy/create-rspeedy/template-react-ts/src/index.tsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-js/package.json
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-js/src/index.jsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/package.json
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/src/index.tsx
  packages/rspeedy/plugin-react-alias/src/index.ts
  pnpm-lock.yaml
Due: Rspeedy

feat: add `@lynx-js/preact-devtools` to create-rspeedy (#1593)
  .changeset/dull-needles-read.md
  .changeset/orange-swans-brake.md
  examples/react/package.json
  examples/react/src/index.tsx
  packages/rspeedy/create-rspeedy/template-react-js/package.json
  packages/rspeedy/create-rspeedy/template-react-js/src/index.jsx
  packages/rspeedy/create-rspeedy/template-react-ts/package.json
  packages/rspeedy/create-rspeedy/template-react-ts/src/index.tsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-js/package.json
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-js/src/index.jsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/package.json
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/src/index.tsx
  packages/rspeedy/plugin-react-alias/src/index.ts
  pnpm-lock.yaml
Due: Rspeedy

fix: `fireEvent` type error in testing library
  .changeset/social-forks-juggle.md
  packages/react/testing-library/types/entry.d.ts
  packages/testing-library/examples/basic/src/__tests__/types/event.test-d.tsx
Due: React

chore: update changeset (#1594)
  .changeset/free-colts-listen.md
  .changeset/weak-animals-search.md
Due: none

feat(rspeedy): Support Promise and function in defineConfig (#1590)
  .changeset/small-rivers-arrive.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/config/defineConfig.ts
  packages/rspeedy/core/src/config/loadConfig.ts
  packages/rspeedy/core/src/config/validate.ts
  packages/rspeedy/core/test/config/defineConfig.test-d.ts
  packages/rspeedy/core/test/config/fixtures/custom/function-promise.ts
  packages/rspeedy/core/test/config/fixtures/custom/function.ts
  packages/rspeedy/core/test/config/fixtures/custom/promise.ts
  packages/rspeedy/core/test/config/loadConfig.test.ts
  packages/rspeedy/core/test/config/validate.test.ts
Due: Rspeedy

feat: remove multi-thread preheating and update related tests (#1597)
  .changeset/good-onions-go.md
  packages/web-platform/web-core/src/uiThread/bootWorkers.ts
  packages/web-platform/web-core/src/uiThread/createRenderAllOnUI.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/api-preheat-at-least-one/index.jsx
  packages/web-platform/web-tests/tests/react/api-preheat/index.jsx
  packages/web-platform/web-worker-runtime/src/index.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
Due: Web Platform

fix: assign SystemInfo to globalThis in background thread (#1599)
  .changeset/hip-apples-obey.md
  packages/web-platform/web-constants/src/types/BackThreadStartConfigs.ts
  packages/web-platform/web-constants/src/utils/generateTemplate.ts
  packages/web-platform/web-core/src/uiThread/bootWorkers.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-mainthread-apis/src/prepareMainThreadAPIs.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
  packages/web-platform/web-worker-runtime/src/global.d.ts
  packages/web-platform/web-worker-runtime/src/index.ts
Due: Web Platform

ci: add `fail-fast` to matrix jobs (#1603)
  .github/workflows/relative-ci.yml
  .github/workflows/test.yml
  .github/workflows/workflow-build.yml
  .github/workflows/workflow-bundle-analysis.yml
  packages/web-platform/web-tests/rspack.config.js
Due: Web Platform

Path conditions:
  React: any of: packages/react/**
  Rspeedy: any of: packages/rspeedy/**
  Webpack: any of: packages/webpack/**
  Web Platform: any of: packages/web-platform/**
