Repository upupming/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack, Web Platform

feat: remove __UpdateListActions
  .github/workflows/test.yml
  packages/react/runtime/__test__/utils/nativeMethod.ts
  packages/testing-library/lynx-environment/etc/lynx-environment.api.md
  packages/testing-library/lynx-environment/src/lynx/ElementPAPI.ts
Due: React

chore: update changeset
  .changeset/dull-heads-fall.md
  packages/react/testing-library/README.md
  packages/react/testing-library/types/index.d.ts
  packages/testing-library/lynx-environment/README.md
Due: React

fix: test-publish need version
  packages/react/testing-library/package.json
Due: React

feat: use `enterListItemAtIndex` and `leaveListItem`
  packages/react/testing-library/src/__tests__/list.test.jsx
  packages/testing-library/lynx-environment/package.json
  packages/testing-library/lynx-environment/src/lynx/ElementPAPI.ts
  pnpm-lock.yaml
Due: React

feat: update api
  packages/testing-library/lynx-environment/etc/lynx-environment.api.md
  packages/testing-library/lynx-environment/src/lynx/ElementPAPI.ts
Due: none

feat: update README.md
  packages/react/testing-library/README.md
  packages/react/testing-library/types/index.d.ts
  packages/testing-library/README.md
Due: React

feat: clean old files
  .dprint.jsonc
  packages/react/testing-library/.npmignore
  packages/react/testing-library/README.md
  packages/react/testing-library/src/vitest.config.js
  packages/react/testing-library/tsup.config.ts
  packages/react/testing-library/vitest.config.ts
  packages/testing-library/examples/basic/vitest.config.ts
  pnpm-workspace.yaml
Due: React

feat: make @testing-library/jest-dom and @lynx-js/lynx-environment as dep
  packages/react/package.json
  packages/react/testing-library/README.md
  packages/react/testing-library/src/vitest.config.js
  pnpm-lock.yaml
Due: React

feat: rename to @lynx-js/test-environment
  .changeset/dull-heads-fall.md
  packages/react/package.json
  packages/react/testing-library/README.md
  packages/react/testing-library/etc/react-lynx-testing-library.api.md
  packages/react/testing-library/src/vitest.config.js
  packages/react/testing-library/types/index.d.ts
  packages/testing-library/README.md
  packages/testing-library/examples/basic/package.json
  packages/testing-library/test-environment/README.md
  packages/testing-library/test-environment/api-extractor.json
  packages/testing-library/test-environment/etc/test-environment.api.md
  packages/testing-library/test-environment/package.json
  packages/testing-library/test-environment/rslib.config.ts
  packages/testing-library/test-environment/src/__tests__/basic.test.js
  packages/testing-library/test-environment/src/__tests__/to-have-text-content.test.js
  packages/testing-library/test-environment/src/env/vitest/index.ts
  packages/testing-library/test-environment/src/index.ts
  packages/testing-library/test-environment/src/lynx/ElementPAPI.ts
  packages/testing-library/test-environment/src/lynx/GlobalThis.ts
  packages/testing-library/test-environment/src/util.ts
  packages/testing-library/test-environment/tsconfig.json
  packages/testing-library/test-environment/turbo.json
  packages/testing-library/test-environment/vitest.config.mts
  pnpm-lock.yaml
Due: React

feat: remove sourceMap: true
  packages/testing-library/test-environment/rslib.config.ts
  pnpm-lock.yaml
Due: none

fix: dep
  packages/react/package.json
  pnpm-lock.yaml
Due: React

feat: remove not needed deps (jsdom) from @lynx-js/test-environment
  packages/testing-library/test-environment/package.json
  packages/testing-library/test-environment/src/env/vitest/index.ts
  packages/testing-library/test-environment/src/index.ts
  pnpm-lock.yaml
Due: none

feat: jsdom install prompt
  packages/react/testing-library/src/vitest.config.js
  packages/react/testing-library/types/vitest-config.d.ts
  packages/react/testing-library/vitest.config.ts
  packages/testing-library/examples/basic/vitest.config.ts
Due: React

feat: prebundle packages
  packages/react/package.json
  packages/react/testing-library/loaders/jsx-loader.js
  packages/react/testing-library/package.json
  packages/react/testing-library/rslib.config.ts
  packages/react/testing-library/turbo.json
  packages/react/turbo.json
  packages/testing-library/test-environment/src/index.ts
  pnpm-lock.yaml
Due: React

chore: crop deps
  packages/react/testing-library/src/__tests__/act.test.jsx
  packages/testing-library/examples/basic/lynx.config.ts
  packages/testing-library/examples/basic/package.json
  packages/testing-library/examples/basic/src/App.tsx
  packages/testing-library/examples/basic/tsconfig.json
  packages/testing-library/test-environment/package.json
  pnpm-lock.yaml
Due: React

feat: add rltl to create-rspeedy
  .github/workflows/test.yml
  cspell.jsonc
  packages/react/testing-library/.npmignore
  packages/react/testing-library/rslib.config.ts
  packages/react/testing-library/src/__tests__/act.test.jsx
  packages/react/testing-library/src/__tests__/end-to-end.test.jsx
  packages/react/testing-library/src/__tests__/list.test.jsx
  packages/react/testing-library/src/__tests__/render.test.jsx
  packages/react/testing-library/src/__tests__/worklet.test.jsx
  packages/react/testing-library/src/env/vitest.ts
  packages/react/testing-library/src/pure.jsx
  packages/react/testing-library/src/vitest.config.js
  packages/react/testing-library/turbo.json
  packages/react/testing-library/vitest.config.ts
  packages/rspeedy/create-rspeedy/src/index.ts
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-js/lynx.config.js
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-js/package.json
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-js/src/App.jsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-js/src/__tests__/index.test.jsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-js/src/index.js
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-js/vitest.config.js
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/lynx.config.ts
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/package.json
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/src/App.tsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/src/__tests__/index.test.tsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/src/index.tsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/src/rspeedy-env.d.ts
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/tsconfig.json
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/vitest.config.ts
  packages/testing-library/test-environment/etc/test-environment.api.md
  packages/testing-library/test-environment/src/env/vitest/index.ts
  packages/testing-library/test-environment/src/lynx/ElementPAPI.ts
  vitest.config.ts
Due: React, Rspeedy

feat: unref and events cases
  packages/react/testing-library/src/__tests__/events.test.jsx
  packages/react/testing-library/src/__tests__/ref.test.jsx
  packages/react/testing-library/src/fire-event.ts
  packages/react/testing-library/src/pure.jsx
  packages/react/testing-library/src/vitest.config.js
  packages/testing-library/test-environment/src/index.ts
Due: React

feat: more ref cases
  packages/react/testing-library/src/__tests__/ref.test.jsx
Due: React

fix: unmount ui updates
  packages/react/testing-library/src/__tests__/ref.test.jsx
  packages/react/testing-library/src/pure.jsx
Due: React

fix: remove not needed null set
  packages/react/testing-library/src/__tests__/ref.test.jsx
Due: React

fix: clear code
  .changeset/dull-heads-fall.md
  packages/react/testing-library/src/__tests__/ref.test.jsx
Due: React

fix(testing-library): correct link in tsdoc
  .changeset/hip-seals-read.md
  packages/testing-library/test-environment/src/lynx/ElementPAPI.ts
Due: none

fix: bundle result of `experimental_isLazyBundle: true` on development mode
  .changeset/short-crabs-lead.md
  packages/rspeedy/plugin-react/src/entry.ts
  packages/rspeedy/plugin-react/test/fixtures/standalone-lazy-bundle/index.tsx
  packages/rspeedy/plugin-react/test/lazy.test.ts
  packages/webpack/react-webpack-plugin/src/loaders/options.ts
  packages/webpack/runtime-wrapper-webpack-plugin/etc/runtime-wrapper-webpack-plugin.api.md
  packages/webpack/runtime-wrapper-webpack-plugin/src/RuntimeWrapperWebpackPlugin.ts
Due: Rspeedy, Webpack

feat: add config test and use prepend for entry
  .changeset/better-crews-wash.md
  .changeset/short-crabs-lead.md
  .changeset/vast-trains-wave.md
  packages/rspeedy/plugin-react/src/entry.ts
  packages/rspeedy/plugin-react/test/config.test.ts
Due: Rspeedy

feat: rename to @lynx-js/testing-environment
  .changeset/fluffy-insects-eat.md
  packages/react/runtime/src/lynx.ts
  packages/react/runtime/src/lynx/env.ts
  packages/react/testing-library/README.md
  packages/react/testing-library/etc/react-lynx-testing-library.api.md
  packages/react/testing-library/package.json
  packages/react/testing-library/src/__tests__/end-to-end.test.jsx
  packages/react/testing-library/src/__tests__/rerender.test.jsx
  packages/react/testing-library/src/env/vitest.ts
  packages/react/testing-library/src/fire-event.ts
  packages/react/testing-library/src/index.jsx
  packages/react/testing-library/src/pure.jsx
  packages/react/testing-library/src/vitest-global-setup.js
  packages/react/testing-library/turbo.json
  packages/react/testing-library/types/entry.d.ts
  packages/react/testing-library/types/index.d.ts
  packages/react/turbo.json
  packages/testing-library/README.md
  packages/testing-library/testing-environment/CHANGELOG.md
  packages/testing-library/testing-environment/README.md
  packages/testing-library/testing-environment/api-extractor.json
  packages/testing-library/testing-environment/etc/test-environment.api.md
  packages/testing-library/testing-environment/package.json
  packages/testing-library/testing-environment/rslib.config.ts
  packages/testing-library/testing-environment/src/__tests__/basic.test.js
  packages/testing-library/testing-environment/src/__tests__/to-have-text-content.test.js
  packages/testing-library/testing-environment/src/env/vitest/index.ts
  packages/testing-library/testing-environment/src/index.ts
  packages/testing-library/testing-environment/src/lynx/ElementPAPI.ts
  packages/testing-library/testing-environment/src/lynx/GlobalThis.ts
  packages/testing-library/testing-environment/src/util.ts
  packages/testing-library/testing-environment/tsconfig.json
  packages/testing-library/testing-environment/turbo.json
  packages/testing-library/testing-environment/vitest.config.mts
  pnpm-lock.yaml
Due: React

feat: short LynxTestingEnvironment to LynxTestingEnv
  .changeset/young-seals-train.md
  packages/react/runtime/src/lynx.ts
  packages/react/runtime/src/lynx/env.ts
  packages/react/testing-library/api-extractor.json
  packages/react/testing-library/etc/react-lynx-testing-library.api.md
  packages/react/testing-library/package.json
  packages/react/testing-library/src/__tests__/end-to-end.test.jsx
  packages/react/testing-library/src/__tests__/rerender.test.jsx
  packages/react/testing-library/src/fire-event.ts
  packages/react/testing-library/src/index.jsx
  packages/react/testing-library/src/pure.jsx
  packages/react/testing-library/src/vitest-global-setup.js
  packages/react/testing-library/types/entry.d.ts
  packages/react/testing-library/types/index.d.ts
  packages/testing-library/testing-environment/README.md
  packages/testing-library/testing-environment/etc/test-environment.api.md
  packages/testing-library/testing-environment/src/__tests__/basic.test.js
  packages/testing-library/testing-environment/src/__tests__/to-have-text-content.test.js
  packages/testing-library/testing-environment/src/env/vitest/index.ts
  packages/testing-library/testing-environment/src/index.ts
  packages/testing-library/testing-environment/src/lynx/ElementPAPI.ts
Due: React

fix: correct link to testing library docs
  .changeset/weak-clouds-care.md
  packages/react/testing-library/etc/react-lynx-testing-library.api.md
  packages/testing-library/README.md
  packages/testing-library/testing-environment/README.md
Due: React

fix(react/runtime): fix some types of MTS(2) (#822)
  packages/react/runtime/src/snapshot/spread.ts
  packages/react/runtime/src/snapshot/workletEvent.ts
Due: React

test(react/runtime): reset MainThreadRef id before each test case (#824)
  packages/react/runtime/__test__/snapshot/workletRef.test.jsx
  packages/react/runtime/__test__/utils/envManager.ts
  packages/react/runtime/__test__/worklet/workletRef.test.jsx
  packages/react/runtime/src/worklet/workletRef.ts
Due: React

refactor(react/runtime): rename _id to _wvid in MainThreadRef (#825)
  packages/react/runtime/src/snapshot/workletRef.ts
  packages/react/runtime/src/worklet/workletRef.ts
Due: React

feat(react/runtime): add context tracking for worklet execution (#826)
  packages/react/worklet-runtime/__test__/workletRuntime.test.js
  packages/react/worklet-runtime/src/ctxTrace.ts
  packages/react/worklet-runtime/src/workletRuntime.ts
Due: React

chore: add missing changeset (#827)
  .changeset/chatty-bottles-tickle.md
Due: none

ci: set `persist-credentials: false` (#829)
  .github/workflows/deploy-main.yml
  .github/workflows/nodejs-dependencies.yml
  .github/workflows/rust.yml
  .github/workflows/test.yml
  .github/workflows/workflow-bench.yml
  .github/workflows/workflow-build.yml
  .github/workflows/workflow-test.yml
  .github/workflows/workflow-website.yml
Due: none

chore: fix codeql warning (#831)
  .changeset/quick-kids-chew.md
  .github/codeql-config.yml
  packages/rspeedy/create-rspeedy/template-react-js/lynx.config.js
  packages/rspeedy/create-rspeedy/template-react-js/src/index.jsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-js/lynx.config.js
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-js/src/index.jsx
Due: Rspeedy

ci: disable bundle-analysis in merge queue (#832)
  .github/workflows/test.yml
  .github/workflows/workflow-bundle-analysis.yml
Due: none

ci: set default minimum permissions (#830)
  .github/workflows/deploy-main.yml
  .github/workflows/nodejs-dependencies.yml
  .github/workflows/rust.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/workflow-test.yml
Due: none

feat: reapply "feat(webpack): add StartupChunkDependenciesRuntimeModule to fix chunk splitting" (#798)
  .changeset/flat-hats-flow.md
  packages/webpack/chunk-loading-webpack-plugin/src/ChunkLoadingWebpackPlugin.ts
  packages/webpack/chunk-loading-webpack-plugin/src/StartupChunkDependenciesPlugin.ts
  packages/webpack/chunk-loading-webpack-plugin/src/StartupChunkDependenciesRuntimeModule.ts
  packages/webpack/chunk-loading-webpack-plugin/src/StartupEntrypointRuntimeModule.ts
Due: Webpack

docs(react/transform): add docs for `compat` (#841)
  .changeset/eager-chefs-relate.md
  packages/react/transform/index.d.ts
  packages/react/transform/src/swc_plugin_compat/mod.rs
Due: React

docs(react/transform): add docs for `shake` (#843)
  .changeset/ten-pigs-hear.md
  packages/react/transform/index.d.ts
  packages/react/transform/src/swc_plugin_shake/mod.rs
Due: React

Path conditions:
  React: any of: packages/react/**
  Rspeedy: any of: packages/rspeedy/**
  Webpack: any of: packages/webpack/**
  Web Platform: any of: packages/web-platform/**
