Repository upupming/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack, Web Platform

feat(rspeedy/qrcode): support autocomplete (#902)
  .changeset/cool-nights-admire.md
  packages/rspeedy/plugin-qrcode/package.json
  packages/rspeedy/plugin-qrcode/src/shortcuts.ts
  pnpm-lock.yaml
Due: Rspeedy

fix(rspeedy/core): `output.inlineScripts` should defaults to `true` (#910)
  .changeset/solid-birds-vanish.md
  packages/rspeedy/core/src/config/rsbuild/index.ts
  packages/rspeedy/core/test/config/output/inline-scripts.test.ts
  packages/rspeedy/core/test/config/rsbuild.test.ts
Due: Rspeedy

fix(rspeedy/plugin-react): be compatible with @lynx-js/rspeedy <= 0.9.6 (#914)
  .changeset/cold-jars-doubt.md
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
  packages/rspeedy/plugin-react/test/basic.test.ts
  packages/rspeedy/plugin-react/test/config.test.ts
Due: Rspeedy

feat(web): supports lynx.getElementById() && animate() (#912)
  .changeset/loud-zoos-vanish.md
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-constants/src/types/Element.ts
  packages/web-platform/web-constants/src/types/index.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerTriggerElementMethodEndpointHandler.ts
  packages/web-platform/web-core/src/uiThread/startBackground.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/api-animate/animate/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/api-animate/animate/index-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/api-animate/animate/index-webkit-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/api-animate/initial/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/api-animate/initial/index-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/api-animate/initial/index-webkit-linux.png
  packages/web-platform/web-tests/tests/react/api-animate/index.jsx
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createBackgroundLynx.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createElement.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/startBackgroundThread.ts
Due: Web Platform

chore(webpack/chunk-loading): minor bump for updating peerDependencies @rspack/core (#921)
  .changeset/icy-paths-battle.md
  packages/webpack/chunk-loading-webpack-plugin/package.json
Due: Webpack

feat(web): lynx-view support updateGlobalProps (#918)
  .changeset/fuzzy-years-stop.md
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-constants/src/types/NativeApp.ts
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-core/src/apis/createLynxView.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-tests/shell-project/lynx-view.ts
  packages/web-platform/web-tests/shell-project/web-core.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/api-updateGlobalProps/blue/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/api-updateGlobalProps/blue/index-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/api-updateGlobalProps/blue/index-webkit-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/api-updateGlobalProps/initial/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/api-updateGlobalProps/initial/index-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/api-updateGlobalProps/initial/index-webkit-linux.png
  packages/web-platform/web-tests/tests/react/api-updateGlobalProps/index.jsx
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/crossThreadHandlers/registerUpdateGlobalPropsHandler.ts
Due: Web Platform

fix(eslint): update copyright header format and year pattern (#911)
  eslint.config.js
Due: none

chore: pick release branch (#924)
  .changeset/cold-jars-doubt.md
  .changeset/icy-paths-battle.md
  .changeset/solid-birds-vanish.md
  packages/rspeedy/core/CHANGELOG.md
  packages/rspeedy/core/package.json
  packages/rspeedy/create-rspeedy/CHANGELOG.md
  packages/rspeedy/create-rspeedy/package.json
  packages/rspeedy/plugin-react-alias/CHANGELOG.md
  packages/rspeedy/plugin-react-alias/package.json
  packages/rspeedy/plugin-react/CHANGELOG.md
  packages/rspeedy/plugin-react/package.json
  packages/rspeedy/upgrade-rspeedy/CHANGELOG.md
  packages/rspeedy/upgrade-rspeedy/package.json
  packages/webpack/chunk-loading-webpack-plugin/CHANGELOG.md
  packages/webpack/chunk-loading-webpack-plugin/package.json
Due: Rspeedy, Webpack

fix(eslint): allow preact imports in no-extraneous-import rule (#925)
  eslint.config.js
Due: none

feat: support to dump the ssrID (#919)
  .changeset/dull-moons-scream.md
  .changeset/eighty-trees-appear.md
  packages/web-platform/offscreen-document/src/webworker/OffscreenDocument.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenElement.ts
  packages/web-platform/offscreen-document/src/webworker/index.ts
  packages/web-platform/web-core-server/src/createLynxView.ts
  packages/web-platform/web-core-server/src/dumpHTMLString.ts
  packages/web-platform/web-tests/tests/__snapshots__/server.vitest.spec.ts.snap
Due: Web Platform

refactor(react/runtime): try enabling eslint for MTS (#916)
  eslint.config.js
  packages/react/runtime/src/worklet/execMap.ts
  packages/react/runtime/src/worklet/functionality.ts
  packages/react/runtime/src/worklet/hmr.ts
  packages/react/runtime/src/worklet/indexMap.ts
Due: React

fix(web): x-foldview-ng overflow-y: scroll add important to avoid bei… (#932)
  .changeset/fresh-clowns-crash.md
  packages/web-platform/web-elements/src/XFoldViewNg/x-foldview-ng.css
Due: Web Platform

fix: typos (#885)
  .changeset/eighty-crabs-serve.md
  .github/workflows/test.yml
  .typos.toml
  cspell.jsonc
  packages/react/runtime/__test__/list.test.jsx
  packages/react/runtime/__test__/renderToOpcodes.test.jsx
  packages/react/runtime/__test__/utils/runtimeProxy.ts
  packages/react/runtime/src/list.ts
  packages/react/runtime/src/lynx/calledByNative.ts
  packages/react/transform/__test__/fixture.spec.js
  packages/react/transform/src/swc_plugin_compat/simplify_ctor_like_react_lynx_2.rs
  packages/react/transform/src/swc_plugin_refresh/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_refresh/mod.rs/should_handle_init_value.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_escape_newline_character.js
  packages/rspeedy/plugin-react/src/splitChunks.ts
  packages/web-platform/offscreen-document/package.json
  packages/web-platform/web-constants/src/types/UpdateDataOptions.ts
  packages/web-platform/web-core-server/src/createLynxView.ts
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerInvokeUIMethodHandler.ts
  packages/web-platform/web-elements-reactive/src/component.ts
  packages/web-platform/web-elements-reactive/src/registerStyleChangeHandler.ts
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewNgEvents.ts
  packages/web-platform/web-elements/src/XText/XTextTruncation.ts
  packages/web-platform/web-elements/src/XText/x-text.css
  packages/web-platform/web-elements/src/common/CommonEventsAndMethods.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/style/styleFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/style/transformInlineStyle.ts
  packages/web-platform/web-style-transformer/src/transformLynxStyles.ts
  packages/web-platform/web-tests/playwright.config.ts
  packages/web-platform/web-tests/shell-project/mainthread-test.ts
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
  packages/webpack/css-extract-webpack-plugin/src/util.ts
  packages/webpack/css-extract-webpack-plugin/test/diagnostic.test.ts
  packages/webpack/react-webpack-plugin/test/diagnostic.test.ts
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
  packages/webpack/template-webpack-plugin/src/web/genStyleInfo.ts
Due: React, Rspeedy, Webpack, Web Platform

fix: rename typos to test-typos and include it in jobs.done.needs (#937)
  .changeset/silent-rules-serve.md
  .github/workflows/test.yml
Due: none

chore(deps): pin `@lynx-js/types` to v3.3.0 (#938)
  examples/react/package.json
  packages/react/package.json
  packages/react/worklet-runtime/package.json
  packages/rspeedy/create-rspeedy/template-react-ts/package.json
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/package.json
  packages/rspeedy/upgrade-rspeedy/package.json
  packages/third-party/tailwind-preset/package.json
  pnpm-lock.yaml
Due: React, Rspeedy

chore(web): update web-elements README about list (#934)
  .changeset/smart-regions-dig.md
  packages/web-platform/web-elements-template/README.md
  packages/web-platform/web-elements/README.md
Due: Web Platform

ci(deps): update lynx-infra/cache digest to 2a450c2 (#944)
  .github/workflows/workflow-bench.yml
  .github/workflows/workflow-build.yml
  .github/workflows/workflow-bundle-analysis.yml
  .github/workflows/workflow-test.yml
  .github/workflows/workflow-website.yml
Due: none

fix(web): style loss when enableCSSSelector and enableRemoveCSSScope are turned off (#931)
  .changeset/busy-vans-heal.md
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-mainthread-apis/src/utils/processStyleInfo.ts
  packages/web-platform/web-tests/shell-project/web-core.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/config-mixed-01.config.ts
  packages/web-platform/web-tests/tests/react/config-mixed-01/index.css
  packages/web-platform/web-tests/tests/react/config-mixed-01/index.jsx
Due: Web Platform

perf(react): reduce calls to __AddInlineStyle by pass non-literal object directly to __SetInlineStyles (#941)
  .changeset/nasty-results-listen.md
  packages/react/transform/src/css.rs
  packages/react/transform/src/css_property.rs
  packages/react/transform/src/lib.rs
  packages/react/transform/src/swc_plugin_snapshot/attr_name.rs
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_extract_css_id.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_extract_css_id_dynamic_component.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_extract_css_id_dynamic_component_without_css_id.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_extract_css_id_without_css_id.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_static_extract_dynamic_inline_style.js
Due: React

Revert "chore(deps): update dependency @rsbuild/core to v1.3.22" (#950)
  .changeset/green-rings-remain.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Revert "chore(deps): update rspack monorepo to v1.3.12" (#951)
  .changeset/major-chairs-take.md
  packages/rspeedy/core/test/config/validate.test.ts
  packages/webpack/react-webpack-plugin/src/ReactWebpackPlugin.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: Rspeedy, Webpack

chore: use https to download from apt (#966)
  .github/actions/setup-playwright/action.yml
  .github/workflows/workflow-bench.yml
  .github/workflows/workflow-test.yml
Due: none

ci: add `timeout-minutes` for all jobs (#961)
  .github/workflows/code-scanning.yml
  .github/workflows/deploy-main.yml
  .github/workflows/nodejs-dependencies.yml
  .github/workflows/pull-request-content-check.yml
  .github/workflows/relative-ci.yml
  .github/workflows/rust.yml
  .github/workflows/test.yml
  .github/workflows/workflow-bench.yml
  .github/workflows/workflow-build.yml
  .github/workflows/workflow-bundle-analysis.yml
  .github/workflows/workflow-test.yml
  .github/workflows/workflow-website.yml
Due: none

feat(create-rspeedy): add extending `GlobalProps` example (#959)
  .changeset/metal-pillows-kneel.md
  packages/rspeedy/create-rspeedy/template-react-ts/src/rspeedy-env.d.ts
Due: Rspeedy

chore: remove cspell (#964)
  .changeset/grumpy-suits-turn.md
  .cspell/contributors.txt
  .cspell/lynx.txt
  .cspell/preact.txt
  .cspell/rspack.txt
  .dprint.jsonc
  .github/renovate.json5
  .github/workflows/test.yml
  .lintstagedrc.mjs
  biome.jsonc
  cspell.jsonc
  package.json
  packages/react/testing-library/src/__tests__/events.test.jsx
  packages/react/transform/Cargo.toml
  packages/react/transform/__test__/css/object-lit-style.spec.js
  packages/react/transform/__test__/fixture.spec.js
  packages/react/transform/scripts/build_wasm.js
  packages/react/transform/src/wasm.js
  packages/rspeedy/core/src/plugins/sourcemap.plugin.ts
  packages/rspeedy/core/test/config/validate.test.ts
  packages/rspeedy/core/test/plugins/sourcemap.plugin.test.ts
  packages/rspeedy/plugin-react/src/loaders.ts
  packages/rspeedy/plugin-react/src/loaders/ignore-css-loader.ts
  packages/rspeedy/plugin-react/test/config.test.ts
  packages/rspeedy/plugin-react/test/validate.test.ts
  packages/webpack/react-webpack-plugin/test/cases/typescript/type-import/e.ts
  packages/webpack/react-webpack-plugin/test/cases/typescript/type-import/foo.ts
  packages/webpack/test-tools/src/hot.ts
  pnpm-lock.yaml
  vitest.config.ts
  website/docs/en/guide/css.mdx
  website/src/styles/external-links.scss
Due: React, Rspeedy, Webpack

refactor(rspeedy/plugin-react-alias): resolve runtime packages in parallel using Promise.all (#955)
  .changeset/forty-files-design.md
  packages/rspeedy/plugin-react-alias/src/index.ts
Due: Rspeedy

ci: add default permission (#968)
  .github/workflows/workflow-bench.yml
  .github/workflows/workflow-build.yml
  .github/workflows/workflow-website.yml
Due: none

ci: not restore cache from same PR (#969)
  .github/workflows/workflow-build.yml
Due: none

fix(rspeedy/core): remove the default `output.iife: false` (#949)
  .changeset/gold-eggs-fry.md
  packages/rspeedy/core/src/plugins/chunkLoading.plugin.ts
  packages/rspeedy/core/test/plugins/__snapshots__/output.plugin.test.ts.snap
  packages/rspeedy/core/test/plugins/chunkLoading.plugin.test.ts
Due: Rspeedy

feat(web): pageConfig add new source (#884)
  .changeset/puny-monkeys-rule.md
  packages/webpack/template-webpack-plugin/src/WebEncodePlugin.ts
  packages/webpack/template-webpack-plugin/test/cases/web/page-config/a.js
  packages/webpack/template-webpack-plugin/test/cases/web/page-config/b.js
  packages/webpack/template-webpack-plugin/test/cases/web/page-config/rspack.config.js
  packages/webpack/template-webpack-plugin/test/cases/web/page-config/test.config.cjs
Due: Webpack

feat(react/runtime): support 'main-thread' as an alias for 'main thread' (#970)
  .changeset/fresh-guests-wish.md
  packages/react/transform/src/swc_plugin_worklet/mod.rs
  packages/react/transform/src/swc_plugin_worklet/worklet_type.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_worklet/mod.rs/should_transform_lepus_alias.js
Due: React

Revert "feat(rspeedy/qrcode): support autocomplete" (#973)
  .changeset/cool-nights-admire.md
  packages/rspeedy/plugin-qrcode/package.json
  packages/rspeedy/plugin-qrcode/src/shortcuts.ts
  pnpm-lock.yaml
Due: Rspeedy

fix(rspeedy/core): avoid `source.alias` warning (#971)
  .changeset/violet-kiwis-know.md
  packages/rspeedy/core/src/config/rsbuild/index.ts
  packages/rspeedy/core/test/cli/inspect.test.ts
  packages/rspeedy/core/test/config/rsbuild.test.ts
Due: Rspeedy

fix(webpack/react): add missing semicolon (#972)
  .changeset/deep-views-join.md
  packages/webpack/react-webpack-plugin/src/ReactWebpackPlugin.ts
Due: Webpack

ci: use minimal permission (#974)
  .github/workflows/workflow-bench.yml
  .github/workflows/workflow-build.yml
  .github/workflows/workflow-website.yml
Due: none

feat: introduce `@lynx-js/use-sync-external-store` (#899)
  biome.jsonc
  eslint.config.js
  packages/use-sync-external-store/LICENSE
  packages/use-sync-external-store/README.md
  packages/use-sync-external-store/index.d.ts
  packages/use-sync-external-store/index.js
  packages/use-sync-external-store/package.json
  packages/use-sync-external-store/test/use-sync-external-store.test-d.ts
  packages/use-sync-external-store/test/use-synx-external-store.test.ts
  packages/use-sync-external-store/tsconfig.json
  packages/use-sync-external-store/vitest.config.ts
  packages/use-sync-external-store/with-selector.d.ts
  packages/use-sync-external-store/with-selector.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vitest.workspace.json
Due: none

feat(web): add new pageConfig configuration: enableJSDataProcessor (#886)
  .changeset/curly-trams-notice.md
  packages/web-platform/web-constants/src/types/PageConfig.ts
  packages/web-platform/web-mainthread-apis/src/prepareMainThreadAPIs.ts
Due: Web Platform

refactor: move some internal status to dom's attribute (#945)
  .changeset/busy-suits-build.md
  packages/web-platform/web-constants/src/constants.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/ElementThreadElement.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/elementCreating/elementCreatingFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/event/eventFunctions.ts
  packages/web-platform/web-mainthread-apis/src/utils/createCrossThreadEvent.ts
  packages/web-platform/web-tests/shell-project/mainthread-test.ts
  packages/web-platform/web-tests/tests/__snapshots__/server.vitest.spec.ts.snap
Due: Web Platform

refactor: save dataset on an attribute (#981)
  .changeset/funny-otters-yawn.md
  packages/web-platform/web-constants/src/constants.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/ElementThreadElement.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/attributeAndProperty/attributeAndPropertyFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/elementCreating/elementCreatingFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/event/eventFunctions.ts
  packages/web-platform/web-mainthread-apis/src/utils/createCrossThreadEvent.ts
  packages/web-platform/web-mainthread-apis/src/utils/createExposureService.ts
Due: Web Platform

refactor: move component config info to attribute (#984)
  .changeset/eight-ghosts-shake.md
  packages/web-platform/web-constants/src/constants.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/ElementThreadElement.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/attributeAndProperty/attributeAndPropertyFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/elementCreating/elementCreatingFunctions.ts
Due: Web Platform

Path conditions:
  React: any of: packages/react/**
  Rspeedy: any of: packages/rspeedy/**
  Webpack: any of: packages/webpack/**
  Web Platform: any of: packages/web-platform/**
