Repository upupming/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack, Web Platform

fix(genui): prevent data model prototype pollution (#3407)
  .github/genui-playground.instructions.md
  packages/genui/playground/src/hooks/useConversation.ts
  packages/genui/playground/src/storage/conversationSnapshot.test.ts
  packages/genui/playground/src/storage/conversationSnapshot.ts
Due: none

fix(react): hydrate nested worklets from their bound context (#3958)
  .changeset/fix-nested-worklet-hydration.md
  .github/react-runtime.instructions.md
  packages/react/runtime/__test__/worklet-runtime/hydrate.test.js
  packages/react/runtime/__test__/worklet-runtime/runOnBackground.test.js
  packages/react/runtime/__test__/worklet-runtime/workletRuntime.test.js
  packages/react/runtime/src/worklet-runtime/bindings/types.ts
  packages/react/runtime/src/worklet-runtime/hydrate.ts
  packages/react/runtime/src/worklet-runtime/workletRuntime.ts
Due: React

fix(ui-judge): unify screenshot settling defaults at 100 ms (#3989)
  .github/ui-judge.instructions.md
  packages/genui/ui-judge/README.md
  packages/genui/ui-judge/src/headless.rs
  packages/genui/ui-judge/src/server.rs
Due: none

test(react): add Element Template CodSpeed benchmarks (#3988)
  .github/workflows/workflow-bench.yml
  benchmark/react/README.md
  benchmark/react/lynx.config.js
  benchmark/react/lynx.et.config.js
  benchmark/react/package.json
  benchmark/react/plugins/pluginRepoFilePath.mjs
  benchmark/react/plugins/pluginScriptLoad.mjs
  benchmark/react/rspeedy-env.d.ts
  benchmark/react/src/hook.ts
  benchmark/react/tsconfig.json
  packages/lynx/benchx_cli/scripts/build_unix.sh
Due: none

fix(ui-judge): recover completed screenshots after SIGSEGV (#3992)
  .github/ui-judge.instructions.md
  packages/genui/ui-judge/README.md
  packages/genui/ui-judge/src/server.rs
Due: none

test(react): label Element Template benchmark names (#3991)
  benchmark/react/README.md
  benchmark/react/plugins/pluginScriptLoad.mjs
  benchmark/react/src/UpdateBenchmark.ts
  benchmark/react/src/patchProfile.ts
Due: none

docs(website): refresh the Rspeedy guides from lynx-website
  website/docs/en/guide/assets.md
  website/docs/en/guide/build-profiling.mdx
  website/docs/en/guide/cli.md
  website/docs/en/guide/css.mdx
  website/docs/en/guide/external-bundle.mdx
  website/docs/en/guide/output.md
  website/docs/en/guide/plugin.md
  website/docs/en/guide/resolve.md
  website/docs/en/guide/runtime-profiling.md
  website/docs/en/guide/typescript.md
  website/docs/en/guide/upgrade-rspeedy.md
  website/docs/en/guide/use-rsdoctor.mdx
  website/docs/zh/guide/assets.md
  website/docs/zh/guide/build-profiling.mdx
  website/docs/zh/guide/cli.md
  website/docs/zh/guide/css.mdx
  website/docs/zh/guide/external-bundle.mdx
  website/docs/zh/guide/output.md
  website/docs/zh/guide/plugin.md
  website/docs/zh/guide/resolve.md
  website/docs/zh/guide/runtime-profiling.md
  website/docs/zh/guide/typescript.md
  website/docs/zh/guide/upgrade-rspeedy.md
  website/docs/zh/guide/use-rsdoctor.mdx
  website/rspress.config.ts
  website/theme/Layout.tsx
Due: none

docs(website): format with dprint
  website/docs/en/guide/assets.md
  website/docs/en/guide/upgrade-rspeedy.md
  website/docs/zh/guide/assets.md
  website/docs/zh/guide/upgrade-rspeedy.md
Due: none

docs(website): fix the API reference links in the refreshed guides
  website/docs/en/guide/assets.md
  website/docs/en/guide/output.md
  website/docs/en/guide/plugin.md
  website/docs/en/guide/resolve.md
  website/docs/en/guide/runtime-profiling.md
  website/docs/zh/guide/assets.md
  website/docs/zh/guide/output.md
  website/docs/zh/guide/plugin.md
  website/docs/zh/guide/resolve.md
  website/docs/zh/guide/runtime-profiling.md
Due: none

docs(website): format with dprint
  website/docs/en/guide/assets.md
  website/docs/en/guide/output.md
  website/docs/en/guide/resolve.md
  website/docs/en/guide/runtime-profiling.md
  website/docs/zh/guide/assets.md
  website/docs/zh/guide/output.md
  website/docs/zh/guide/resolve.md
  website/docs/zh/guide/runtime-profiling.md
Due: none

docs(website): satisfy eslint in the refreshed guides
  website/docs/en/guide/assets.md
  website/docs/en/guide/typescript.md
  website/docs/zh/guide/assets.md
  website/docs/zh/guide/resolve.md
  website/docs/zh/guide/typescript.md
Due: none

perf(react): optimize matching Element Template hydration (#3990)
  packages/react/runtime/__test__/element-template/runtime/background/hydrate.test.ts
  packages/react/runtime/src/element-template/background/hydrate.ts
Due: React

fix(rspeedy): leave dev.progressBar off by default like Rsbuild (#3969)
  .changeset/rspeedy-progress-bar-default.md
  packages/rspeedy/core/src/config/dev/index.ts
  packages/rspeedy/core/src/config/rsbuild/index.ts
  packages/rspeedy/core/test/config/rsbuild.test.ts
  packages/rspeedy/core/test/plugins/dev.plugin.test.ts
Due: Rspeedy

docs(website): correct the output trees and the Rstack links
  website/docs/en/guide/assets.md
  website/docs/en/guide/output.md
  website/docs/en/guide/plugin.md
  website/docs/en/guide/use-rsdoctor.mdx
  website/docs/zh/guide/output.md
  website/docs/zh/guide/plugin.md
  website/docs/zh/guide/use-rsdoctor.mdx
Due: none

docs(website): name the external bundle output correctly
  website/docs/en/guide/external-bundle.mdx
  website/docs/zh/guide/external-bundle.mdx
Due: none

fix(react): keep both layers of a lazy bundle named by webpackChunkName
  .changeset/named-lazy-bundle-layers.md
  packages/react/transform/crates/swc_plugin_dynamic_import/lib.rs
  packages/webpack/react-webpack-plugin/src/ReactWebpackPlugin.ts
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
Due: React, Webpack

test(react-webpack-plugin): cover a lazy bundle named by webpackChunkName
  packages/webpack/react-webpack-plugin/test/cases/code-splitting/named-chunk-layers/comp.jsx
  packages/webpack/react-webpack-plugin/test/cases/code-splitting/named-chunk-layers/index.jsx
  packages/webpack/react-webpack-plugin/test/cases/code-splitting/named-chunk-layers/rspack.config.js
  packages/webpack/react-webpack-plugin/test/cases/code-splitting/named-chunk-layers/test.config.cjs
Due: Webpack

refactor(webpack): drop the unreachable guards around the chunk name
  packages/webpack/react-webpack-plugin/src/ReactWebpackPlugin.ts
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
Due: Webpack

test(react-transform): cover the webpackChunkName layer suffix
  packages/react/transform/crates/swc_plugin_dynamic_import/lib.rs
  packages/react/transform/crates/swc_plugin_dynamic_import/tests/__swc_snapshots__/lib.rs/should_suffix_webpack_chunk_name.js
Due: React

test(react-webpack-plugin): cover stripping the lazy bundle layer suffix
  packages/webpack/react-webpack-plugin/test/async-chunk-name.test.ts
Due: Webpack

fix(react-webpack-plugin): strip only a trailing layer suffix
  packages/webpack/react-webpack-plugin/src/ReactWebpackPlugin.ts
  packages/webpack/react-webpack-plugin/test/async-chunk-name.test.ts
Due: Webpack

example(react-lazy-bundle): add a lazy bundle named by webpackChunkName
  examples/react-lazy-bundle/src/App.tsx
  examples/react-lazy-bundle/src/NamedLazyComponent.css
  examples/react-lazy-bundle/src/NamedLazyComponent.tsx
Due: none

refactor(template-webpack-plugin): give the lazy bundle cases real layers
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
  packages/webpack/template-webpack-plugin/test/cases/bundle-splitting/async-chunk/index.js
  packages/webpack/template-webpack-plugin/test/cases/bundle-splitting/async-chunk/rspack.config.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/lazy-bundle-split/index.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/lazy-bundle-split/rspack.config.js
  packages/webpack/template-webpack-plugin/test/cases/lazy-bundle-fetcher/fetchbundle/rspack.config.js
  packages/webpack/template-webpack-plugin/test/cases/lazy-bundle-fetcher/querycomponent/rspack.config.js
Due: Webpack

Path conditions:
  React: any of: packages/react/**
  Rspeedy: any of: packages/rspeedy/**
  Webpack: any of: packages/webpack/**
  Web Platform: any of: packages/web-platform/**
