Repository upupming/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack, Web Platform

codecov.yml:

coverage:
  status:
    project:
      default:
        threshold: "0%"
        informational: true
      react:
        threshold: "0%"
        paths:
          - packages/react
      rspeedy:
        threshold: "0%"
        paths:
          - packages/rspeedy
      webpack:
        threshold: "0%"
        paths:
          - packages/webpack
      web-platform:
        threshold: "0%"
        paths:
          - packages/web-platform
    patch:
      default:
        threshold: "1%"

fixes:
  - "/home/runner/_work/lynx-stack::"

parsers:
  javascript:
    enable_partials: yes

github_checks:
  annotations: false

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment
  behavior: default
  require_changes: true # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  require_bundle_changes: true # for web-explorer

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
      - type: patch
        threshold: "1%"
  individual_components:
    - component_id: react
      name: React
      paths:
        - packages/react/**
    - component_id: rspeedy
      name: Rspeedy
      paths:
        - packages/rspeedy/**
    - component_id: webpack
      name: Webpack
      paths:
        - packages/webpack/**
    - component_id: web
      name: Web Platform
      paths:
        - packages/web-platform/**

feat(rspeedy): Support `rspeedy build --watch` (#1579)
  .changeset/twenty-cobras-grab.md
  packages/rspeedy/core/src/cli/build.ts
  packages/rspeedy/core/src/cli/commands.ts
  packages/rspeedy/core/src/cli/dev.ts
  packages/rspeedy/core/src/cli/watch.ts
  packages/rspeedy/core/test/cli/build.test.ts
Due: Rspeedy

docs(rspeedy/cli): add `rspeedy build --watch` (#1605)
  website/docs/en/guide/cli.md
  website/docs/zh/guide/cli.md
Due: none

fix(webpack/chunk-loading): install initial CSS chunks (#1601)
  .changeset/sour-flowers-wait.md
  packages/webpack/chunk-loading-webpack-plugin/src/ChunkLoadingRuntimeModule.ts
  packages/webpack/chunk-loading-webpack-plugin/test/cases/css/initial/foo.css
  packages/webpack/chunk-loading-webpack-plugin/test/cases/css/initial/index.js
  packages/webpack/chunk-loading-webpack-plugin/test/cases/css/initial/rspack.config.js
Due: Webpack

refactor(rspeedy/core)!: integrate with arethetypeswrong (#1547)
  .changeset/wild-cars-talk.md
  packages/rspeedy/core/package.json
  packages/rspeedy/core/rslib.config.ts
  packages/rspeedy/core/src/config/loadConfig.ts
  pnpm-lock.yaml
Due: Rspeedy

chore: fix lockfile (#1608)
  pnpm-lock.yaml
Due: none

ci: use self-hosted rust cache (#1607)
  .github/actions/rustup/action.yml
  .github/workflows/rust.yml
  .github/workflows/workflow-build.yml
  package.json
  packages/react/transform/turbo.json
  packages/web-platform/web-style-transformer/turbo.json
  turbo.json
Due: React, Web Platform

feat(create-rspeedy): use TS project references (#1612)
  .changeset/tough-wings-brake.md
  .dprint.jsonc
  packages/rspeedy/create-rspeedy/template-common/gitignore
  packages/rspeedy/create-rspeedy/template-react-ts/src/tsconfig.json
  packages/rspeedy/create-rspeedy/template-react-ts/tsconfig.json
  packages/rspeedy/create-rspeedy/template-react-ts/tsconfig.node.json
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/src/tsconfig.json
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/tsconfig.json
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/tsconfig.node.json
Due: Rspeedy

ci: should not continue on build error (#1613)
  .github/workflows/workflow-build.yml
Due: none

ci(react): enable benchmark for react (#1572)
  .github/renovate.json5
  .github/workflows/workflow-bench.yml
  .github/workflows/workflow-build.yml
  benchmark/react/cases/001-fib/index.ts
  benchmark/react/cases/002-hello-reactLynx/index.tsx
  benchmark/react/lynx.config.js
  benchmark/react/package.json
  benchmark/react/plugins/pluginRepoFilePath.mjs
  benchmark/react/rspeedy-env.d.ts
  benchmark/react/src/RunBenchmarkUntil.tsx
  benchmark/react/src/dummyRoot.jsx
  benchmark/react/src/hook.ts
  benchmark/react/src/patchProfile.ts
  benchmark/react/src/withCodspeed.ts
  benchmark/react/tsconfig.json
  benchmark/react/turbo.json
  biome.jsonc
  package.json
  packages/lynx/benchx_cli/.gitignore
  packages/lynx/benchx_cli/package.json
  packages/lynx/benchx_cli/scripts/build.mjs
  packages/lynx/benchx_cli/scripts/prepare.mjs
  packages/lynx/benchx_cli/turbo.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vitest.config.ts
Due: none

chore: fix lockfile (#1618)
  benchmark/react/package.json
  pnpm-lock.yaml
Due: none

feat(rspeedy/core): add `resolve.alias` (#1610)
  .changeset/cold-socks-exist.md
  .changeset/odd-flies-deny.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/config/index.ts
  packages/rspeedy/core/src/config/resolve/index.ts
  packages/rspeedy/core/src/config/rsbuild/index.ts
  packages/rspeedy/core/src/config/source/index.ts
  packages/rspeedy/core/src/index.ts
  packages/rspeedy/core/test/cli/inspect.test.ts
  packages/rspeedy/core/test/config/resolve/alias.test-d.ts
  packages/rspeedy/core/test/config/resolve/alias.test.ts
  packages/rspeedy/core/test/config/rsbuild.test.ts
  packages/rspeedy/core/test/config/validate.test.ts
  website/docs/en/guide/resolve.md
  website/docs/zh/guide/resolve.md
Due: Rspeedy

ci(benchmark/react): avoid repeat (#1621)
  benchmark/react/package.json
Due: none

feat: provide mts a real globalthis (#1589)
  .changeset/odd-cooks-play.md
  packages/web-platform/web-constants/src/constants.ts
  packages/web-platform/web-constants/src/types/JSRealm.ts
  packages/web-platform/web-constants/src/types/LynxModule.ts
  packages/web-platform/web-constants/src/types/MainThreadGlobalThis.ts
  packages/web-platform/web-constants/src/types/MainThreadLynx.ts
  packages/web-platform/web-constants/src/types/index.ts
  packages/web-platform/web-constants/src/utils/generateTemplate.ts
  packages/web-platform/web-core-server/src/createLynxView.ts
  packages/web-platform/web-core/src/uiThread/createRenderAllOnUI.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadLynx.ts
  packages/web-platform/web-mainthread-apis/src/prepareMainThreadAPIs.ts
  packages/web-platform/web-tests/resources/web-core.enable-css-selector-false.json
  packages/web-platform/web-tests/resources/web-core.main-thread.json
  packages/web-platform/web-tests/shell-project/mainthread-test.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/api-globalThis/index.jsx
  packages/web-platform/web-tests/tests/react/api-updateGlobalProps/index.jsx
  packages/web-platform/web-tests/tests/react/basic-globalProps/index.jsx
  packages/web-platform/web-tests/tests/web-core.test.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
Due: Web Platform

refactor(react/transform): remove the warning of `key` (#1558)
  .changeset/solid-squids-fall.md
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
Due: React

feat: enhance style management by adding updateCssOGStyle callback an… (#1622)
  .changeset/busy-streets-invite.md
  .changeset/little-games-clap.md
  packages/web-platform/offscreen-document/src/main/initOffscreenDocument.ts
  packages/web-platform/offscreen-document/src/types/ElementOperation.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenElement.ts
  packages/web-platform/offscreen-document/src/webworker/index.ts
  packages/web-platform/web-constants/src/constants.ts
  packages/web-platform/web-constants/src/types/Element.ts
  packages/web-platform/web-core-server/src/dumpHTMLString.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-mainthread-apis/src/prepareMainThreadAPIs.ts
  packages/web-platform/web-mainthread-apis/src/utils/processStyleInfo.ts
Due: Web Platform

ci(benchmark/react): enable "LYNX_ENABLE_FROZEN_MODE=true" (#1623)
  benchmark/react/cases/001-fib/index.ts
  packages/lynx/benchx_cli/scripts/build.mjs
Due: none

fix: `fireEvent` type error in testing library
  .changeset/social-forks-juggle.md
  packages/react/testing-library/types/entry.d.ts
  packages/testing-library/examples/basic/src/__tests__/types/event.test-d.tsx
Due: React

chore(renovate): enable manager "custom.regex" (#1575)
  .github/renovate.json5
Due: none

ci(benchmark/react): ignore some benchmarks (#1625)
  benchmark/react/rspeedy-env.d.ts
  benchmark/react/src/patchProfile.ts
  packages/lynx/benchx_cli/scripts/build.mjs
Due: none

feat: add test case failed when lazy bundle used
  packages/webpack/cache-events-webpack-plugin/test/cases/not-cache-events/lazy-bundle/index.js
  packages/webpack/cache-events-webpack-plugin/test/cases/not-cache-events/lazy-bundle/lazy-component.js
  packages/webpack/cache-events-webpack-plugin/test/cases/not-cache-events/lazy-bundle/rspack.config.js
  packages/webpack/cache-events-webpack-plugin/test/cases/not-cache-events/lazy-bundle/test.config.cjs
Due: Webpack

Update packages/webpack/cache-events-webpack-plugin/test/cases/not-cache-events/lazy-bundle/test.config.cjs
  packages/webpack/cache-events-webpack-plugin/test/cases/not-cache-events/lazy-bundle/test.config.cjs
Due: Webpack

Update packages/webpack/cache-events-webpack-plugin/test/cases/not-cache-events/lazy-bundle/lazy-component.js
  packages/webpack/cache-events-webpack-plugin/test/cases/not-cache-events/lazy-bundle/lazy-component.js
Due: Webpack

fix: `__webpack_require__.lynx_ce` is incorrectly injected when lazy bundle is enabled
  .changeset/loose-pens-flow.md
  packages/webpack/cache-events-webpack-plugin/src/LynxCacheEventsPlugin.ts
  packages/webpack/cache-events-webpack-plugin/src/LynxCacheEventsRuntimeModule.ts
Due: Webpack

fix: dprint fmt
  packages/webpack/cache-events-webpack-plugin/test/cases/not-cache-events/lazy-bundle/test.config.cjs
Due: Webpack

fix: `__webpack_require__.lynx_ce` is incorrectly injected when lazy bundle is enabled (#1616)
  .changeset/loose-pens-flow.md
  packages/webpack/cache-events-webpack-plugin/src/LynxCacheEventsPlugin.ts
  packages/webpack/cache-events-webpack-plugin/src/LynxCacheEventsRuntimeModule.ts
  packages/webpack/cache-events-webpack-plugin/test/cases/not-cache-events/lazy-bundle/index.js
  packages/webpack/cache-events-webpack-plugin/test/cases/not-cache-events/lazy-bundle/lazy-component.js
  packages/webpack/cache-events-webpack-plugin/test/cases/not-cache-events/lazy-bundle/rspack.config.js
  packages/webpack/cache-events-webpack-plugin/test/cases/not-cache-events/lazy-bundle/test.config.cjs
Due: Webpack

fix: `fireEvent` type error in testing library (#1596)
  .changeset/social-forks-juggle.md
  packages/react/testing-library/types/entry.d.ts
  packages/testing-library/examples/basic/src/__tests__/types/event.test-d.tsx
Due: React

ci(release): avoid building benchmark (#1629)
  .github/workflows/deploy-main.yml
Due: none

chore(renovate): schedule lynx digest (#1639)
  .github/renovate.json5
Due: none

refactor(react/runtime): use `lynx.performance.profileStart` (#1533)
  benchmark/react/lynx.config.js
  benchmark/react/src/RunBenchmarkUntil.tsx
  benchmark/react/src/patchProfile.ts
  packages/lynx/benchx_cli/scripts/build.mjs
  packages/react/runtime/src/backgroundSnapshot.ts
  packages/react/runtime/src/debug/utils.ts
  packages/react/runtime/src/lifecycle/destroy.ts
  packages/react/runtime/src/lifecycle/event/jsReady.ts
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lifecycle/reload.ts
  packages/react/runtime/src/lifecycle/render.ts
  packages/react/runtime/src/lynx-api.ts
  packages/react/runtime/src/lynx/env.ts
  packages/react/runtime/src/lynx/tt.ts
  packages/react/runtime/src/snapshot/gesture.ts
  packages/react/runtime/vitest.config.ts
Due: React

fix(react): run all pending `renderComponent` before hydrate (#1438)
  packages/react/runtime/__test__/lifecycle/updateData.test.jsx
  packages/react/runtime/__test__/lynx/suspense.test.jsx
  packages/react/runtime/__test__/render.test.jsx
  packages/react/runtime/src/lynx-api.ts
  packages/react/runtime/src/lynx/tt.ts
Due: React

docs: update api reports (#1642)
  .changeset/lemon-readers-count.md
  packages/rspeedy/core/src/config/source/index.ts
  website/rspress.config.ts
  website/sidebars/api.ts
Due: Rspeedy

fix(rspeedy): disable lazyCompilation by default (#1647)
  .changeset/short-insects-attack.md
  packages/rspeedy/core/src/config/rsbuild/index.ts
  packages/rspeedy/core/test/config/lazyCompilation.test.ts
  packages/rspeedy/core/test/config/rsbuild.test.ts
Due: Rspeedy

fix(web): register attr of width is set to height incorrectly (#1649)
  .changeset/nine-numbers-push.md
  packages/web-platform/web-elements/src/XCanvas/CanvasAttributes.ts
Due: Web Platform

feat(rspeedy/core): support fine-grained `output.dataUriLimit` (#1648)
  .changeset/warm-shoes-move.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/config/output/index.ts
  packages/rspeedy/core/test/config/output.test-d.ts
  packages/rspeedy/core/test/config/validate.test.ts
Due: Rspeedy

ci(benchmark/react): enable list in benchmark (#1635)
  benchmark/react/cases/002-hello-reactLynx/RecursiveText.tsx
  benchmark/react/cases/002-hello-reactLynx/index.tsx
  benchmark/react/cases/003-hello-list/index.tsx
  benchmark/react/lynx.config.js
  benchmark/react/package.json
  benchmark/react/src/hook.ts
  benchmark/react/src/patchProfile.ts
  benchmark/react/src/patchUpdateListCallbacks.ts
  packages/lynx/benchx_cli/scripts/build.mjs
  packages/lynx/benchx_cli/scripts/prepare.mjs
  pnpm-lock.yaml
Due: none

fix: test cases
  packages/react/testing-library/src/vitest.config.js
  packages/rspeedy/plugin-react-alias/etc/react-alias-rsbuild-plugin.api.md
  packages/testing-library/examples/react-compiler/src/__tests__/hello.test.jsx
Due: React, Rspeedy

ci(benchmark/react): add benchmark for various attribute update (#1650)
  benchmark/react/cases/004-various-update/index.tsx
  benchmark/react/lynx.config.js
  benchmark/react/package.json
  benchmark/react/src/hook.ts
Due: none

fix: add test cases failed when aliasing react$
  packages/rspeedy/plugin-react/test/config.test.ts
Due: Rspeedy

fix: eslint error
  examples/react-compiler/lynx.config.ts
  pnpm-lock.yaml
Due: none

feat(testing-library): keep the same `<page/>` element when rerendering
  .changeset/late-grapes-marry.md
  packages/react/testing-library/src/__tests__/rerender.test.jsx
  packages/react/testing-library/src/pure.jsx
  packages/react/testing-library/types/entry.d.ts
Due: React
