Repository upupming/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack, Web Platform

feat(react/runtime): support `SelectorQuery` `animation` APIs (#1768)
  .changeset/fix-ref-proxy-serialization.md
  packages/react/runtime/__test__/snapshot/ref.test.jsx
  packages/react/runtime/__test__/utils/globals.js
  packages/react/runtime/__test__/utils/setup.js
  packages/react/runtime/src/lifecycle/ref/delay.ts
  packages/react/testing-library/src/vitest-global-setup.js
Due: React

fix(rspeedy/react): update peerDependencies (#1781)
  .changeset/chilly-carrots-marry.md
  packages/rspeedy/plugin-react/package.json
Due: Rspeedy

feat(web): support lazy bundle with CSSOG (#1770)
  .changeset/shiny-toes-punch.md
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-mainthread-apis/src/prepareMainThreadAPIs.ts
  packages/web-platform/web-mainthread-apis/src/utils/processStyleInfo.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-exchange-class/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-inline-css-change-same-time/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-inline-remove-css-remove-inline/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-multi-level-selector/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-remove-all/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-remove-css-and-reuse-css/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-remove-css-and-style-collapsed/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-remove-inline-style-and-reuse-css/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-type-selector/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false.config.ts
  packages/web-platform/web-tests/tests/react/basic.config.ts
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-exchange-class/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-exchange-class/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-inline-css-change-same-time/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-inline-css-change-same-time/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-inline-remove-css-remove-inline/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-inline-remove-css-remove-inline/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-multi-level-selector/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-multi-level-selector/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-remove-all/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-remove-all/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-remove-css-and-reuse-css/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-remove-css-and-reuse-css/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-remove-css-and-style-collapsed/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-remove-css-and-style-collapsed/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-remove-inline-style-and-reuse-css/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-remove-inline-style-and-reuse-css/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-type-selector/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-type-selector/index.jsx
Due: Web Platform

refactor: extract `swc_plugin_directive_dce` & `swc_plugin_define_dce` (#1777)
  .changeset/tender-months-fall.md
  Cargo.lock
  packages/react/transform/Cargo.toml
  packages/react/transform/crates/swc_plugin_define_dce/Cargo.toml
  packages/react/transform/crates/swc_plugin_define_dce/lib.rs
  packages/react/transform/crates/swc_plugin_define_dce/napi.rs
  packages/react/transform/crates/swc_plugin_directive_dce/Cargo.toml
  packages/react/transform/crates/swc_plugin_directive_dce/lib.rs
  packages/react/transform/crates/swc_plugin_directive_dce/napi.rs
  packages/react/transform/crates/swc_plugin_directive_dce/tests/__swc_snapshots__/lib.rs/should_do_nothing_in_mixed_target.js
  packages/react/transform/crates/swc_plugin_directive_dce/tests/__swc_snapshots__/lib.rs/should_do_nothing_when_arrow_function_return_directive.js
  packages/react/transform/crates/swc_plugin_directive_dce/tests/__swc_snapshots__/lib.rs/should_eliminate_fn_body_in_component_props.js
  packages/react/transform/crates/swc_plugin_directive_dce/tests/__swc_snapshots__/lib.rs/should_eliminate_fn_decl.js
  packages/react/transform/crates/swc_plugin_directive_dce/tests/__swc_snapshots__/lib.rs/should_eliminate_js_only_but_keep_constructor.js
  packages/react/transform/crates/swc_plugin_directive_dce/tests/__swc_snapshots__/lib.rs/should_eliminate_js_only_class_method.js
  packages/react/transform/crates/swc_plugin_directive_dce/tests/__swc_snapshots__/lib.rs/should_eliminate_js_only_class_property.js
  packages/react/transform/crates/swc_plugin_directive_dce/tests/__swc_snapshots__/lib.rs/should_eliminate_js_only_embedded.js
  packages/react/transform/crates/swc_plugin_directive_dce/tests/__swc_snapshots__/lib.rs/should_eliminate_native_modules_in_default_params.js
  packages/react/transform/crates/swc_plugins_shared/Cargo.toml
  packages/react/transform/crates/swc_plugins_shared/lib.rs
  packages/react/transform/crates/swc_plugins_shared/target.rs
  packages/react/transform/crates/swc_plugins_shared/target_napi.rs
  packages/react/transform/src/lib.rs
  packages/react/transform/src/swc_plugin_compat/mod.rs
  packages/react/transform/src/swc_plugin_list/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
  packages/react/transform/src/swc_plugin_worklet/gen_stmt.rs
  packages/react/transform/src/swc_plugin_worklet/mod.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_define_dce/mod.rs/should_be_able_to_define_object.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_define_dce/mod.rs/should_keep_only_true_branch.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_define_dce/mod.rs/should_keep_only_true_branch_if_else_if.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_define_dce/mod.rs/should_keep_only_true_branch_with_unary_operator.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_define_dce/mod.rs/should_not_crash_when_eval_failed.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_define_dce/mod.rs/should_not_eval_bad_case_modifying.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_define_dce/mod.rs/should_not_replace_to_lit_when_resolved.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_define_dce/mod.rs/should_replace_to_lit.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_define_dce/mod.rs/should_replace_to_lit_recur.js
Due: React

refactor: extract `swc_plugin_inject` & `swc_plugins_shared::css` (#1782)
  .changeset/silver-pandas-teach.md
  Cargo.lock
  packages/react/transform/Cargo.toml
  packages/react/transform/crates/swc_plugin_inject/Cargo.toml
  packages/react/transform/crates/swc_plugin_inject/lib.rs
  packages/react/transform/crates/swc_plugin_inject/napi.rs
  packages/react/transform/crates/swc_plugin_inject/tests/__swc_snapshots__/lib.rs/should_inject.js
  packages/react/transform/crates/swc_plugin_inject/tests/__swc_snapshots__/lib.rs/should_inject_callee.js
  packages/react/transform/crates/swc_plugins_shared/Cargo.toml
  packages/react/transform/crates/swc_plugins_shared/css.rs
  packages/react/transform/crates/swc_plugins_shared/lib.rs
  packages/react/transform/src/lib.rs
  packages/react/transform/src/swc_plugin_compat_post/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
Due: React

fix(rspeedy/core): `output.cssModules.localIdentName` defaults to `[local]-[hash:base64:6]` (#1783)
  .changeset/fluffy-suits-throw.md
  packages/rspeedy/core/src/config/defaults.ts
  packages/rspeedy/core/src/config/output/css-modules.ts
  packages/rspeedy/core/test/plugins/output.plugin.test.ts
Due: Rspeedy

fix(rspeedy/core): use `chunkLoading: 'lynx'` for Web (#1737)
  .changeset/better-insects-grin.md
  packages/rspeedy/core/src/plugins/chunkLoading.plugin.ts
  packages/rspeedy/core/test/plugins/chunkLoading.plugin.test.ts
  packages/web-platform/web-tests/rspack.config.js
Due: Rspeedy, Web Platform

fix: lazy component load error (#1794)
  .changeset/hip-coats-drop.md
  packages/web-platform/web-constants/src/utils/generateTemplate.ts
Due: Web Platform

fix: enable tests for appType (#1798)
  .changeset/clean-falcons-brake.md
  packages/web-platform/web-constants/src/utils/generateTemplate.ts
  packages/web-platform/web-tests/resources/web-core.enable-css-selector-false.json
  packages/web-platform/web-tests/resources/web-core.main-thread.json
Due: Web Platform

feat: use custom css module merge logic in CssExtractRspackPlugin
  packages/rspeedy/plugin-react/src/css.ts
  packages/rspeedy/plugin-react/src/splitChunks.ts
  packages/rspeedy/plugin-react/test/config.test.ts
  packages/rspeedy/plugin-react/test/css.test.ts
  packages/rspeedy/plugin-react/test/fixtures/standalone-lazy-bundle/CompBackground.tsx
  packages/rspeedy/plugin-react/test/fixtures/standalone-lazy-bundle/CompMain.tsx
  packages/rspeedy/plugin-react/test/fixtures/standalone-lazy-bundle/index.tsx
  packages/rspeedy/plugin-react/test/lazy.test.ts
  packages/webpack/css-extract-webpack-plugin/src/CssExtractRspackPlugin.ts
  packages/webpack/css-extract-webpack-plugin/src/loader.ts
  packages/webpack/template-webpack-plugin/etc/template-webpack-plugin.api.md
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
  packages/webpack/template-webpack-plugin/src/WebEncodePlugin.ts
Due: Rspeedy, Webpack

fix!: remove `enableICU` (#1800)
  .changeset/two-parks-reply.md
  packages/rspeedy/plugin-react/etc/react-rsbuild-plugin.api.md
  packages/rspeedy/plugin-react/src/entry.ts
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
  packages/rspeedy/plugin-react/test/config.test.ts
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/2.snap.txt
  packages/webpack/template-webpack-plugin/etc/template-webpack-plugin.api.md
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
  packages/webpack/template-webpack-plugin/test/__snapshots__/cases.test.ts.snap
Due: Rspeedy, Webpack

feat: make test of CssExtractRspackPlugin pass
  packages/webpack/css-extract-webpack-plugin/src/CssExtractRspackPlugin.ts
  packages/webpack/css-extract-webpack-plugin/src/loader.ts
  packages/webpack/css-extract-webpack-plugin/test/cases/at-import-in-the-entry/rspack-expected/main.css
  packages/webpack/css-extract-webpack-plugin/test/cases/hmr/rspack-expected/main.css
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/index.js
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
Due: Webpack

feat: add common css test
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/dual-thread/__snapshot__/index.css
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/dual-thread/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/dual-thread/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/dual-thread/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/dual-thread/common.css
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/dual-thread/entry.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/dual-thread/file.module.css
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/dual-thread/index-main-thread.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/dual-thread/index.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/dual-thread/no-changed-background.css
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/dual-thread/no-changed-main-thread.css
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/dual-thread/rspack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/dual-thread/test.config.cjs
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot/hot-update-json/dual-thread/__snapshot__/index.css
Due: Webpack

feat(rspeedy): Support `server.compress` (#1799)
  .changeset/evil-pigs-doubt.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/config/rsbuild/index.ts
  packages/rspeedy/core/src/config/server/index.ts
  packages/rspeedy/core/test/config/rsbuild.test.ts
  packages/rspeedy/core/test/config/server.test-d.ts
Due: Rspeedy

feat: update changeset
  .changeset/cold-lamps-juggle.md
  .changeset/true-states-slide.md
  .changeset/yummy-dryers-glow.md
  packages/webpack/css-extract-webpack-plugin/src/CssExtractRspackPlugin.ts
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
  packages/webpack/template-webpack-plugin/src/WebEncodePlugin.ts
Due: Webpack

feat: make LynxTemplatePlugin compatible with lower version css extract plugin
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
Due: Webpack

test: add @import example
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/dual-thread/__snapshot__/index.css
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/dual-thread/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/dual-thread/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/dual-thread/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/dual-thread/common.css
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/dual-thread/imported.css
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot/hot-update-json/dual-thread/__snapshot__/index.css
Due: Webpack

refactor: extract `swc_plugin_dynamic_import` & `swc_plugin_shake` (#1790)
  .changeset/easy-tires-shop.md
  Cargo.lock
  packages/react/transform/Cargo.toml
  packages/react/transform/crates/swc_plugin_dynamic_import/Cargo.toml
  packages/react/transform/crates/swc_plugin_dynamic_import/lib.rs
  packages/react/transform/crates/swc_plugin_dynamic_import/napi.rs
  packages/react/transform/crates/swc_plugin_dynamic_import/tests/__swc_snapshots__/lib.rs/should_not_import_lazy.js
  packages/react/transform/crates/swc_plugin_dynamic_import/tests/__swc_snapshots__/lib.rs/should_transform_import_call.js
  packages/react/transform/crates/swc_plugin_shake/Cargo.toml
  packages/react/transform/crates/swc_plugin_shake/is_component_class.rs
  packages/react/transform/crates/swc_plugin_shake/lib.rs
  packages/react/transform/crates/swc_plugin_shake/napi.rs
  packages/react/transform/crates/swc_plugin_shake/tests/__swc_snapshots__/lib.rs/only_shake_class_like_react_component_class.js
  packages/react/transform/crates/swc_plugin_shake/tests/__swc_snapshots__/lib.rs/should_keep_access_inside_class_property_iife.js
  packages/react/transform/crates/swc_plugin_shake/tests/__swc_snapshots__/lib.rs/should_keep_constructor_and_used.js
  packages/react/transform/crates/swc_plugin_shake/tests/__swc_snapshots__/lib.rs/should_keep_indirect.js
  packages/react/transform/crates/swc_plugin_shake/tests/__swc_snapshots__/lib.rs/should_keep_render_and_used.js
  packages/react/transform/crates/swc_plugin_shake/tests/__swc_snapshots__/lib.rs/should_keep_state_and_remove_other.js
  packages/react/transform/crates/swc_plugin_shake/tests/__swc_snapshots__/lib.rs/should_keep_with_nested_class.js
  packages/react/transform/crates/swc_plugin_shake/tests/__swc_snapshots__/lib.rs/should_not_remove_in_scope_id.js
  packages/react/transform/crates/swc_plugin_shake/tests/__swc_snapshots__/lib.rs/should_not_remove_test_with_other_runtime.js
  packages/react/transform/crates/swc_plugin_shake/tests/__swc_snapshots__/lib.rs/should_remove_test.js
  packages/react/transform/crates/swc_plugin_shake/tests/__swc_snapshots__/lib.rs/should_remove_unused_indirect.js
  packages/react/transform/crates/swc_plugin_shake/tests/__swc_snapshots__/lib.rs/should_remove_use_effect_param.js
  packages/react/transform/src/lib.rs
Due: React

feat: delay first componentDidMount after hydrate
  .changeset/strong-wasps-smell.md
  packages/react/runtime/src/lifecycle/patch/commit.ts
Due: React

feat(rspeedy/core): support `server.cors` (#1808)
  .changeset/long-geese-fold.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/config/rsbuild/index.ts
  packages/rspeedy/core/src/config/server/index.ts
  packages/rspeedy/core/test/config/server.test-d.ts
  packages/rspeedy/core/test/config/validate.test.ts
Due: Rspeedy

refactor: extract `swc_plugin_compat` (#1814)
  .changeset/eleven-items-sleep.md
  Cargo.lock
  packages/react/transform/Cargo.toml
  packages/react/transform/crates/swc_plugin_compat/Cargo.toml
  packages/react/transform/crates/swc_plugin_compat/is_component_class.rs
  packages/react/transform/crates/swc_plugin_compat/lib.rs
  packages/react/transform/crates/swc_plugin_compat/napi.rs
  packages/react/transform/crates/swc_plugin_compat/simplify_ctor_like_react_lynx_2.rs
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_add_component_element.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_add_component_element_compiler_only.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_add_component_element_embedded.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_add_component_element_embedded_compiler_only.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_add_component_is_import.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_change_runtime_pkg.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_handle_recursive.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_left_no_remove_component_element_attr.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_not_handle_jsx_member_expression.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_not_rename_view_in_scope.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_not_rename_view_redeclaration.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_remove_component_attr_regex.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_rename_view.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_simplify_ctor.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_simplify_ctor_correct_order.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_simplify_ctor_not_remain_local_decls.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_simplify_ctor_not_remain_local_decls_with_macro.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_simplify_ctor_not_remain_local_decls_with_spread.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_transform_event_props_1.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_transform_event_props_2.js
  packages/react/transform/src/lib.rs
  packages/react/transform/src/swc_plugin_compat_post/mod.rs
Due: React

chore: add @lynx-js/web-rsbuild-server-middleware (#1807)
  .changeset/config.json
  .changeset/slow-radios-rescue.md
  packages/web-platform/tsconfig.json
  packages/web-platform/web-rsbuild-server-middleware/LICENSE.txt
  packages/web-platform/web-rsbuild-server-middleware/Notice.txt
  packages/web-platform/web-rsbuild-server-middleware/README.md
  packages/web-platform/web-rsbuild-server-middleware/package.json
  packages/web-platform/web-rsbuild-server-middleware/rsbuild.config.ts
  packages/web-platform/web-rsbuild-server-middleware/rslib.config.ts
  packages/web-platform/web-rsbuild-server-middleware/src/node/index.ts
  packages/web-platform/web-rsbuild-server-middleware/src/web/index.css
  packages/web-platform/web-rsbuild-server-middleware/src/web/index.ts
  packages/web-platform/web-rsbuild-server-middleware/test/basic.spec.ts
  packages/web-platform/web-rsbuild-server-middleware/tsconfig.json
  packages/web-platform/web-rsbuild-server-middleware/turbo.json
  packages/web-platform/web-rsbuild-server-middleware/vitest.config.ts
  packages/web-platform/web-tests/package.json
  packages/web-platform/web-tests/rspack.config.js
  packages/web-platform/web-tests/tests/middleware.spec.ts
  pnpm-lock.yaml
Due: Web Platform

fix: lockfile (#1827)
  pnpm-lock.yaml
Due: none

chore: update package configuration and remove unused rslib config (#1831)
  .changeset/lemon-beans-type.md
  packages/web-platform/web-rsbuild-server-middleware/package.json
  packages/web-platform/web-rsbuild-server-middleware/rslib.config.ts
  packages/web-platform/web-rsbuild-server-middleware/tsconfig.json
Due: Web Platform

fix: Remove invalid webpackPreload: false configuration (#1833)
  packages/web-platform/web-style-transformer/index.js
Due: Web Platform

fix: handle `lynx.getJSModule` error on web platform (#1830)
  .changeset/crazy-jeans-hunt.md
  packages/rspeedy/core/src/plugins/dev.plugin.ts
  packages/rspeedy/core/test/plugins/dev.plugin.test.ts
Due: Rspeedy

feat: introduce `swc-plugin-react-lynx-compat` (#1824)
  .changeset/loud-carrots-relate.md
  Cargo.lock
  biome.jsonc
  eslint.config.js
  packages/react/transform/crates/swc_plugin_compat/Cargo.toml
  packages/react/transform/crates/swc_plugin_compat/lib.rs
  packages/react/transform/crates/swc_plugins_shared/target.rs
  packages/react/transform/swc-plugin-reactlynx-compat/Cargo.toml
  packages/react/transform/swc-plugin-reactlynx-compat/index.d.ts
  packages/react/transform/swc-plugin-reactlynx-compat/package.json
  packages/react/transform/swc-plugin-reactlynx-compat/src/lib.rs
  packages/react/transform/swc-plugin-reactlynx-compat/turbo.json
Due: React

fix(react/runtime): optimize main thread event error message (#1838)
  .changeset/major-rivers-happen.md
  packages/react/runtime/__test__/debug/describeInvalidValue.test.ts
  packages/react/runtime/__test__/snapshot/workletEvent.test.jsx
  packages/react/runtime/src/debug/describeInvalidValue.ts
  packages/react/runtime/src/snapshot/workletEvent.ts
Due: React

feat: support load bts chunk from remote address (#1834)
  .changeset/puny-pens-cry.md
  packages/web-platform/web-constants/src/types/LynxModule.ts
  packages/web-platform/web-constants/src/types/NativeApp.ts
  packages/web-platform/web-constants/src/utils/generateTemplate.ts
  packages/web-platform/web-core/src/utils/loadTemplate.ts
  packages/web-platform/web-tests/resources/web-core.main-thread.json
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/web-core.test.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createChunkLoading.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
Due: Web Platform

fix: change the generation conditions of the css.hot-update.json (#1811)
  .changeset/eleven-lizards-grin.md
  packages/webpack/css-extract-webpack-plugin/src/CssExtractRspackPlugin.ts
Due: Webpack

feat: add GlobalLazyBundleResponseListener to listen on response of lazy bundle
  .changeset/ninety-shrimps-beg.md
  examples/react-dynamic-import/lynx.config.js
  examples/react-dynamic-import/package.json
  examples/react-dynamic-import/src/App.tsx
  examples/react-dynamic-import/src/Bar.tsx
  examples/react-dynamic-import/src/Foo.tsx
  examples/react-dynamic-import/src/index.tsx
  examples/react-dynamic-import/src/rspeedy-env.d.ts
  examples/react-dynamic-import/tsconfig.json
  packages/react/etc/react.api.md
  packages/react/runtime/__test__/lazy.test.js
  packages/react/runtime/__test__/lynx/lazy-bundle.test.jsx
  packages/react/runtime/lazy/compat.js
  packages/react/runtime/lazy/react.js
  packages/react/runtime/src/lynx-api.ts
  packages/react/runtime/src/lynx/lazy-bundle.ts
  pnpm-lock.yaml
Due: React

fix: cannot find module '@lynx-js/react/package.json'
  .changeset/loud-breads-camp.md
  packages/react/testing-library/src/vitest.config.js
Due: React

feat: experiment code
  packages/react/runtime/src/backgroundSnapshot.ts
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lynx/calledByNative.ts
  packages/react/runtime/src/lynx/tt.ts
  packages/react/runtime/src/opcodes.ts
  packages/react/runtime/src/snapshot.ts
  packages/react/testing-library/src/__tests__/basic-1.test.jsx
  packages/react/testing-library/src/__tests__/basic.test.jsx
  packages/react/transform/crates/swc_plugin_snapshot/lib.rs
  packages/react/transform/crates/swc_plugin_snapshot/tests/__swc_snapshots__/lib.rs/basic_full_static_snapshot_extract.js
  packages/testing-library/testing-environment/src/__tests__/element-papi.test.js
  packages/testing-library/testing-environment/src/index.ts
  packages/testing-library/testing-environment/src/lynx/ElementPAPI.ts
Due: React

feat: update snapshot
  packages/react/testing-library/src/__tests__/basic-1.test.jsx
Due: React

feat: make spared work
  packages/react/testing-library/src/__tests__/basic-1.test.jsx
  packages/testing-library/testing-environment/src/lynx/ElementPAPI.ts
Due: React

fix: align wasm-bindgen tooling
  .github/wasm-bindgen.instructions.md
  Cargo.toml
  packages/react/transform/crates/swc_plugin_element_template/napi.rs
  packages/web-platform/web-core/scripts/wasm-bindgen
Due: React, Web Platform

Revert "fix(ci): run the Rust workflow after the build on main, not beside it (#3231)"
  .github/workflows/deploy-main.yml
  .github/workflows/rust.yml
Due: none

Path conditions:
  React: any of: packages/react/**
  Rspeedy: any of: packages/rspeedy/**
  Webpack: any of: packages/webpack/**
  Web Platform: any of: packages/web-platform/**
