Repository upupming/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack, Web Platform

codecov.yml:

coverage:
  status:
    project:
      default:
        threshold: "0%"
        informational: true
      react:
        threshold: "0%"
        paths:
          - packages/react
      rspeedy:
        threshold: "0%"
        paths:
          - packages/rspeedy
      webpack:
        threshold: "0%"
        paths:
          - packages/webpack
      web-platform:
        threshold: "0%"
        paths:
          - packages/web-platform
    patch:
      default:
        threshold: "1%"

fixes:
  - "/home/runner/_work/lynx-stack::"

parsers:
  javascript:
    enable_partials: yes

github_checks:
  annotations: false

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment
  behavior: default
  require_changes: true # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  require_bundle_changes: true # for web-explorer

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
      - type: patch
        threshold: "1%"
  individual_components:
    - component_id: react
      name: React
      paths:
        - packages/react/**
    - component_id: rspeedy
      name: Rspeedy
      paths:
        - packages/rspeedy/**
    - component_id: webpack
      name: Webpack
      paths:
        - packages/webpack/**
    - component_id: web
      name: Web Platform
      paths:
        - packages/web-platform/**

fix coderabbitai cr
  .changeset/chilly-pumas-mate.md
  .github/workflows/test.yml
  packages/react/testing-library/src/__tests__/alog.test.jsx
  packages/react/testing-library/src/plugins/vitest.ts
  packages/react/testing-library/src/setupFiles/common/bootstrap.js
  packages/testing-library/testing-environment/src/index.ts
Due: React

feat: update snapshot
  packages/rspeedy/create-rspeedy/template-react-rstest-rltl-js/src/__tests__/index.test.jsx
  packages/rspeedy/create-rspeedy/template-react-rstest-rltl-ts/src/__tests__/index.test.tsx
Due: Rspeedy

chore: isolate inline-style-parser (#1309)
  .changeset/loose-ants-spend.md
  Cargo.lock
  Cargo.toml
  packages/web-platform/inline-style-parser/Cargo.toml
  packages/web-platform/inline-style-parser/src/LICENSE
  packages/web-platform/inline-style-parser/src/char_code_definitions.rs
  packages/web-platform/inline-style-parser/src/lib.rs
  packages/web-platform/inline-style-parser/src/parse_inline_style.rs
  packages/web-platform/inline-style-parser/src/tokenize.rs
  packages/web-platform/inline-style-parser/src/types.rs
  packages/web-platform/inline-style-parser/src/utils.rs
  packages/web-platform/web-style-transformer/Cargo.toml
  packages/web-platform/web-style-transformer/src/lib.rs
  packages/web-platform/web-style-transformer/src/transformer/transformer.rs
Due: Web Platform

fix(react): avoid some unexpected `__SetAttribute` when attribute value is `undefined` (#1311)
  .changeset/calm-lies-dig.md
  packages/react/runtime/__test__/lifecycle/reload.test.jsx
  packages/react/runtime/__test__/preact.test.jsx
  packages/react/runtime/__test__/snapshot/event.test.jsx
  packages/react/runtime/__test__/snapshot/ref.test.jsx
  packages/react/runtime/src/snapshot.ts
  packages/react/testing-library/src/__tests__/act.test.jsx
Due: React

fix(react/runtime): improve error message of circular reference (#1238)
  .changeset/tough-drinks-throw.md
  packages/react/runtime/__test__/snapshot/spread.test.jsx
  packages/react/runtime/src/debug/component-stack.ts
  packages/react/runtime/src/lynx.ts
  packages/react/runtime/src/renderToOpcodes/constants.ts
  packages/react/runtime/src/utils.ts
  packages/react/runtime/vitest.config.ts
Due: React

Revert "fix(react): avoid some unexpected `__SetAttribute` when attribute value is `undefined`" (#1317)
  .changeset/calm-lies-dig.md
  packages/react/runtime/__test__/lifecycle/reload.test.jsx
  packages/react/runtime/__test__/preact.test.jsx
  packages/react/runtime/__test__/snapshot/event.test.jsx
  packages/react/runtime/__test__/snapshot/ref.test.jsx
  packages/react/runtime/src/snapshot.ts
  packages/react/testing-library/src/__tests__/act.test.jsx
Due: React

chore: update changeset
  .changeset/red-lamps-arrive.md
Due: none

fix(react): avoid some unexpected `__SetAttribute` when attribute value is `undefined` (#1318)
  .changeset/weak-months-give.md
  packages/react/runtime/__test__/preact.test.jsx
  packages/react/runtime/src/backgroundSnapshot.ts
Due: React

chore(deps): pin unrs-resolver (#1319)
  packages/rspeedy/plugin-react-alias/package.json
  pnpm-lock.yaml
Due: Rspeedy

chore: add `.coderabbit.yaml` (#1321)
  .coderabbit.yaml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat(tailwind-preset): improve transform transition compatibility (#1320)
  .changeset/better-pears-poke.md
  .changeset/happy-taxes-work.md
  packages/third-party/tailwind-preset/src/__tests__/helper.test.ts
  packages/third-party/tailwind-preset/src/__tests__/plugin-utils/create-function-call-utility.test.ts
  packages/third-party/tailwind-preset/src/__tests__/plugin.test.ts
  packages/third-party/tailwind-preset/src/__tests__/plugins/soloRotate.test.ts
  packages/third-party/tailwind-preset/src/__tests__/plugins/soloScale.test.ts
  packages/third-party/tailwind-preset/src/__tests__/plugins/soloSkew.test.ts
  packages/third-party/tailwind-preset/src/__tests__/plugins/soloTranslate.test.ts
  packages/third-party/tailwind-preset/src/__tests__/plugins/transform.test.ts
  packages/third-party/tailwind-preset/src/helpers.ts
  packages/third-party/tailwind-preset/src/plugin-utils/create-function-call-utility.ts
  packages/third-party/tailwind-preset/src/plugin-utils/index.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/boxShadow.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/gridColumn.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/gridRow.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/index.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/scale.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/soloRotate.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/soloScale.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/soloSkew.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/soloTranslate.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/transform.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/translate.ts
  packages/third-party/tailwind-preset/src/types/plugin-types.ts
Due: none

fix(rspeedy/react): should have profile in development (#1306)
  .changeset/lemon-feet-matter.md
  .changeset/moody-hounds-jam.md
  packages/rspeedy/plugin-react/src/entry.ts
  packages/rspeedy/plugin-react/test/config.test.ts
  packages/webpack/react-webpack-plugin/src/ReactWebpackPlugin.ts
Due: Rspeedy, Webpack

fix(rspeedy/core): should override `performance.profile` (#1307)
  .changeset/floppy-carrots-switch.md
  packages/rspeedy/core/src/config/defaults.ts
  packages/rspeedy/core/src/plugins/index.ts
  packages/rspeedy/core/src/plugins/stats.plugin.ts
  packages/rspeedy/core/test/plugins/stats.plugin.test.ts
Due: Rspeedy

fix(testing-library): should switch to another thread when dispatching (#1244)
  .changeset/dull-moles-live.md
  packages/react/testing-library/src/__tests__/worklet.test.jsx
  packages/testing-library/testing-environment/src/index.ts
Due: React

fix(react): remove and insert `list-item`s those `item-key` have been changed (#1299)
  .changeset/shaky-swans-end.md
  packages/react/runtime/__test__/list.test.jsx
  packages/react/runtime/src/listUpdateInfo.ts
  packages/react/runtime/src/snapshot/platformInfo.ts
  packages/react/runtime/src/snapshot/spread.ts
Due: React

chore: enable `auto_apply_labels` (#1325)
  .coderabbit.yaml
Due: none

feat(react/runtime): force synchronous rendering for background initial renders (#1323)
  .changeset/chubby-dancers-speak.md
  .changeset/honest-places-grin.md
  packages/react/runtime/__test__/render.test.jsx
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lynx-api.ts
  packages/react/runtime/vitest.config.ts
  packages/rspeedy/plugin-react/package.json
  packages/webpack/react-webpack-plugin/package.json
Due: React, Rspeedy, Webpack

chore: Add comprehensive tests for inline-style-parser achieving 86.16% coverage (#1315)
  packages/web-platform/inline-style-parser/src/lib.rs
Due: Web Platform

chore(testing-library): remove debug info
  .changeset/olive-animals-attend.md
  packages/react/testing-library/src/vitest-global-setup.js
  packages/react/testing-library/src/vitest.config.js
  packages/testing-library/testing-environment/src/index.ts
Due: React

chore(testing-library): remove debug info (#1330)
  .changeset/olive-animals-attend.md
  packages/react/testing-library/src/vitest-global-setup.js
  packages/react/testing-library/src/vitest.config.js
  packages/testing-library/testing-environment/src/index.ts
Due: React

feat: add `react-compiler-runtime` alias to make 3rd lib works
  packages/rspeedy/plugin-react-alias/src/index.ts
  packages/rspeedy/plugin-react/src/alias.ts
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
Due: Rspeedy

feat: use isReactCompilerRequired from @swc/react-compiler
  Cargo.lock
  packages/react/testing-library/src/vitest.config.js
  packages/react/transform/Cargo.toml
  packages/react/transform/index.d.ts
  packages/react/transform/src/lib.rs
  packages/webpack/react-webpack-plugin/package.json
  packages/webpack/react-webpack-plugin/src/loaders/react-compiler.ts
  pnpm-lock.yaml
Due: React, Webpack

chore: add "packages/react/transform" into `path_instructions` (#1331)
  .coderabbit.yaml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat(react/runtime): render Suspense fallback on initial render (#1285)
  .changeset/neat-lights-beg.md
  packages/react/runtime/__test__/createSuspender.jsx
  packages/react/runtime/__test__/mainThreadLazy.test.jsx
  packages/react/runtime/__test__/renderToOpcodes.test.jsx
  packages/react/runtime/src/index.ts
  packages/react/runtime/src/lynx/lazy-bundle.ts
  packages/react/runtime/src/renderToOpcodes/index.ts
  packages/react/runtime/types/internal-preact.d.ts
Due: React

fix: improve compatibility with legacy template (#1337)
  .changeset/plenty-regions-end.md
  packages/web-platform/web-constants/src/utils/generateTemplate.ts
  packages/web-platform/web-tests/resources/web-core.enable-css-selector-false.json
Due: Web Platform

feat(tailwind-preset): add scoped transition timing utilities for grouped properties (#1324)
  .changeset/rich-eels-cheat.md
  packages/third-party/tailwind-preset/src/__tests__/plugin-registry.test.ts
  packages/third-party/tailwind-preset/src/__tests__/plugin-utils/create-repeater-utility.test.ts
  packages/third-party/tailwind-preset/src/__tests__/plugin-utils/get-modifier-repeater-map.test.ts
  packages/third-party/tailwind-preset/src/__tests__/plugins/transitionDelay.test.ts
  packages/third-party/tailwind-preset/src/__tests__/plugins/transitionDuration.test.ts
  packages/third-party/tailwind-preset/src/__tests__/plugins/transitionProperty.test.ts
  packages/third-party/tailwind-preset/src/__tests__/plugins/transitionTimingFunction.test.ts
  packages/third-party/tailwind-preset/src/__tests__/utils/mock-api.ts
  packages/third-party/tailwind-preset/src/__tests__/utils/run-plugin.ts
  packages/third-party/tailwind-preset/src/core.ts
  packages/third-party/tailwind-preset/src/lynx.ts
  packages/third-party/tailwind-preset/src/plugin-utils/create-function-call-utility.ts
  packages/third-party/tailwind-preset/src/plugin-utils/create-repeater-utility.ts
  packages/third-party/tailwind-preset/src/plugin-utils/create-transition-timing-plugin.ts
  packages/third-party/tailwind-preset/src/plugin-utils/get-modifier-repeater-map.ts
  packages/third-party/tailwind-preset/src/plugin-utils/index.ts
  packages/third-party/tailwind-preset/src/plugin-utils/is-plain-ident-list.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/index.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/plugin-registry.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/plugin-types.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/transitionDelay.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/transitionDuration.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/transitionProperty.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/transitionTimingFunction.ts
  packages/third-party/tailwind-preset/src/theme.ts
  packages/third-party/tailwind-preset/src/types/tailwind-types.ts
  packages/third-party/tailwind-preset/src/types/theme-types.ts
Due: none

feat: remove @lynx-js/eslint-config-reactlynx to keep it simple
  .changeset/rare-socks-spend.md
  examples/react/eslint.config.js
  examples/react/package.json
  packages/eslint-config-reactlynx/LICENSE
  packages/eslint-config-reactlynx/README.md
  packages/eslint-config-reactlynx/package.json
  packages/eslint-config-reactlynx/src/index.ts
  packages/eslint-config-reactlynx/src/ts.ts
  packages/eslint-config-reactlynx/tsconfig.json
  packages/rspeedy/create-rspeedy/package.json
  packages/rspeedy/create-rspeedy/src/index.ts
  packages/rspeedy/create-rspeedy/template-eslint/js/eslint.config.js
  packages/rspeedy/create-rspeedy/template-eslint/js/package.json
  packages/rspeedy/create-rspeedy/template-eslint/ts/eslint.config.js
  packages/rspeedy/create-rspeedy/template-eslint/ts/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: Rspeedy

chore: use catalog for rstest version
  package.json
  packages/rspeedy/create-rspeedy/package.json
  packages/rspeedy/create-rspeedy/template-react-rstest-rltl-js/package.json
  packages/rspeedy/create-rspeedy/template-react-rstest-rltl-ts/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: Rspeedy

fix: use cjs for polyfill
  packages/react/testing-library/rstest.config.ts
  packages/react/testing-library/vitest-polyfill.cjs
  packages/rspeedy/plugin-react/src/entry.ts
Due: React, Rspeedy

feat: keep the `createVitestConfig` API
  .changeset/chilly-pumas-mate.md
  packages/react/package.json
  packages/react/testing-library/rslib.config.ts
  packages/react/testing-library/src/plugins/vitest.ts
  packages/react/testing-library/src/vitest.config.ts
Due: React

feat: using callerName and reuse lynx.config for rstest
  .changeset/red-lamps-arrive.md
  .changeset/tidy-cities-shop.md
  packages/react/testing-library/rstest.config.ts
  packages/react/testing-library/src/plugins/index.ts
  packages/react/testing-library/src/plugins/rstest.ts
  packages/rspeedy/create-rspeedy/template-react-rstest-rltl-js/rstest.config.js
  packages/rspeedy/create-rspeedy/template-react-rstest-rltl-ts/rstest.config.ts
  packages/rspeedy/plugin-react/etc/react-rsbuild-plugin.api.md
  packages/rspeedy/plugin-react/src/entry.ts
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
  packages/rspeedy/plugin-react/src/rstest.ts
  packages/testing-library/examples/basic/rstest.config.ts
  packages/webpack/react-webpack-plugin/etc/react-webpack-plugin.api.md
  packages/webpack/react-webpack-plugin/src/ReactWebpackPlugin.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: React, Rspeedy, Webpack

chore: pnpm dedupe
  pnpm-lock.yaml
Due: none

fix: cr
  packages/react/testing-library/src/vitest.config.ts
Due: React

fix: pnpm dedupe
  examples/react/package.json
  pnpm-lock.yaml
Due: none

feat: pass crossorigin attribute value to the internal <img> element for x-image (#1340)
  .changeset/crossorigin-x-image.md
  packages/web-platform/web-elements/src/XImage/ImageSrc.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts
  packages/web-platform/web-tests/tests/web-elements/x-image/crossorigin.html
Due: Web Platform

chore: configure env for github copilot (#1347)
  .github/workflows/copilot-setup-steps.yml
Due: none

docs: update changeset
  .changeset/chilly-pumas-mate.md
  .changeset/tidy-cities-shop.md
Due: none

chore: enable cargo clippy (#1344)
  .changeset/sad-items-drop.md
  clippy.toml
  packages/react/transform/src/bundle.rs
  packages/react/transform/src/css.rs
  packages/react/transform/src/esbuild.rs
  packages/react/transform/src/lib.rs
  packages/react/transform/src/swc_plugin_compat/mod.rs
  packages/react/transform/src/swc_plugin_compat/simplify_ctor_like_react_lynx_2.rs
  packages/react/transform/src/swc_plugin_compat_post/mod.rs
  packages/react/transform/src/swc_plugin_css_scope/mod.rs
  packages/react/transform/src/swc_plugin_directive_dce/mod.rs
  packages/react/transform/src/swc_plugin_dynamic_import/mod.rs
  packages/react/transform/src/swc_plugin_extract_str/mod.rs
  packages/react/transform/src/swc_plugin_inject/mod.rs
  packages/react/transform/src/swc_plugin_list/mod.rs
  packages/react/transform/src/swc_plugin_refresh/mod.rs
  packages/react/transform/src/swc_plugin_shake/is_component_class.rs
  packages/react/transform/src/swc_plugin_shake/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/attr_name.rs
  packages/react/transform/src/swc_plugin_snapshot/jsx_helpers.rs
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/slot_marker.rs
  packages/react/transform/src/swc_plugin_worklet/extract_ident.rs
  packages/react/transform/src/swc_plugin_worklet/gen_stmt.rs
  packages/react/transform/src/swc_plugin_worklet/hash.rs
  packages/react/transform/src/swc_plugin_worklet/mod.rs
  packages/react/transform/src/swc_plugin_worklet_post_process/mod.rs
  packages/react/transform/src/target.rs
  packages/web-platform/inline-style-parser/src/char_code_definitions.rs
  packages/web-platform/inline-style-parser/src/lib.rs
  packages/web-platform/inline-style-parser/src/parse_inline_style.rs
  packages/web-platform/inline-style-parser/src/tokenize.rs
  packages/web-platform/inline-style-parser/src/utils.rs
  packages/web-platform/web-style-transformer/src/lib.rs
  packages/web-platform/web-style-transformer/src/transformer/constants.rs
  packages/web-platform/web-style-transformer/src/transformer/mod.rs
  packages/web-platform/web-style-transformer/src/transformer/rules.rs
  packages/web-platform/web-style-transformer/src/transformer/transform.rs
Due: React, Web Platform

fix(react/runtime): fix incorrect MTS hydration flag (#1342)
  .changeset/stale-heads-hug.md
  packages/react/runtime/src/lifecycle/patch/isMainThreadHydrating.ts
  packages/react/runtime/src/lifecycle/patch/updateMainThread.ts
  packages/react/runtime/src/lifecycle/reload.ts
  packages/react/runtime/src/snapshot/gesture.ts
  packages/react/runtime/src/snapshot/workletEvent.ts
  packages/react/runtime/src/snapshot/workletRef.ts
Due: React

chore: upgrade preact (#1349)
  packages/react/package.json
  packages/react/runtime/src/debug/component-stack.ts
  packages/react/runtime/src/debug/profile.ts
  packages/react/runtime/src/lynx/performance.ts
  packages/react/runtime/src/lynx/runWithForce.ts
  packages/react/runtime/types/internal-preact.d.ts
  pnpm-lock.yaml
Due: React
