Repository upupming/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack, Web Platform

feat(tailwind-preset): add support for Lynx UI plugin system with configurable options (#1363)
  .changeset/fine-needles-type.md
  packages/third-party/tailwind-preset/CONTRIBUTING.md
  packages/third-party/tailwind-preset/README.md
  packages/third-party/tailwind-preset/docs/plugins/lynx-ui/uiVariants.md
  packages/third-party/tailwind-preset/src/__tests__/core.test.ts
  packages/third-party/tailwind-preset/src/__tests__/helper.test.ts
  packages/third-party/tailwind-preset/src/__tests__/lynx.test.ts
  packages/third-party/tailwind-preset/src/__tests__/plugin-registry.test.ts
  packages/third-party/tailwind-preset/src/__tests__/plugin.test.ts
  packages/third-party/tailwind-preset/src/__tests__/plugins/lynx-ui/stateVariant.test.ts
  packages/third-party/tailwind-preset/src/__tests__/utils/run-plugin.ts
  packages/third-party/tailwind-preset/src/core.ts
  packages/third-party/tailwind-preset/src/helpers.ts
  packages/third-party/tailwind-preset/src/lynx.ts
  packages/third-party/tailwind-preset/src/plugins/lynx-ui/index.ts
  packages/third-party/tailwind-preset/src/plugins/lynx-ui/plugin-registry.ts
  packages/third-party/tailwind-preset/src/plugins/lynx-ui/uiVariants.ts
  packages/third-party/tailwind-preset/src/types/plugin-types.ts
Due: none

fix: cr
  .changeset/chilly-pumas-mate.md
  .github/workflows/test.yml
  packages/react/package.json
  packages/react/testing-library/README.md
  packages/react/testing-library/rstest.config.ts
  packages/react/testing-library/src/__tests__/act.test.jsx
  packages/react/testing-library/src/__tests__/alog.test.jsx
  packages/react/testing-library/src/__tests__/end-to-end.test.jsx
  packages/react/testing-library/src/__tests__/list.test.jsx
  packages/react/testing-library/src/__tests__/worklet.test.jsx
  packages/react/testing-library/src/plugins/vitest.ts
  packages/react/testing-library/src/vitest.config.ts
  packages/react/testing-library/vitest.config.ts
  packages/rspeedy/create-rspeedy/src/index.ts
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-js/vitest.config.js
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/vitest.config.ts
  packages/testing-library/examples/basic/vitest.config.ts
  packages/use-sync-external-store/vitest.config.ts
  packages/webpack/react-webpack-plugin/src/loaders/testing.ts
Due: React, Rspeedy, Webpack

feat: pass eslint for examples
  eslint.config.js
  examples/react/lynx.config.js
  examples/react/test/jsx-runtime.test-d.tsx
  examples/react/tsconfig.json
  examples/tailwindcss/lynx.config.js
  examples/tailwindcss/src/App.tsx
  examples/tailwindcss/src/index.tsx
  examples/tailwindcss/src/utils.ts
  examples/tailwindcss/test/App.test-d.ts
  examples/tailwindcss/tsconfig.json
Due: none

feat: add applyStubRspeedyAPI
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
  packages/rspeedy/plugin-react/src/rstest.ts
  packages/rspeedy/plugin-react/src/stubRspeedyApi.ts
Due: Rspeedy

feat: add test cases for callerName: rstest
  packages/rspeedy/plugin-react/test/config.test.ts
Due: Rspeedy

fix(rspeedy/register): should hook resolve in type stripping (#1407)
  .changeset/purple-cloths-argue.md
  packages/rspeedy/core/register/data.d.ts
  packages/rspeedy/core/register/hooks.js
  packages/rspeedy/core/register/index.d.ts
  packages/rspeedy/core/register/index.js
  packages/rspeedy/core/src/config/loadConfig.ts
Due: Rspeedy

ci: avoid codecov upload error (#1403)
  .github/workflows/workflow-test.yml
Due: none

test(rspeedy/core): fix register tests (#1410)
  .changeset/thin-masks-spend.md
  packages/rspeedy/core/register/data.d.ts
  packages/rspeedy/core/register/hooks.js
  packages/rspeedy/core/register/index.d.ts
Due: Rspeedy

fix: remove test.only
  packages/rspeedy/plugin-react/test/config.test.ts
Due: Rspeedy

feat: split testing env change
  .changeset/rare-mice-leave.md
  packages/testing-library/testing-environment/README.md
  packages/testing-library/testing-environment/etc/test-environment.api.md
  packages/testing-library/testing-environment/src/env/vitest/index.ts
  packages/testing-library/testing-environment/src/index.ts
Due: none

feat: allow passing jsdom to new LynxTestingEnv
  .changeset/rare-mice-leave.md
  packages/testing-library/testing-environment/README.md
  packages/testing-library/testing-environment/etc/test-environment.api.md
  packages/testing-library/testing-environment/etc/testing-environment.api.md
  packages/testing-library/testing-environment/src/env/vitest/index.ts
  packages/testing-library/testing-environment/src/index.ts
Due: none

fix: ensures user passed JSDOM precedence
  packages/testing-library/testing-environment/src/index.ts
Due: none

fix(rspeedy/core): deno compat (#1412)
  .changeset/clear-candies-start.md
  packages/rspeedy/core/src/config/loadConfig.ts
Due: Rspeedy

fix: load main-thread chunk in ESM format (#1437)
  .changeset/curly-worlds-change.md
  packages/web-platform/web-constants/src/utils/generateTemplate.ts
  packages/web-platform/web-mainthread-apis/src/prepareMainThreadAPIs.ts
Due: Web Platform

feat(react/runtime): support using a host element as direct child of Suspense (#1308)
  .changeset/fast-coats-swim.md
  packages/react/runtime/__test__/lynx/suspense.test.jsx
  packages/react/runtime/src/backgroundSnapshot.ts
  packages/react/runtime/src/index.ts
  packages/react/runtime/src/internal.ts
  packages/react/runtime/src/lynx/suspense.ts
  packages/react/testing-library/src/__tests__/lazy-bundle/index.test.jsx
Due: React

refactor: character classification macros to functions (#1425)
  .changeset/thin-owls-tie.md
  packages/web-platform/inline-style-parser/src/char_code_definitions.rs
  packages/web-platform/inline-style-parser/src/lib.rs
  packages/web-platform/inline-style-parser/src/parse_inline_style.rs
  packages/web-platform/inline-style-parser/src/tokenize.rs
  packages/web-platform/inline-style-parser/src/utils.rs
  packages/web-platform/web-style-transformer/src/transformer/transform.rs
Due: Web Platform

feat(rspeedy/core)!: remove webpack support (#1432)
  .changeset/better-candies-type.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/package.json
  packages/rspeedy/core/src/config/index.ts
  packages/rspeedy/core/src/config/rsbuild/index.ts
  packages/rspeedy/core/test/plugins/chunkLoading.plugin.test.ts
  packages/rspeedy/plugin-react/package.json
  packages/rspeedy/plugin-react/test/css.test.ts
  packages/rspeedy/plugin-react/test/swc-config.test.ts
  pnpm-lock.yaml
Due: Rspeedy

chore: upgrade preact (#1436)
  packages/react/package.json
  pnpm-lock.yaml
Due: React

Add referrerpolicy attribute support to x-image web component (#1420)
  .changeset/tricky-bars-follow.md
  packages/web-platform/web-elements/src/XImage/ImageSrc.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts
  packages/web-platform/web-tests/tests/web-elements/x-image/referrerpolicy.html
Due: Web Platform

feat: add `onBackgroundSnapshotInstanceUpdateId` event for Preact Devtools (#1173)
  .changeset/lucky-boats-rhyme.md
  packages/react/runtime/src/snapshot.ts
  packages/webpack/react-refresh-webpack-plugin/test/hotCases/hook/useContext/index.jsx
  packages/webpack/react-refresh-webpack-plugin/test/hotCases/jsx/value/index.jsx
  packages/webpack/react-refresh-webpack-plugin/test/setup-env.js
Due: React, Webpack

feat(eslint): support eslint for ReactLynx (#1274)
  .changeset/floppy-singers-chew.md
  .github/workflows/test.yml
  eslint.config.js
  examples/react/lynx.config.js
  examples/react/test/jsx-runtime.test-d.tsx
  examples/react/tsconfig.json
  examples/tailwindcss/lynx.config.js
  examples/tailwindcss/src/App.tsx
  examples/tailwindcss/src/index.tsx
  examples/tailwindcss/src/utils.ts
  examples/tailwindcss/test/App.test-d.ts
  examples/tailwindcss/tsconfig.json
  package.json
  packages/rspeedy/create-rspeedy/src/index.ts
  packages/rspeedy/create-rspeedy/template-common/src/rspeedy-env.d.ts
  packages/rspeedy/create-rspeedy/template-react-js/src/App.jsx
  packages/rspeedy/create-rspeedy/template-react-ts/src/App.tsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-js/src/App.jsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/src/App.tsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/src/__tests__/index.test.tsx
  pnpm-lock.yaml
Due: Rspeedy

feat(rspeedy/cli): close instance after building (#1446)
  .changeset/heavy-hotels-drum.md
  packages/rspeedy/core/src/cli/build.ts
  packages/rspeedy/core/test/cli/build.test.ts
  packages/rspeedy/core/test/cli/fixtures/onCloseBuild/lynx.config.js
  packages/rspeedy/core/test/cli/fixtures/onCloseBuild/src/index.js
  packages/rspeedy/core/test/cli/onCloseBuild.test.ts
Due: Rspeedy

Revert "feat(react/runtime): support using a host element as direct child of Suspense" (#1450)
  .changeset/fast-coats-swim.md
  packages/react/runtime/__test__/lynx/suspense.test.jsx
  packages/react/runtime/src/backgroundSnapshot.ts
  packages/react/runtime/src/index.ts
  packages/react/runtime/src/internal.ts
  packages/react/runtime/src/lynx/suspense.ts
  packages/react/testing-library/src/__tests__/lazy-bundle/index.test.jsx
Due: React

feat: support recyclable in list-item (#1388)
  .changeset/dirty-lines-wear.md
  packages/react/runtime/__test__/list.test.jsx
  packages/react/runtime/src/snapshot/platformInfo.ts
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
Due: React

chore: add pnpm plugins (#1447)
  pnpm-workspace.yaml
Due: none

ci: increase max old space size in tests (#1451)
  .github/workflows/workflow-test.yml
Due: none

chore: use docker container to run playwright test to boost ci (#1329)
  .github/actions/setup-playwright/action.yml
  .github/workflows/test.yml
  .github/workflows/workflow-test.yml
  packages/react/refresh/turbo.json
  packages/react/testing-library/turbo.json
  packages/react/worklet-runtime/turbo.json
  packages/rspeedy/core/turbo.json
  packages/rspeedy/create-rspeedy/turbo.json
  packages/rspeedy/plugin-qrcode/turbo.json
  packages/rspeedy/plugin-react-alias/turbo.json
  packages/rspeedy/plugin-react/turbo.json
  packages/rspeedy/upgrade-rspeedy/turbo.json
  packages/web-platform/web-core-server/turbo.json
  packages/web-platform/web-explorer/turbo.json
  packages/web-platform/web-rsbuild-plugin/turbo.json
  packages/web-platform/web-style-transformer/turbo.json
  packages/web-platform/web-tests/rspack.config.js
  turbo.json
Due: React, Rspeedy, Web Platform

feat: use getRspeedyAPI and remove applyStubRspeedyAPI
  packages/rspeedy/plugin-react/package.json
  packages/rspeedy/plugin-react/src/entry.ts
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
  packages/rspeedy/plugin-react/src/rspeedy-api.ts
  packages/rspeedy/plugin-react/src/stubRspeedyApi.ts
  pnpm-lock.yaml
Due: Rspeedy

feat: remove enableDefine and use lynx.config to define __ALOG__
  .changeset/tidy-cities-shop.md
  packages/react/testing-library/rstest.config.ts
  packages/react/testing-library/src/__tests__/lazy-bundle/index.test.jsx
  packages/rspeedy/plugin-react/src/entry.ts
  packages/webpack/react-webpack-plugin/etc/react-webpack-plugin.api.md
  packages/webpack/react-webpack-plugin/src/ReactWebpackPlugin.ts
Due: React, Rspeedy, Webpack

fix: snapshot
  packages/react/testing-library/src/__tests__/lazy-bundle/index.test.jsx
Due: React

test: migrating vitest workspace to projects (#1453)
  vitest.config.ts
  vitest.workspace.json
Due: none

chore: tweaks to fix `pnpm install` (#1454)
  package.json
  patches/webpack@5.101.0.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(react/runtime): support using a host element as direct child of Suspense (#1455)
  .changeset/fast-coats-swim.md
  packages/react/runtime/__test__/lynx/suspense.test.jsx
  packages/react/runtime/src/backgroundSnapshot.ts
  packages/react/runtime/src/index.ts
  packages/react/runtime/src/lynx/suspense.ts
  packages/react/testing-library/src/__tests__/lazy-bundle/index.test.jsx
Due: React

fix(react/runtime): fix background functions are stringified to undefined in MTS (#1416)
  .changeset/wild-ghosts-heal.md
  packages/react/runtime/__test__/worklet/transform.test.js
  packages/react/runtime/src/worklet/transformToWorklet.ts
  packages/react/testing-library/src/__tests__/worklet.test.jsx
Due: React

fix(web): onNativeModulesCall should use promise to return ret (#1457)
  .changeset/old-squids-spend.md
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-tests/shell-project/index.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/api-nativemodules-call-delay/index.jsx
Due: Web Platform

chore: remove pnpm plugins (#1461)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: add cpu limit for playwright tests (#1465)
  packages/web-platform/web-tests/playwright.config.ts
Due: Web Platform

done step uses ubuntu-latest to start faster (#1469)
  .github/workflows/test.yml
Due: none

fix: remove default assign of `jsReady` to `firstScreenSyncTiming`
  packages/rspeedy/plugin-react/src/entry.ts
Due: Rspeedy

feat: support path() for `createQuerySelector` (#1456)
  .changeset/get-path-info-api.md
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-constants/src/types/NativeApp.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerGetPathInfoHandler.ts
  packages/web-platform/web-core/src/uiThread/startBackground.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/api-get-path-info/index.jsx
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/crossThreadHandlers/createGetPathInfo.ts
Due: Web Platform

Path conditions:
  React: any of: packages/react/**
  Rspeedy: any of: packages/rspeedy/**
  Webpack: any of: packages/webpack/**
  Web Platform: any of: packages/web-platform/**
