Repository upupming/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack, Web Platform

codecov.yml:

coverage:
  status:
    project:
      default:
        threshold: "0%"
        informational: true
      react:
        threshold: "0%"
        paths:
          - packages/react
      rspeedy:
        threshold: "0%"
        paths:
          - packages/rspeedy
      webpack:
        threshold: "0%"
        paths:
          - packages/webpack
      web-platform:
        threshold: "0%"
        paths:
          - packages/web-platform
    patch:
      default:
        threshold: "1%"

fixes:
  - "/home/runner/_work/lynx-stack::"

parsers:
  javascript:
    enable_partials: yes

github_checks:
  annotations: false

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment
  behavior: default
  require_changes: true # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  require_bundle_changes: true # for web-explorer

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
      - type: patch
        threshold: "1%"
  individual_components:
    - component_id: react
      name: React
      paths:
        - packages/react/**
    - component_id: rspeedy
      name: Rspeedy
      paths:
        - packages/rspeedy/**
    - component_id: webpack
      name: Webpack
      paths:
        - packages/webpack/**
    - component_id: web
      name: Web Platform
      paths:
        - packages/web-platform/**

fix(web): fix: && use getter to get. (#1466)
  .changeset/short-taxis-smash.md
  packages/web-platform/web-core/src/apis/LynxView.ts
Due: Web Platform

chore: improve ci (#1477)
  .github/workflows/test.yml
Due: none

Add autocomplete attribute support for x-input component (#1444)
  .changeset/neat-frogs-autocomplete.md
  packages/web-platform/web-elements/src/XInput/XInputAttribute.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts
  packages/web-platform/web-tests/tests/web-elements/x-input/attribute-autocomplete.html
Due: Web Platform

fix(testing): GlobalEventEmitter.emit should receive array
  .changeset/khaki-beans-enter.md
  packages/react/testing-library/src/__tests__/lynx.test.jsx
  packages/testing-library/testing-environment/src/index.ts
  packages/testing-library/testing-environment/src/lynx/GlobalEventEmitter.ts
Due: React

feat(react): support profile in production build (#1336)
  .changeset/forty-aliens-play.md
  packages/react/runtime/__test__/debug/hook.js
  packages/react/runtime/__test__/debug/profile.test.jsx
  packages/react/runtime/__test__/lifecycle/reload.test.jsx
  packages/react/runtime/__test__/lifecycle/updateData.test.jsx
  packages/react/runtime/__test__/lynx/timing.test.jsx
  packages/react/runtime/__test__/utils/globals.js
  packages/react/runtime/src/debug/profile.ts
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lifecycle/patch/updateMainThread.ts
  packages/react/runtime/src/lynx.ts
  packages/react/runtime/src/renderToOpcodes/index.ts
  packages/web-platform/web-constants/src/types/NativeApp.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createPerformanceApis.ts
Due: React, Web Platform

fix(testing): GlobalEventEmitter.emit should receive array (#1479)
  .changeset/khaki-beans-enter.md
  packages/react/testing-library/src/__tests__/lynx.test.jsx
  packages/testing-library/testing-environment/src/index.ts
  packages/testing-library/testing-environment/src/lynx/GlobalEventEmitter.ts
Due: React

feat(react/runtime): prevent error when spreading component props onto an element (#1459)
  .changeset/petite-houses-obey.md
  packages/react/runtime/__test__/snapshot/spread.test.jsx
  packages/react/runtime/src/snapshot/spread.ts
Due: React

fix: withInitDataInState wrong state after 2nd defaultDataProcessor
  .changeset/free-colts-listen.md
  packages/react/runtime/__test__/compat/initData.test.jsx
  packages/react/runtime/src/compat/initData.ts
  packages/react/runtime/src/lynx/tt.ts
Due: React

fix: coderabbitai review
  packages/react/runtime/__test__/compat/initData.test.jsx
  packages/react/runtime/src/compat/initData.ts
Due: React

feat(rspeedy/core): support function in `output.filename.*` (#1449)
  .changeset/bumpy-cameras-make.md
  .changeset/tasty-ends-report.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/config/output/filename.ts
  packages/rspeedy/core/test/config/output.test-d.ts
  packages/rspeedy/core/test/plugins/output.plugin.test.ts
Due: Rspeedy

fix(rspeedy/react): resolve `@lynx-js/react/*` from rootPath (#1460)
  .changeset/plain-ideas-care.md
  packages/rspeedy/plugin-react-alias/src/index.ts
  packages/rspeedy/plugin-react-alias/test/compat/legacy.canary.test.ts
  packages/rspeedy/plugin-react-alias/test/compat/legacy.test.ts
  packages/rspeedy/plugin-react-alias/test/compat/next.canary.test.ts
  packages/rspeedy/plugin-react-alias/test/compat/next.test.ts
  packages/rspeedy/plugin-react-alias/test/include.test.ts
  packages/rspeedy/plugin-react-alias/test/index.test.ts
  packages/rspeedy/plugin-react/test/background-only.test.ts
  packages/rspeedy/plugin-react/test/basic.test.ts
  packages/rspeedy/plugin-react/test/config.test.ts
  packages/rspeedy/plugin-react/test/createRspeedy.ts
  packages/rspeedy/plugin-react/test/css.test.ts
  packages/rspeedy/plugin-react/test/generator.test.ts
  packages/rspeedy/plugin-react/test/lazy.test.ts
  packages/rspeedy/plugin-react/test/refresh.test.ts
  packages/rspeedy/plugin-react/test/swc-config.test.ts
  packages/rspeedy/plugin-react/test/web.test.ts
Due: Rspeedy

feat: support cache for lynx.performance
  packages/react/runtime/src/lynx-api.ts
  packages/react/runtime/src/lynx/tt.ts
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
  packages/webpack/template-webpack-plugin/static/lynx-core-inject-cache.js
Due: React, Webpack

chore: remove process.env['DEBUG']
  packages/react/testing-library/src/plugins/vitest.ts
Due: React

fix: update testing cases
  packages/rspeedy/plugin-react/test/config.test.ts
Due: Rspeedy

chore: ignore vitest timestamp files
  .gitignore
Due: none

fix: tt._appInstance should only cache functions
  packages/webpack/template-webpack-plugin/static/lynx-core-inject-cache.js
Due: Webpack

test: add css hmr test case on chunk splitting
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/entry1.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/entry2.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/entry3.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/entry4.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/index.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/lib-common.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/lib-common.module.css
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/no-changed.css
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/rspack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/test.config.cjs
Due: Webpack

fix: "emit different content to the same filename" error
  .changeset/shaky-pumas-fail.md
  packages/webpack/css-extract-webpack-plugin/src/CssExtractRspackPlugin.ts
Due: Webpack

chore: ignore vitest timestamp files (#1489)
  .gitignore
Due: none

fix(web): all attributes except id and type under ElementTemplateData… (#1483)
  .changeset/true-things-search.md
  packages/web-platform/web-constants/src/types/LynxModule.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
Due: Web Platform

feat: use exported promise signal for bts ready
  packages/react/runtime/src/lynx-api.ts
  packages/react/runtime/types/types.d.ts
  packages/webpack/runtime-wrapper-webpack-plugin/src/RuntimeWrapperWebpackPlugin.ts
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
  packages/webpack/template-webpack-plugin/static/lynx-core-inject-cache.js
Due: React, Webpack

feat: update snapshots without templateDebugUrl
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/2.snap.txt
Due: Webpack

feat: clean up code
  examples/react/lynx.config.js
  packages/rspeedy/plugin-react/src/entry.ts
  packages/webpack/runtime-wrapper-webpack-plugin/src/RuntimeWrapperWebpackPlugin.ts
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
  packages/webpack/template-webpack-plugin/static/events-cache.js
Due: Rspeedy, Webpack

feat: add test cases
  packages/webpack/template-webpack-plugin/test/cases/code-splitting/cache-events/bar.js
  packages/webpack/template-webpack-plugin/test/cases/code-splitting/cache-events/foo.js
  packages/webpack/template-webpack-plugin/test/cases/code-splitting/cache-events/index.js
  packages/webpack/template-webpack-plugin/test/cases/code-splitting/cache-events/rspack.config.js
  packages/webpack/template-webpack-plugin/test/cases/code-splitting/cache-events/test.config.cjs
Due: Webpack

ci: fix flaky test (#1496)
  .github/workflows/test.yml
  pnpm-workspace.yaml
Due: none

feat: chunk splitting should always use iife false
  packages/webpack/runtime-wrapper-webpack-plugin/src/RuntimeWrapperWebpackPlugin.ts
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
Due: Webpack

chore: add changeset
  .changeset/brave-melons-add.md
Due: none

chore: update api
  packages/webpack/template-webpack-plugin/etc/template-webpack-plugin.api.md
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
Due: Webpack

fix(testing-library): do not transform css imports
  .changeset/curvy-dragons-appear.md
  packages/react/testing-library/src/__tests__/css/index.test.jsx
  packages/react/testing-library/src/__tests__/css/style1.css
  packages/react/testing-library/src/__tests__/css/style2.css
  packages/react/testing-library/src/__tests__/css/style3.module.css
  packages/react/testing-library/src/vitest.config.js
Due: React

fix: config test cases
  packages/rspeedy/plugin-react/test/config.test.ts
  packages/webpack/runtime-wrapper-webpack-plugin/src/RuntimeWrapperWebpackPlugin.ts
  packages/webpack/template-webpack-plugin/static/events-cache.js
Due: Rspeedy, Webpack

docs: update logs
  packages/webpack/runtime-wrapper-webpack-plugin/src/RuntimeWrapperWebpackPlugin.ts
  packages/webpack/template-webpack-plugin/static/events-cache.js
Due: Webpack

fix(testing-library): render options type
  .changeset/four-actors-ring.md
  packages/react/testing-library/types/entry.d.ts
  packages/testing-library/examples/basic/package.json
  packages/testing-library/examples/basic/src/__tests__/types/render.test-d.tsx
  packages/testing-library/examples/basic/src/__tests__/types/renderHook.test-d.tsx
  packages/testing-library/examples/basic/tsconfig.json
Due: React

fix(web): \_\_ElementFromBinary should mark all elements actively (#1484)
  .changeset/silly-rockets-bet.md
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-tests/resources/web-core.main-thread.json
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
Due: Web Platform

test(rspeedy/qrcode): remove the `expect.poll.timeout` (#1507)
  packages/rspeedy/plugin-qrcode/vitest.config.ts
Due: Rspeedy

fix: "emit different content to the same filename" error (#1482)
  .changeset/shaky-pumas-fail.md
  packages/webpack/css-extract-webpack-plugin/src/CssExtractRspackPlugin.ts
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/entry1.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/entry2.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/entry3.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/entry4.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/index.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/lib-common.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/lib-common.module.css
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/no-changed.css
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/rspack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/test.config.cjs
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/2.snap.txt
Due: Webpack

fix(react/transform): handle `<frame/>` correctly (#1497)
  .changeset/shiny-ants-battle.md
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_full_static.js
Due: React

chore(renovate): remove automerge (#1511)
  .github/renovate.json5
Due: none

refactor(react): always use `renderToString` when renderPage in test (#1452)
  .changeset/famous-taxes-jog.md
  packages/react/components/src/Page.ts
  packages/react/runtime/__test__/lifecycle/reload.test.jsx
  packages/react/runtime/__test__/lifecycle/updateData.test.jsx
  packages/react/runtime/__test__/list.test.jsx
  packages/react/runtime/__test__/lynx/suspense.test.jsx
  packages/react/runtime/__test__/page.test.jsx
  packages/react/runtime/__test__/renderToOpcodes.test.jsx
  packages/react/runtime/__test__/snapshot/event.test.jsx
  packages/react/runtime/__test__/snapshot/ref.test.jsx
  packages/react/runtime/__test__/snapshot/workletRef.test.jsx
  packages/react/runtime/__test__/ssr.test.jsx
  packages/react/runtime/__test__/utils/globals.js
  packages/react/runtime/__test__/utils/setup.js
  packages/react/runtime/src/alog/render.ts
  packages/react/runtime/src/lifecycle/render.ts
  packages/react/runtime/src/renderToOpcodes/index.ts
  packages/react/testing-library/src/__tests__/act.test.jsx
  packages/react/testing-library/src/__tests__/alog.test.jsx
  packages/web-platform/web-tests/tests/__snapshots__/server.vitest.spec.ts.snap
Due: React, Web Platform
