Repository upupming/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack, Web Platform

codecov.yml:

coverage:
  status:
    project:
      default:
        threshold: "0%"
        informational: true
      react:
        threshold: "0%"
        paths:
          - packages/react
      rspeedy:
        threshold: "0%"
        paths:
          - packages/rspeedy
      webpack:
        threshold: "0%"
        paths:
          - packages/webpack
      web-platform:
        threshold: "0%"
        paths:
          - packages/web-platform
    patch:
      default:
        threshold: "1%"

fixes:
  - "/home/runner/_work/lynx-stack::"

parsers:
  javascript:
    enable_partials: yes

github_checks:
  annotations: false

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment
  behavior: default
  require_changes: true # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  require_bundle_changes: true # for web-explorer

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
      - type: patch
        threshold: "1%"
  individual_components:
    - component_id: react
      name: React
      paths:
        - packages/react/**
    - component_id: rspeedy
      name: Rspeedy
      paths:
        - packages/rspeedy/**
    - component_id: webpack
      name: Webpack
      paths:
        - packages/webpack/**
    - component_id: web
      name: Web Platform
      paths:
        - packages/web-platform/**

fix(react): preserve background component owner stacks (#3919)
  .changeset/preserve-component-stack-owners.md
  packages/react/runtime/__test__/element-template/runtime/background/component-stack.test.tsx
  packages/react/runtime/__test__/snapshot/spread.test.jsx
  packages/react/runtime/src/element-template/native/index.ts
  packages/react/runtime/src/shared/component-stack.ts
Due: React

feat(genui): streamline Bench groups and add presets (#3924)
  packages/genui/playground/src/components/ConversationListPanel.tsx
  packages/genui/playground/src/components/HistoryRailShell.tsx
  packages/genui/playground/src/hooks/useConversation.ts
  packages/genui/playground/src/pages/bench/BenchComparisonGroupsSection.tsx
  packages/genui/playground/src/pages/bench/BenchHistoryRail.tsx
  packages/genui/playground/src/pages/bench/BenchPage.css
  packages/genui/playground/src/pages/bench/BenchPage.recovery.test.ts
  packages/genui/playground/src/pages/bench/BenchPage.test.ts
  packages/genui/playground/src/pages/bench/BenchPage.tsx
  packages/genui/playground/src/pages/bench/PublishedReportPage.test.ts
  packages/genui/playground/src/pages/bench/benchData.ts
  packages/genui/playground/src/pages/chat/ChatController.tsx
  packages/genui/playground/src/pages/chat/ChatPage.css
  packages/genui/server/service/common/bench/judge.ts
  packages/genui/server/test/genui-bench-judge.test.ts
Due: none

chore: run rslib without the redundant build subcommand (#3934)
  .changeset/create-lynx-rslib-default-command.md
  examples/react-externals-web/package.json
  examples/react-externals/package.json
  packages/genui/a2ui-prompt/package.json
  packages/genui/lynx-xml/package.json
  packages/genui/server/package.json
  packages/lynx/autolink-codegen/package.json
  packages/lynx/create-lynx-library/package.json
  packages/lynx/gesture-runtime/package.json
  packages/motion/package.json
  packages/react-signals/package.json
  packages/react-umd/package.json
  packages/react/package.json
  packages/react/refresh/package.json
  packages/react/testing-library/package.json
  packages/rspeedy/core/package.json
  packages/rspeedy/create-lynx/library/template-external-bundle-js/package.json
  packages/rspeedy/create-lynx/library/template-external-bundle-ts/package.json
  packages/rspeedy/create-lynx/library/template-rslib-react-js/package.json
  packages/rspeedy/create-lynx/library/template-rslib-react-ts/package.json
  packages/rspeedy/create-lynx/package.json
  packages/rspeedy/create-lynx/test/template.test.ts
  packages/rspeedy/create-rspeedy/package.json
  packages/rspeedy/plugin-config/package.json
  packages/rspeedy/plugin-debug-metadata/package.json
  packages/rspeedy/plugin-lynx/package.json
  packages/rspeedy/plugin-qrcode/package.json
  packages/rspeedy/plugin-react-alias/package.json
  packages/rspeedy/plugin-react/package.json
  packages/rspeedy/plugin-vanilla/package.json
  packages/rspeedy/upgrade-rspeedy/package.json
  packages/tailwind-preset/package.json
  packages/testing-library/kitten-lynx/package.json
  packages/testing-library/testing-environment/package.json
  packages/web-platform/web-core-e2e/package.json
  packages/web-platform/web-core/package.json
  packages/web-platform/web-rsbuild-plugin/package.json
Due: React, Rspeedy, Web Platform

fix(headless): defer DebugRouter connection until DOM inspection (#3939)
  .github/headless-rust-test-runner.instructions.md
  packages/lynx/headless-rust-test-runner/README.md
  packages/lynx/headless-rust-test-runner/src/lib.rs
Due: none

fix(genui): surface OpenUI renderer errors in previews (#3941)
  .changeset/openui-render-error-feedback.md
  .github/genui-playground.instructions.md
  packages/genui/openui/test/error-feedback.test.tsx
  packages/genui/playground/lynx-src/openui/App.tsx
  packages/genui/playground/lynx-src/openui/index.css
  packages/genui/playground/lynx-src/openui/renderErrors.ts
  packages/genui/playground/src/components/OpenUIRenderErrors.css
  packages/genui/playground/src/components/OpenUIRenderErrors.tsx
  packages/genui/playground/src/components/PreviewPanel.tsx
  packages/genui/playground/src/render.tsx
  packages/genui/playground/src/utils/openuiRenderErrors.test.ts
  packages/genui/playground/src/utils/openuiRenderErrors.ts
Due: none

fix(genui): align OpenUI examples with component schemas (#3937)
  .changeset/openui-editor-validation.md
  .changeset/openui-schema-examples.md
  .github/genui-playground.instructions.md
  .github/openui-v05.instructions.md
  packages/genui/playground/lynx-src/openui/mockData.ts
  packages/genui/playground/src/catalog/openui.test.ts
  packages/genui/playground/src/catalog/openui.ts
  packages/genui/playground/src/mock/openui-scenarios.ts
  packages/genui/playground/src/pages/demos/openui.test.ts
  packages/genui/playground/src/pages/demos/openui.ts
  packages/genui/playground/src/utils/openui-validation.test.ts
Due: none

feat(upgrade-rspeedy): upgrade every published Lynx package (#3815)
  .changeset/upgrade-rspeedy-all-packages.md
  packages/rspeedy/upgrade-rspeedy/package.json
  packages/rspeedy/upgrade-rspeedy/test/coverage.test.ts
  pnpm-lock.yaml
Due: Rspeedy

fix(genui): stabilize UI Judge scoring and Bench workflows (#3945)
  .github/a2ui-bench.instructions.md
  .github/genui-playground.instructions.md
  .github/genui-server.instructions.md
  packages/genui/playground/src/pages/bench/BenchHistoryRail.tsx
  packages/genui/playground/src/pages/bench/BenchPage.css
  packages/genui/playground/src/pages/bench/BenchPage.recovery.test.ts
  packages/genui/playground/src/pages/bench/BenchPage.test.ts
  packages/genui/playground/src/pages/bench/BenchPage.tsx
  packages/genui/playground/src/pages/bench/BenchReportPanel.tsx
  packages/genui/playground/src/pages/bench/BenchRunFooter.test.ts
  packages/genui/playground/src/pages/bench/BenchRunFooter.tsx
  packages/genui/playground/src/pages/bench/PublishedReportPage.test.ts
  packages/genui/playground/src/pages/bench/PublishedReportPage.tsx
  packages/genui/playground/src/pages/bench/benchData.ts
  packages/genui/playground/src/pages/bench/benchHistory.ts
  packages/genui/playground/src/pages/bench/benchProtocols.test.ts
  packages/genui/server/AGENTS.md
  packages/genui/server/agent/common/ui-judge-agent.ts
  packages/genui/server/agent/common/ui-judge-request-queue.ts
  packages/genui/server/service/a2ui/a2ui-bench-judge.ts
  packages/genui/server/service/common/bench/judge.ts
  packages/genui/server/service/common/bench/redaction.ts
  packages/genui/server/service/common/bench/retry.ts
  packages/genui/server/service/common/bench/runner.ts
  packages/genui/server/service/common/bench/store.ts
  packages/genui/server/test/a2ui-bench-judge.test.ts
  packages/genui/server/test/a2ui-bench-runner.test.ts
  packages/genui/server/test/bench-progress.test.ts
  packages/genui/server/test/bench-retry.test.ts
  packages/genui/server/test/genui-bench-judge.test.ts
  packages/genui/server/test/ui-judge-agent.test.ts
  packages/genui/server/test/ui-judge-provider.test.ts
  packages/genui/server/test/ui-judge-request-queue.test.ts
  packages/genui/server/test/ui-judge-retry-provider.test.ts
Due: none

feat(genui): expose model prices and generation token usage (#3946)
  .github/genui-server.instructions.md
  packages/genui/server/AGENTS.md
  packages/genui/server/app/a2ui/action/route.ts
  packages/genui/server/app/a2ui/action/stream/route.ts
  packages/genui/server/app/a2ui/chat/route.ts
  packages/genui/server/app/a2ui/stream/route.ts
  packages/genui/server/app/common/text-stream-route.ts
  packages/genui/server/app/common/usage.ts
  packages/genui/server/app/mcp-apps/stream/route.ts
  packages/genui/server/app/models/route.ts
  packages/genui/server/service/a2ui/a2ui-agent.ts
  packages/genui/server/service/common/model-config.ts
  packages/genui/server/test/a2ui-generation-repair.test.ts
  packages/genui/server/test/a2ui-mastra.test.ts
  packages/genui/server/test/app.test.ts
  packages/genui/server/test/generation-token-usage.test.ts
  packages/genui/server/test/mcp-apps-stream.test.ts
  packages/genui/server/test/model-config.test.ts
  packages/genui/server/test/usage.test.ts
Due: none

refactor(genui): batch screenshot scoring and streamline bench reports (#3947)
  .github/genui-playground.instructions.md
  packages/genui/playground/src/pages/bench/BenchReportImageAction.tsx
  packages/genui/playground/src/pages/bench/PublishedReportPage.css
  packages/genui/playground/src/pages/bench/PublishedReportPage.test.ts
  packages/genui/playground/src/pages/bench/PublishedReportPage.tsx
  packages/genui/playground/src/pages/bench/benchReportImage.test.ts
  packages/genui/playground/src/pages/bench/benchReportImage.ts
  packages/genui/server/AGENTS.md
  packages/genui/server/agent/common/openai-responses-compat.ts
  packages/genui/server/agent/common/ui-judge-agent.ts
  packages/genui/server/service/common/bench/runner.ts
  packages/genui/server/test/bench-retry-integration.test.ts
  packages/genui/server/test/openai-responses-compat.test.ts
  packages/genui/server/test/ui-judge-agent.test.ts
  packages/genui/server/test/ui-judge-fixtures.ts
  packages/genui/server/test/ui-judge-provider.test.ts
  packages/genui/server/test/ui-judge-retry-provider.test.ts
Due: none

perf(ui-judge): allow eight concurrent isolated renders (#3949)
  .github/ui-judge.instructions.md
  packages/genui/ui-judge/README.md
  packages/genui/ui-judge/src/server.rs
Due: none

feat(genui): add bench parameter sharing and history action menus (#3951)
  .github/genui-playground.instructions.md
  packages/genui/playground/src/App.tsx
  packages/genui/playground/src/components/ConversationListPanel.tsx
  packages/genui/playground/src/components/HistoryItemMenu.css
  packages/genui/playground/src/components/HistoryItemMenu.test.ts
  packages/genui/playground/src/components/HistoryItemMenu.tsx
  packages/genui/playground/src/components/Icon.tsx
  packages/genui/playground/src/pages/bench/BenchDropdown.tsx
  packages/genui/playground/src/pages/bench/BenchHistoryRail.tsx
  packages/genui/playground/src/pages/bench/BenchPage.css
  packages/genui/playground/src/pages/bench/BenchPage.recovery.test.ts
  packages/genui/playground/src/pages/bench/BenchPage.tsx
  packages/genui/playground/src/pages/bench/BenchRunPanel.tsx
  packages/genui/playground/src/pages/bench/benchPlanShare.test.ts
  packages/genui/playground/src/pages/bench/benchPlanShare.ts
  packages/genui/playground/src/pages/bench/benchUiJudgeServerUrl.ts
  packages/genui/playground/src/pages/bench/shareBenchPlan.ts
  packages/genui/playground/src/pages/chat/ChatPage.css
  packages/genui/playground/src/utils/appRoute.ts
Due: none

feat(ui-judge): return child stdout and stderr in capture errors (#3952)
  .github/ui-judge.instructions.md
  packages/genui/ui-judge/Cargo.toml
  packages/genui/ui-judge/README.md
  packages/genui/ui-judge/src/server.rs
Due: none

chore(docs-mcp-server): move implementation to lynx-community/skills (#3955)
  .changeset/migrate-docs-mcp-server.md
  .github/mcp-servers.instructions.md
  .github/renovate.json5
  packages/mcp-servers/docs-mcp-server/CHANGELOG.md
  packages/mcp-servers/docs-mcp-server/README.md
  packages/mcp-servers/docs-mcp-server/main.ts
  packages/mcp-servers/docs-mcp-server/package.json
  packages/mcp-servers/docs-mcp-server/tsconfig.json
  packages/mcp-servers/docs-mcp-server/turbo.jsonc
  packages/rspeedy/upgrade-rspeedy/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: Rspeedy

fix(rsbuild-plugin): default environments to lynx like Rspeedy (#3954)
  .changeset/rsbuild-plugin-default-environments.md
  packages/rspeedy/core/src/config/rsbuild/index.ts
  packages/rspeedy/core/test/config/rsbuild.test.ts
  packages/rspeedy/core/test/plugins/environments.plugin.test.ts
  packages/rspeedy/create-lynx/template-rsbuild-react-js/rsbuild.config.js
  packages/rspeedy/create-lynx/template-rsbuild-react-ts/rsbuild.config.ts
  packages/rspeedy/plugin-lynx/src/index.ts
  packages/rspeedy/plugin-lynx/src/plugins/environments.plugin.ts
  packages/rspeedy/plugin-lynx/test/index.test.ts
Due: Rspeedy

fix(rsbuild-plugin): default output.dataUriLimit to 2 KiB like Rspeedy (#3953)
  .changeset/rsbuild-plugin-data-uri-limit.md
  packages/rspeedy/core/src/config/rsbuild/index.ts
  packages/rspeedy/core/test/config/rsbuild.test.ts
  packages/rspeedy/core/test/plugins/output.plugin.test.ts
  packages/rspeedy/plugin-lynx/src/plugins/output.plugin.ts
  packages/rspeedy/plugin-lynx/test/output.plugin.test.ts
Due: Rspeedy

docs(web): fix outdated TSDoc (#3963)
  .changeset/docs-web-outdated-tsdoc.md
  packages/web-platform/web-core/README.md
  packages/web-platform/web-core/ts/client/mainthread/LynxView.ts
  packages/web-platform/web-elements/src/elements/ScrollView/index.ts
  packages/web-platform/web-elements/src/elements/XInput/index.ts
  packages/web-platform/web-elements/src/elements/XList/XList.ts
  packages/web-platform/web-elements/src/elements/XList/index.ts
  packages/web-platform/web-elements/src/elements/XMarkdown/index.ts
  packages/web-platform/web-elements/src/elements/XSwiper/index.ts
  packages/web-platform/web-elements/src/elements/XTextarea/index.ts
  packages/web-platform/web-elements/src/elements/XViewpagerNg/index.ts
  packages/web-platform/web-rsbuild-plugin/README.md
  packages/web-platform/web-rsbuild-plugin/src/pluginWebPlatform.ts
  packages/web-platform/web-worker-rpc/src/Rpc.ts
  packages/web-platform/web-worker-rpc/src/RpcEndpoint.ts
Due: Web Platform

refactor(rspeedy): leave the hmr, liveReload and printFileSize defaults to Rsbuild (#3970)
  .changeset/rspeedy-rsbuild-defaults.md
  packages/rspeedy/core/src/config/rsbuild/index.ts
  packages/rspeedy/core/test/config/rsbuild.test.ts
Due: Rspeedy

chore: point Claude Code at AGENTS.md (#3968)
  .changeset/claude-md.md
  CLAUDE.md
Due: none

refactor(rspeedy): remove the unused entries field from ExposedAPI (#3971)
  .changeset/remove-exposed-api-entries.md
  .changeset/rspeedy-0-18-peer-range.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/api.ts
  packages/rspeedy/plugin-config/package.json
  packages/rspeedy/plugin-external-bundle/package.json
  packages/rspeedy/plugin-qrcode/package.json
  packages/rspeedy/plugin-react-alias/package.json
  packages/rspeedy/plugin-react/package.json
  packages/rspeedy/plugin-vanilla/package.json
Due: Rspeedy

feat(ui-judge): expose capture child exit code and signal (#3974)
  .github/ui-judge.instructions.md
  packages/genui/ui-judge/README.md
  packages/genui/ui-judge/src/server.rs
Due: none

docs(react): fix outdated TSDoc and READMEs (#3964)
  .changeset/docs-react-outdated-tsdoc.md
  packages/background-only/README.md
  packages/react-umd/README.md
  packages/react/runtime/src/lynx-api.ts
  packages/react/transform/crates/swc_plugin_compat/lib.rs
  packages/react/transform/crates/swc_plugin_compat/napi.rs
  packages/react/transform/index.d.ts
  packages/rspeedy/plugin-react/etc/react-rsbuild-plugin.api.md
  packages/use-sync-external-store/README.md
Due: React, Rspeedy

fix(rsbuild-plugin): default performance.profile under DEBUG like Rspeedy (#3973)
  .changeset/rsbuild-plugin-default-profile.md
  packages/rspeedy/core/src/config/defaults.ts
  packages/rspeedy/core/src/config/performance/index.ts
  packages/rspeedy/core/src/plugins/index.ts
  packages/rspeedy/core/src/plugins/statsJson.plugin.ts
  packages/rspeedy/core/test/plugins/stats.plugin.test.ts
  packages/rspeedy/plugin-lynx/src/config.ts
  packages/rspeedy/plugin-lynx/test/config.plugin.test.ts
  packages/rspeedy/plugin-react/src/entry.ts
  packages/rspeedy/plugin-react/test/debug.test.ts
Due: Rspeedy

fix(react): type testing-library unmount as returning void (#3960)
  .changeset/testing-library-unmount-type.md
  packages/react/testing-library/etc/react-lynx-testing-library.api.md
  packages/react/testing-library/types/entry.d.ts
Due: React

docs(webpack): fix outdated TSDoc (#3962)
  .changeset/docs-webpack-outdated-tsdoc.md
  packages/webpack/cache-events-webpack-plugin/README.md
  packages/webpack/cache-events-webpack-plugin/package.json
  packages/webpack/cache-events-webpack-plugin/src/LynxCacheEventsPlugin.ts
  packages/webpack/cache-events-webpack-plugin/src/index.ts
  packages/webpack/chunk-loading-webpack-plugin/src/index.ts
  packages/webpack/css-extract-webpack-plugin/src/CssExtractRspackPlugin.ts
  packages/webpack/externals-loading-webpack-plugin/src/index.ts
  packages/webpack/react-refresh-webpack-plugin/src/ReactRefreshRspackPlugin.ts
  packages/webpack/react-webpack-plugin/src/ReactWebpackPlugin.ts
  packages/webpack/runtime-config-webpack-plugin/src/RuntimeConfigWebpackPlugin.ts
  packages/webpack/runtime-wrapper-webpack-plugin/src/RuntimeWrapperWebpackPlugin.ts
  packages/webpack/template-webpack-plugin/README.md
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
  packages/webpack/template-webpack-plugin/src/index.ts
  packages/webpack/webpack-dev-transport/README.md
  packages/webpack/webpack-dev-transport/client/transport.ts
  packages/webpack/webpack-runtime-globals/package.json
  packages/webpack/webpack-runtime-globals/src/RuntimeGlobals.ts
Due: Webpack

fix(rspeedy): leave output.cssModules.localIdentName to Rsbuild (#3972)
  .changeset/rspeedy-css-modules-default.md
  packages/rspeedy/core/src/config/defaults.ts
  packages/rspeedy/core/src/config/output/css-modules.ts
  packages/rspeedy/core/test/plugins/output.plugin.test.ts
Due: Rspeedy

docs: fix outdated TSDoc in libraries and tools (#3966)
  .changeset/docs-tools-outdated-tsdoc.md
  packages/lynx/autolink-codegen/src/cli.ts
  packages/lynx/autolink-codegen/src/index.ts
  packages/motion/README.md
  packages/tailwind-preset/src/lynx.ts
  packages/tailwind-preset/src/plugins/lynx-ui/uiVariants.ts
  packages/testing-library/kitten-lynx/src/KittenLynxView.ts
Due: none

docs(debug-metadata): say pluginLynx registers the plugin (#3959)
  .changeset/debug-metadata-docs.md
  packages/rspeedy/plugin-debug-metadata/README.md
  packages/rspeedy/plugin-debug-metadata/src/index.ts
  packages/rspeedy/plugin-debug-metadata/src/pluginLynxDebugMetadata.ts
Due: Rspeedy

fix(config-rsbuild-plugin): skip LynxConfigWebpackPlugin under Rstest (#3976)
  .changeset/plugin-config-skip-rstest.md
  packages/rspeedy/plugin-config/src/pluginLynxConfig.ts
  packages/rspeedy/plugin-config/test/pluginLynxConfig.test.ts
Due: Rspeedy

docs(rspeedy): fix outdated TSDoc and READMEs (#3961)
  .changeset/docs-rspeedy-outdated-tsdoc.md
  packages/rspeedy/core/package.json
  packages/rspeedy/core/src/config/dev/index.ts
  packages/rspeedy/core/src/config/index.ts
  packages/rspeedy/core/src/config/output/index.ts
  packages/rspeedy/core/src/config/performance/chunk-split.ts
  packages/rspeedy/core/src/config/performance/index.ts
  packages/rspeedy/core/src/config/resolve/index.ts
  packages/rspeedy/core/src/config/server/index.ts
  packages/rspeedy/core/src/config/source/index.ts
  packages/rspeedy/core/src/config/tools/css-loader.ts
  packages/rspeedy/core/src/index.ts
  packages/rspeedy/lynx-bundle-rslib-config/src/externalBundleRslibConfig.ts
  packages/rspeedy/plugin-external-bundle/src/index.ts
  packages/rspeedy/plugin-lynx/README.md
  packages/rspeedy/plugin-lynx/src/config.ts
  packages/rspeedy/plugin-qrcode/src/index.ts
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
  packages/rspeedy/plugin-vanilla/README.md
  packages/rspeedy/plugin-vanilla/src/pluginVanillaLynx.ts
  packages/rspeedy/websocket/src/WebSocket.ts
Due: Rspeedy

docs(rspeedy): show the Rsbuild setup in the Rsbuild plugin examples (#3978)
  .changeset/docs-rsbuild-plugin-examples.md
  packages/rspeedy/plugin-config/README.md
  packages/rspeedy/plugin-config/src/index.ts
  packages/rspeedy/plugin-config/src/pluginLynxConfig.ts
  packages/rspeedy/plugin-external-bundle/README.md
  packages/rspeedy/plugin-external-bundle/src/index.ts
  packages/rspeedy/plugin-qrcode/README.md
  packages/rspeedy/plugin-qrcode/src/index.ts
  packages/rspeedy/plugin-react/README.md
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
  packages/rspeedy/plugin-vanilla/README.md
Due: Rspeedy

refactor(react-webpack-plugin): remove the unused jsx loader option (#3979)
  .changeset/react-refresh-webpack-plugin-peer-0-12.md
  .changeset/react-webpack-plugin-remove-jsx.md
  packages/webpack/react-refresh-webpack-plugin/package.json
  packages/webpack/react-webpack-plugin/etc/react-webpack-plugin.api.md
  packages/webpack/react-webpack-plugin/src/loaders/options.ts
Due: Webpack

fix(react): use the list slot element during SSR hydration (#3983)
  .changeset/ssr-nested-list-hydration.md
  .github/react-runtime.instructions.md
  packages/react/runtime/__test__/snapshot/ssr.legacy-slot.test.jsx
  packages/react/runtime/__test__/snapshot/ssr.list.test.jsx
  packages/react/runtime/src/snapshot/renderToOpcodes/opcodes.ts
Due: React

perf(react): optimize string and template literal text children (#3984)
  .changeset/text-string-expressions.md
  .github/react-transform.instructions.md
  packages/react/transform/__test__/text.spec.js
  packages/react/transform/crates/swc_plugin_text/lib.rs
  packages/react/transform/crates/swc_plugin_text/tests/__swc_snapshots__/lib.rs/should_keep_children_for_dynamic_or_multiple_text.js
  packages/react/transform/crates/swc_plugin_text/tests/__swc_snapshots__/lib.rs/should_transform_string_expressions_to_text_attr.js
  packages/react/transform/crates/swc_plugins_shared/jsx_helpers.rs
Due: React

feat(genui): support runtime Lynx XML template rendering (#3985)
  .changeset/concise-lynx-xml-prompt.md
  packages/genui/lynx-xml/README.md
  packages/genui/lynx-xml/src/prompt.ts
  packages/genui/lynx-xml/test/prompt.test.ts
  packages/genui/playground/AGENTS.md
  packages/genui/playground/package.json
  packages/genui/playground/src/mock/lynx-xml/template-counter.lynxml
  packages/genui/playground/src/pages/demos/DemosPage.css
  packages/genui/playground/src/pages/demos/DemosPage.tsx
  packages/genui/playground/src/pages/demos/ExampleTokenCount.tsx
  packages/genui/playground/src/pages/demos/lynx-xml.test.ts
  packages/genui/playground/src/pages/demos/lynx-xml.ts
  packages/genui/playground/src/render.tsx
  packages/genui/playground/src/utils/renderUrl.ts
  pnpm-lock.yaml
Due: none

fix(tailwind-preset): align skew composition with Tailwind CSS v3 (#3935)
  .changeset/clean-skew-composition.md
  examples/tailwindcss/src/demos/transform.tsx
  packages/tailwind-preset/docs/tailwind-css-v3-support.md
  packages/tailwind-preset/docs/utility-design-notes.md
  packages/tailwind-preset/src/__tests__/config.test.ts
  packages/tailwind-preset/src/__tests__/output.css
  packages/tailwind-preset/src/__tests__/plugins/skew.test.ts
  packages/tailwind-preset/src/__tests__/plugins/transform.test.ts
  packages/tailwind-preset/src/__tests__/test-content.ts
  packages/tailwind-preset/src/plugins/lynx/transform.ts
Due: none
