Repository upupming/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack, Web Platform

ci(benchmark/react): force `perf_controller_actor_` to use ui task runner in frozen mode (#1657)
  packages/lynx/benchx_cli/scripts/build.mjs
Due: none

fix: should only recycle off-screen list-item in recursive hydration (#1641)
  .changeset/plenty-kiwis-live.md
  packages/react/runtime/__test__/list.test.jsx
  packages/react/runtime/src/hydrate.ts
Due: React

feat(react): support nested list (#1581)
  .changeset/kind-insects-provide.md
  packages/react/runtime/__test__/list.test.jsx
  packages/react/runtime/__test__/utils/nativeMethod.ts
  packages/react/runtime/src/hydrate.ts
  packages/react/runtime/src/lifecycle/patch/updateMainThread.ts
  packages/react/runtime/src/lifecycle/reload.ts
  packages/react/runtime/src/listUpdateInfo.ts
  packages/react/runtime/src/lynx/calledByNative.ts
  packages/react/runtime/src/pendingListUpdates.ts
  packages/react/runtime/src/snapshot.ts
Due: React

fix: remove return from rerender
  packages/react/testing-library/src/pure.jsx
Due: React

chore(web): list-waterfall-1000 layout count was changed to 10 for st… (#1658)
  packages/web-platform/web-tests/tests/performance.test.ts
Due: Web Platform

feat(tailwind-preset): extend uiVariants state set with lifecycle and form states (#1663)
  .changeset/moody-jeans-lay.md
  packages/third-party/tailwind-preset/docs/plugins/lynx-ui/uiVariants.md
  packages/third-party/tailwind-preset/src/plugins/lynx-ui/uiVariants.ts
Due: none

ci(release): avoid building benchmarks on publish (#1664)
  .github/workflows/deploy-main.yml
Due: none

feat: allow user customize `react$` alias
  .changeset/weak-mirrors-admire.md
  packages/rspeedy/plugin-react-alias/src/index.ts
Due: Rspeedy

feat: allow user customize `react$` alias (#1653)
  .changeset/weak-mirrors-admire.md
  packages/rspeedy/plugin-react-alias/src/index.ts
  packages/rspeedy/plugin-react/test/config.test.ts
Due: Rspeedy

chore: tweak changeset summary (#1666)
  .changeset/weak-mirrors-admire.md
Due: none

ci(benchmark/react): background setAttribute `BatchedValues` (#1655)
  benchmark/react/cases/004-various-update/index.tsx
  benchmark/react/src/hook.ts
  packages/react/runtime/lazy/internal.js
  packages/react/runtime/src/internal.ts
Due: React

feat: try css layer
  examples/react/src/App.tsx
  examples/react/src/Comp.css
  examples/react/src/Comp.tsx
  examples/react/src/Comp1.css
  examples/react/src/Comp1.tsx
  packages/rspeedy/plugin-react/src/css.ts
Due: Rspeedy

feat(react/runtime): add rendering state tracking (#1445)
  .changeset/loud-icons-clean.md
  packages/react/runtime/__test__/lifecycle/isRendering.test.jsx
  packages/react/runtime/__test__/lynxQueueMicrotask.test.jsx
  packages/react/runtime/src/lifecycle/isRendering.ts
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lynx.ts
  packages/react/runtime/src/utils.ts
Due: React

feat: add css chunk split to example
  examples/react/lynx.config.js
Due: none

fix(chunk-loading-webpack-plugin): unmet peer dependency "@rspack/core" (#1660)
  .changeset/long-states-notice.md
  packages/webpack/chunk-loading-webpack-plugin/package.json
  packages/webpack/chunk-loading-webpack-plugin/src/ChunkLoadingRuntimeModule.ts
  packages/webpack/chunk-loading-webpack-plugin/src/CssChunkLoadingRuntimeModule.ts
  packages/webpack/chunk-loading-webpack-plugin/src/runtime/CssRuntimeModule.ts
  packages/webpack/chunk-loading-webpack-plugin/src/runtime/JavaScriptRuntimeModule.ts
  packages/webpack/chunk-loading-webpack-plugin/src/runtime/helper.ts
Due: Webpack

feat: make it work
  examples/react/lynx.config.js
  examples/react/src/App.tsx
  examples/react/src/Foo.css
  examples/react/src/Foo.tsx
  packages/rspeedy/plugin-react/src/entry.ts
  packages/rspeedy/plugin-react/src/splitChunks.ts
  packages/webpack/css-extract-webpack-plugin/src/CssExtractRspackPlugin.ts
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
Due: Rspeedy, Webpack

feat: always set optimization.splitChunks
  packages/rspeedy/plugin-react/src/splitChunks.ts
Due: Rspeedy

feat: make main-thread only CSS to be extracted correctly
  .changeset/true-states-slide.md
  packages/rspeedy/plugin-react/src/css.ts
  packages/rspeedy/plugin-react/src/splitChunks.ts
Due: Rspeedy

ci(benchmark): increase timeout to 30 minutes (#1672)
  .github/workflows/test.yml
  .github/workflows/workflow-bench.yml
Due: none

ci: remove CodeQL scanning (#1679)
  .github/workflows/code-scanning.yml
Due: none

feat(rspeedy/core): support `resolve.dedupe` (#1671)
  .changeset/real-birds-push.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/config/resolve/index.ts
  packages/rspeedy/core/src/config/rsbuild/index.ts
  packages/rspeedy/core/test/config/resolve/alias.test.ts
  packages/rspeedy/core/test/config/resolve/dedupe.test-d.ts
  packages/rspeedy/core/test/config/resolve/dedupe.test.ts
  packages/rspeedy/core/test/config/rsbuild.test.ts
  packages/rspeedy/core/test/config/validate.test.ts
Due: Rspeedy

feat: update
  packages/rspeedy/plugin-react/src/splitChunks.ts
Due: Rspeedy

feat(testing-library): keep the same `<page/>` element when rerendering (#1656)
  .changeset/late-grapes-marry.md
  packages/react/testing-library/src/__tests__/rerender.test.jsx
  packages/react/testing-library/src/pure.jsx
  packages/react/testing-library/types/entry.d.ts
Due: React

ci(web-tests): disable watch static on CI (#1684)
  packages/web-platform/web-tests/rspack.config.js
Due: Web Platform

feat(rspeedy/core): support config paramenters (#1669)
  .changeset/chubby-ideas-teach.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/config/defineConfig.ts
  packages/rspeedy/core/src/config/loadConfig.ts
  packages/rspeedy/core/src/config/validate.ts
  packages/rspeedy/core/src/index.ts
  packages/rspeedy/core/test/config/defineConfig.test-d.ts
  packages/rspeedy/core/test/config/fixtures/custom/function-params.js
  packages/rspeedy/core/test/config/loadConfig.test.ts
  packages/rspeedy/core/test/config/validate.test.ts
  website/rspress.config.ts
Due: Rspeedy

ci(benchmark): use `uv` instead of `python` directly (#1680)
  .github/workflows/workflow-bench.yml
  .github/workflows/workflow-build.yml
  packages/lynx/benchx_cli/scripts/build.mjs
Due: none

fix: lock wasm-bindgen-cli to 0.2.101 (#1698)
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/deploy-main.yml
  .github/workflows/workflow-build.yml
  Cargo.lock
  packages/web-platform/web-style-transformer/Cargo.toml
  packages/web-platform/web-style-transformer/package.json
Due: Web Platform

ci(benchmark): disable building benchmark in EcoSystem CI (#1697)
  packages/lynx/benchx_cli/scripts/build.mjs
Due: none

feat: make ifr work
  packages/react/runtime/src/debug/printSnapshot.ts
  packages/react/runtime/src/document.ts
  packages/react/runtime/src/hydrate.ts
  packages/react/runtime/src/lifecycle/patch/snapshotPatchApply.ts
  packages/react/runtime/src/lynx/calledByNative.ts
  packages/react/runtime/src/opcodes.ts
  packages/react/runtime/src/renderToOpcodes/index.ts
  packages/react/runtime/src/snapshot.ts
  packages/react/runtime/src/snapshot/event.ts
  packages/react/runtime/src/snapshot/gesture.ts
  packages/react/runtime/src/snapshot/platformInfo.ts
  packages/react/runtime/src/snapshot/ref.ts
  packages/react/runtime/src/snapshot/spread.ts
  packages/react/runtime/src/snapshot/workletEvent.ts
  packages/react/runtime/src/snapshot/workletRef.ts
  packages/react/testing-library/src/__tests__/act.test.jsx
  packages/react/transform/src/lib.rs
  packages/testing-library/testing-environment/src/lynx/ElementPAPI.ts
Due: React

fix: tests
  packages/rspeedy/plugin-react/src/css.ts
  packages/rspeedy/plugin-react/src/splitChunks.ts
  packages/rspeedy/plugin-react/test/config.test.ts
  packages/rspeedy/plugin-react/test/css.test.ts
  packages/rspeedy/plugin-react/test/fixtures/standalone-lazy-bundle/CompBackground.css
  packages/rspeedy/plugin-react/test/fixtures/standalone-lazy-bundle/CompBackground.tsx
  packages/rspeedy/plugin-react/test/fixtures/standalone-lazy-bundle/CompMain.css
  packages/rspeedy/plugin-react/test/fixtures/standalone-lazy-bundle/CompMain.tsx
  packages/rspeedy/plugin-react/test/fixtures/standalone-lazy-bundle/index.tsx
  packages/rspeedy/plugin-react/test/lazy.test.ts
Due: Rspeedy

ci: fix canary publish failed (#1700)
  .github/workflows/deploy-main.yml
Due: none

fix: should update signMap before __FlushElementTree (#1692)
  .changeset/healthy-maps-clean.md
  packages/react/runtime/__test__/list.test.jsx
  packages/react/runtime/src/list.ts
Due: React

ci: fix `copilot-setup-steps.yml` (#1701)
  .github/workflows/copilot-setup-steps.yml
  AGENTS.md
Due: none

fix: disable parallel element by default
  .changeset/clever-maps-wait.md
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
  packages/rspeedy/plugin-react/test/config.test.ts
  packages/web-platform/web-explorer/preinstalled/homepage.json
  packages/web-platform/web-tests/resources/web-core.enable-css-selector-false.json
  packages/web-platform/web-tests/resources/web-core.main-thread.json
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
  packages/webpack/template-webpack-plugin/test/__snapshots__/cases.test.ts.snap
Due: Rspeedy, Webpack, Web Platform

ci: use Node.js v22 on Windows (#1704)
  .github/workflows/workflow-build.yml
  .github/workflows/workflow-test.yml
Due: none

ci(benchmark/react): add LoadScript to benchmark (#1699)
  benchmark/react/cases/001-fib/index.ts
  benchmark/react/cases/003-hello-list/index.tsx
  benchmark/react/cases/004-various-update/index.tsx
  benchmark/react/cases/005-load-script/index.tsx
  benchmark/react/lynx.config.js
  benchmark/react/package.json
  benchmark/react/plugins/pluginScriptLoad.mjs
  benchmark/react/rspeedy-env.d.ts
  benchmark/react/src/dummyRoot.tsx
Due: none

ci(benchmark/react): force `LynxNormalTask` and `LynxHighTask` runs on ui thread in frozen mode (#1693)
  packages/lynx/benchx_cli/scripts/build.mjs
Due: none

test: update css hmr snapshot files
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/2.snap.txt
Due: Webpack

refactor: improve module export handling (#1703)
  .changeset/floppy-mails-hide.md
  packages/web-platform/web-constants/src/types/LynxModule.ts
  packages/web-platform/web-constants/src/utils/generateTemplate.ts
  packages/web-platform/web-core-server/src/createLynxView.ts
  packages/web-platform/web-core/src/uiThread/createRenderAllOnUI.ts
  packages/web-platform/web-tests/tests/react/commonConfig.ts
  packages/web-platform/web-tests/tsconfig.json
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
  packages/web-platform/web-worker-runtime/src/global.d.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
Due: Web Platform

chore(benchmark): should bypass `ECOSYSTEM_CI` env (#1702)
  packages/lynx/benchx_cli/turbo.json
Due: none

Path conditions:
  React: any of: packages/react/**
  Rspeedy: any of: packages/rspeedy/**
  Webpack: any of: packages/webpack/**
  Web Platform: any of: packages/web-platform/**
