Repository upupming/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack, Web Platform

codecov.yml:

coverage:
  status:
    project:
      default:
        threshold: "0%"
        informational: true
      react:
        threshold: "0%"
        paths:
          - packages/react
      rspeedy:
        threshold: "0%"
        paths:
          - packages/rspeedy
      webpack:
        threshold: "0%"
        paths:
          - packages/webpack
      web-platform:
        threshold: "0%"
        paths:
          - packages/web-platform
    patch:
      default:
        threshold: "1%"

fixes:
  - "/home/runner/_work/lynx-stack::"

parsers:
  javascript:
    enable_partials: yes

github_checks:
  annotations: false

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment
  behavior: default
  require_changes: true # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  require_bundle_changes: true # for web-explorer

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
      - type: patch
        threshold: "1%"
  individual_components:
    - component_id: react
      name: React
      paths:
        - packages/react/**
    - component_id: rspeedy
      name: Rspeedy
      paths:
        - packages/rspeedy/**
    - component_id: webpack
      name: Webpack
      paths:
        - packages/webpack/**
    - component_id: web
      name: Web Platform
      paths:
        - packages/web-platform/**

fix: typos
  packages/preact-devtools/src/adapter/10/internal.ts
  packages/preact-devtools/src/adapter/10/options.ts
  packages/preact-devtools/src/adapter/11/options.ts
  packages/preact-devtools/src/adapter/adapter/highlight.ts
  packages/preact-devtools/src/adapter/shared/renderReasons.ts
  packages/preact-devtools/src/view/components/elements/VirtualizedList.tsx
  packages/preact-devtools/src/view/components/profiler/components/RenderedAt/DebugNodeNav.tsx
  packages/preact-devtools/src/view/components/profiler/components/TimelineBar/TimelineBar.tsx
  packages/preact-devtools/src/view/components/profiler/data/commits.ts
  packages/preact-devtools/src/view/components/profiler/flamegraph/FlameGraphMode.tsx
  packages/preact-devtools/src/view/components/profiler/flamegraph/modes/patchTree.ts
  packages/preact-devtools/src/view/components/sidebar/DebugNodeNavTree.tsx
  packages/preact-devtools/src/view/components/sidebar/inspect/parseProps.test.ts
Due: none

chore: pnpm dedupe
  pnpm-lock.yaml
Due: none

chore: sherif
  biome.jsonc
  packages/preact-devtools/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: jsdom
  packages/preact-devtools/tools/test-setup.js
  packages/testing-library/testing-environment/README.md
  packages/testing-library/testing-environment/etc/test-environment.api.md
  packages/testing-library/testing-environment/etc/testing-environment.api.md
  packages/testing-library/testing-environment/src/env/vitest/index.ts
  packages/testing-library/testing-environment/src/index.ts
Due: none

fix: GlobalEventEmitter
  .github/workflows/test.yml
  packages/react/runtime/__test__/utils/globals.js
Due: React

fix: create-rspeedy publish issue
  packages/rspeedy/create-rspeedy/package.json
  pnpm-lock.yaml
Due: Rspeedy

fix: require & refresh test case
  packages/preact-devtools/src/react-lynx/index.ts
  packages/preact-devtools/src/react-lynx/setup.ts
  packages/preact-devtools/src/shells/shared/installHook.ts
  packages/webpack/react-refresh-webpack-plugin/test/hotCases/hook/useContext/index.jsx
  packages/webpack/react-refresh-webpack-plugin/test/hotCases/jsx/value/index.jsx
  packages/webpack/react-refresh-webpack-plugin/test/setup-env.js
Due: Webpack

feat: not use isOSSLynxDevtool for event send judge
  packages/preact-devtools/src/adapter/protocol/events.ts
  packages/preact-devtools/src/view/components/Devtools.tsx
Due: none

feat(testing-library): replace waitSchedule with act
  .changeset/smart-clocks-share.md
  packages/react/testing-library/src/pure.jsx
  packages/react/testing-library/src/vitest.config.js
  packages/react/testing-library/types/entry.d.ts
  packages/use-sync-external-store/test/use-synx-external-store.test.ts
Due: React

test: preact alias assert
  packages/react/testing-library/src/vitest.config.js
  packages/testing-library/examples/basic/src/__tests__/index.test.tsx
Due: React

fix(web): input event trigger twice && detail.value miss (#1179)
  .changeset/many-nails-press.md
  packages/web-platform/web-constants/src/eventName.ts
  packages/web-platform/web-elements/src/XInput/XInputEvents.ts
  packages/web-platform/web-elements/src/XTextarea/XTextareaEvents.ts
  packages/web-platform/web-tests/tests/react/basic-element-x-input-bindinput/index.jsx
  packages/web-platform/web-tests/tests/react/basic-element-x-textarea-bindinput/index.jsx
  packages/web-platform/web-tests/tests/web-elements.spec.ts
  packages/web-platform/web-tests/tests/web-elements/x-textarea/event-input.html
Due: Web Platform

fix(rspeedy/react): fix memory leak when using `<list />` (#1176)
  .changeset/fifty-rats-tickle.md
  .changeset/loose-zoos-say.md
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
  packages/rspeedy/plugin-react/test/config.test.ts
  packages/webpack/runtime-wrapper-webpack-plugin/src/RuntimeWrapperWebpackPlugin.ts
  packages/webpack/runtime-wrapper-webpack-plugin/test/cases/variables/iife-false/fetch.js
  packages/webpack/runtime-wrapper-webpack-plugin/test/cases/variables/iife-false/index.js
  packages/webpack/runtime-wrapper-webpack-plugin/test/cases/variables/iife-false/rspack.config.js
  packages/webpack/runtime-wrapper-webpack-plugin/test/cases/variables/iife-false/webpack.config.js
  packages/webpack/runtime-wrapper-webpack-plugin/test/cases/variables/iife-true/fetch.js
  packages/webpack/runtime-wrapper-webpack-plugin/test/cases/variables/iife-true/index.js
  packages/webpack/runtime-wrapper-webpack-plugin/test/cases/variables/iife-true/rspack.config.js
  packages/webpack/runtime-wrapper-webpack-plugin/test/cases/variables/iife-true/webpack.config.js
Due: Rspeedy, Webpack

docs(rspeedy/qrcode): use correct package name (#1169)
  .changeset/nice-islands-repeat.md
  packages/rspeedy/plugin-qrcode/src/index.ts
Due: Rspeedy

chore: changeset
  .changeset/itchy-birds-bow.md
Due: none

refactor(react/runtime): try to reduce bundle size (#1180)
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lifecycle/patch/snapshotPatch.ts
  packages/react/runtime/src/lifecycle/patch/updateMainThread.ts
  packages/react/runtime/src/lynx/calledByNative.ts
  packages/react/runtime/src/lynx/component.ts
  packages/react/runtime/src/lynx/performance.ts
  packages/react/runtime/src/lynx/tt.ts
Due: React

feat(web): merge markTiming messages to reduce the number of markTimi… (#1178)
  .changeset/little-jeans-show.md
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-constants/src/types/MarkTiming.ts
  packages/web-platform/web-constants/src/types/index.ts
  packages/web-platform/web-constants/src/utils/LynxCrossThreadContext.ts
  packages/web-platform/web-constants/src/utils/markTiming.ts
  packages/web-platform/web-core-server/src/createLynxView.ts
  packages/web-platform/web-core/src/uiThread/createRenderAllOnUI.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-mainthread-apis/src/prepareMainThreadAPIs.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createTimingSystem.ts
  packages/web-platform/web-worker-runtime/src/mainThread/crossThreadHandlers/createMainthreadMarkTimingInternal.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
Due: Web Platform

chore(renovate): group `@prefresh/*` (#1189)
  .github/renovate.json5
Due: none

chore(web): add getNativeModulesPathRule usage for testing (#1132)
  .changeset/fine-beans-bet.md
  packages/web-platform/web-rsbuild-plugin/src/pluginWebPlatform.ts
  packages/web-platform/web-tests/package.json
  packages/web-platform/web-tests/rspack.config.js
  packages/web-platform/web-tests/shell-project/index.native-modules.ts
  packages/web-platform/web-tests/shell-project/index.ts
  pnpm-lock.yaml
Due: Web Platform

test(rspeedy/qrcode): increase timeout (#1190)
  packages/rspeedy/plugin-qrcode/test/index.test.ts
Due: Rspeedy

feat(react/runtime): ensure `lynxViewDidUpdate` callback triggers on data updates from client (#1171)
  .changeset/small-women-heal.md
  packages/react/runtime/__test__/lifecycle/updateData.test.jsx
  packages/react/runtime/__test__/utils/envManager.ts
  packages/react/runtime/__test__/utils/globals.js
  packages/react/runtime/__test__/utils/jsModule.ts
  packages/react/runtime/src/compat/initData.ts
  packages/react/runtime/src/lifecycle/patch/updateMainThread.ts
  packages/react/runtime/src/lynx/calledByNative.ts
  packages/react/runtime/types/types.d.ts
  packages/react/runtime/vitest.config.ts
Due: React

fix(react/types): use `(...args: any[]) => any` for `dataProcessors` (#1200)
  .changeset/plain-stars-lie.md
  examples/react/test/data-processors.test-d.tsx
  packages/react/etc/react.api.md
  packages/react/runtime/src/lynx-api.ts
  packages/react/runtime/src/lynx/env.ts
Due: React

fix(react/runtime): update type handling and ESLint configuration for backgroundSnapshot.ts (#1195)
  eslint.config.js
  packages/react/runtime/src/backgroundSnapshot.ts
Due: React

fix: correct resolveDir
  packages/react/testing-library/src/vitest.config.js
Due: React

chore: add more waiting time for run on main thread (#1207)
  .changeset/spotty-papers-march.md
  packages/web-platform/web-tests/tests/react.spec.ts
Due: Web Platform

feat(testing-library): replace waitSchedule with act (#1182)
  .changeset/itchy-birds-bow.md
  .changeset/smart-clocks-share.md
  packages/react/testing-library/src/pure.jsx
  packages/react/testing-library/src/vitest.config.js
  packages/react/testing-library/types/entry.d.ts
  packages/testing-library/examples/basic/src/__tests__/index.test.tsx
  packages/use-sync-external-store/test/use-synx-external-store.test.ts
Due: React

fix(react/runtime): make `loadLazyBundle` return sync `then` (#1212)
  .changeset/proud-maps-drive.md
  packages/react/runtime/__test__/lynx/lazy-bundle.test.js
  packages/react/runtime/src/lynx/lazy-bundle.ts
  packages/react/runtime/vitest.config.ts
Due: React

chore(web): extract shared logic of loadTemplate (#1211)
  .changeset/young-doodles-strive.md
  packages/web-platform/web-constants/src/utils/generateTemplate.ts
  packages/web-platform/web-constants/src/utils/index.ts
  packages/web-platform/web-core-server/src/utils/loadTemplate.ts
  packages/web-platform/web-core/src/utils/loadTemplate.ts
Due: Web Platform

fix(web): handle CSS compound-selector correctly (#1187)
  .changeset/social-crabs-bow.md
  packages/web-platform/web-mainthread-apis/src/utils/processStyleInfo.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/basic-css-compound-selector/compound-selector/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/basic-css-compound-selector/compound-selector/index-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/basic-css-compound-selector/compound-selector/index-webkit-linux.png
  packages/web-platform/web-tests/tests/react/basic-css-compound-selector/index.css
  packages/web-platform/web-tests/tests/react/basic-css-compound-selector/index.jsx
Due: Web Platform

chore(web): fix basic-mts-run-on-main-thread runs failed (#1219)
  .changeset/short-ducks-jam.md
  packages/web-platform/web-tests/tests/react.spec.ts
Due: Web Platform

refactor(rspeedy/core)!: deprecate `output.distPath.intermediate` (#1154)
  .changeset/fruity-showers-matter.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/config/output/dist-path.ts
  packages/rspeedy/core/src/plugins/inspect.plugin.ts
  packages/rspeedy/core/test/config/output.test-d.ts
  packages/rspeedy/plugin-react/src/entry.ts
Due: Rspeedy

chore(tailwind-preset): add missing `turbo.json` (#1225)
  .changeset/major-drinks-lead.md
  packages/third-party/tailwind-preset/turbo.json
Due: none

ci: fix test basic-mts-run-on-main-thread (#1234)
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/basic-mts-run-on-main-thread/index.jsx
Due: Web Platform

refactor: improve `linear-weight-sum` performance (#1216)
  .changeset/hungry-hoops-sin.md
  packages/web-platform/web-elements-compat/src/LinearContainer/linear-compat.css
  packages/web-platform/web-elements/src/common-css/linear.css
  packages/web-platform/web-style-transformer/src/transformLynxStyles.ts
Due: Web Platform

feat: Implement scrollTo method for x-swiper component (#1197)
  .changeset/big-cycles-kick.md
  packages/web-platform/web-elements/src/XSwiper/XSwiper.ts
  packages/web-platform/web-elements/src/XSwiper/XSwiperAutoScroll.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/x-swiper/scroll-to/1-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/x-swiper/scroll-to/1-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/x-swiper/scroll-to/1-webkit-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/x-swiper/scroll-to/2-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/x-swiper/scroll-to/2-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/x-swiper/scroll-to/2-webkit-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/x-swiper/scroll-to/3-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/x-swiper/scroll-to/3-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/x-swiper/scroll-to/3-webkit-linux.png
  packages/web-platform/web-tests/tests/react/basic-element-x-swiper-method-scroll-to/index.css
  packages/web-platform/web-tests/tests/react/basic-element-x-swiper-method-scroll-to/index.jsx
Due: Web Platform

chore(deps): pnpm approve-builds `unrs-resolver` (#1226)
  pnpm-workspace.yaml
Due: none

fix(create-rspeedy): missing color on nested `<text>` (#1233)
  .changeset/hip-planets-smash.md
  examples/react/src/App.tsx
  packages/rspeedy/create-rspeedy/template-react-js/src/App.jsx
  packages/rspeedy/create-rspeedy/template-react-ts/src/App.tsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-js/src/App.jsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-js/src/__tests__/index.test.jsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/src/App.tsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/src/__tests__/index.test.tsx
Due: Rspeedy

feat(web): lynx-view error event add fileName param (#1242)
  .changeset/ripe-taxis-allow.md
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-core/src/uiThread/createRenderAllOnUI.ts
  packages/web-platform/web-core/src/uiThread/createRenderMultiThread.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerReportErrorHandler.ts
  packages/web-platform/web-core/src/uiThread/startBackground.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/api-error-bts/index.jsx
  packages/web-platform/web-tests/tests/react/api-error-mts/index.jsx
Due: Web Platform
