Repository upupming/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack, Web Platform

feat(tailwind-preset): enhanced uiVariants (group/peer/parent, prefix handling) (#1741)
  .changeset/plain-paws-peel.md
  packages/third-party/tailwind-preset/README.md
  packages/third-party/tailwind-preset/docs/plugins/lynx-ui/uiVariants.md
  packages/third-party/tailwind-preset/package.json
  packages/third-party/tailwind-preset/src/__tests__/plugins/lynx-ui/stateVariant.test.ts
  packages/third-party/tailwind-preset/src/helpers.ts
  packages/third-party/tailwind-preset/src/index.d.ts
  packages/third-party/tailwind-preset/src/plugins/lynx-ui/uiVariants.ts
Due: none

chore: proper updates to `CODEOWNERS` (#1749)
  CODEOWNERS
Due: none

refactor(react/runtime): move `delayedRunOnMainThreadData` to a separate file (#1750)
  .changeset/thirty-dots-sink.md
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lynx/tt.ts
  packages/react/runtime/src/worklet/delayedRunOnMainThreadData.ts
  packages/react/runtime/src/worklet/runOnMainThread.ts
Due: React

chore: update changeset
  .changeset/clever-maps-wait.md
Due: none

feat: remove enableParallelElement and pipelineSchedulerConfig
  .changeset/clever-maps-wait.md
  benchmark/react/lynx.config.js
  packages/rspeedy/plugin-react/etc/react-rsbuild-plugin.api.md
  packages/rspeedy/plugin-react/src/entry.ts
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
  packages/rspeedy/plugin-react/test/config.test.ts
  packages/web-platform/web-explorer/preinstalled/homepage.json
  packages/web-platform/web-tests/resources/web-core.enable-css-selector-false.json
  packages/web-platform/web-tests/resources/web-core.main-thread.json
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/2.snap.txt
  packages/webpack/template-webpack-plugin/etc/template-webpack-plugin.api.md
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
  packages/webpack/template-webpack-plugin/test/__snapshots__/cases.test.ts.snap
Due: Rspeedy, Webpack, Web Platform

feat(rspeedy): Support server.proxy (#1745)
  .changeset/chilly-suns-wonder.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/config/rsbuild/index.ts
  packages/rspeedy/core/src/config/server/index.ts
  packages/rspeedy/core/test/config/server.test-d.ts
Due: Rspeedy

chore: update changeset
  .changeset/loud-ways-refuse.md
  packages/webpack/css-extract-webpack-plugin/package.json
  packages/webpack/react-webpack-plugin/package.json
Due: Webpack

Update .changeset/clever-maps-wait.md
  .changeset/clever-maps-wait.md
Due: none

fix(react/runtime): remove useless function calls (#1752)
  .changeset/every-tools-reply.md
  packages/react/runtime/src/lifecycle/reload.ts
  packages/react/runtime/src/worklet/destroy.ts
Due: React

refactor(react/runtime): reorganize worklet dir (#1753)
  .changeset/eager-feet-kick.md
  packages/react/runtime/__test__/snapshot/workletRefBG.jsx
  packages/react/runtime/__test__/snapshot/workletRefMT.jsx
  packages/react/runtime/__test__/utils/envManager.ts
  packages/react/runtime/__test__/worklet/execIdMap.test.js
  packages/react/runtime/__test__/worklet/runOnBackground.test.js
  packages/react/runtime/__test__/worklet/runOnMainThread.test.jsx
  packages/react/runtime/__test__/worklet/transform.test.js
  packages/react/runtime/__test__/worklet/workletRef.test.jsx
  packages/react/runtime/src/internal.ts
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lynx-api.ts
  packages/react/runtime/src/lynx/tt.ts
  packages/react/runtime/src/worklet/call/delayedRunOnMainThreadData.ts
  packages/react/runtime/src/worklet/call/execMap.ts
  packages/react/runtime/src/worklet/call/functionCall.ts
  packages/react/runtime/src/worklet/call/runOnBackground.ts
  packages/react/runtime/src/worklet/call/runOnMainThread.ts
  packages/react/runtime/src/worklet/call/transformToWorklet.ts
  packages/react/runtime/src/worklet/ctx.ts
  packages/react/runtime/src/worklet/destroy.ts
  packages/react/runtime/src/worklet/ref/workletRef.ts
  packages/react/runtime/src/worklet/ref/workletRefPool.ts
Due: React

feat: make ifr work
  packages/react/runtime/src/debug/printSnapshot.ts
  packages/react/runtime/src/document.ts
  packages/react/runtime/src/hydrate.ts
  packages/react/runtime/src/lifecycle/patch/snapshotPatchApply.ts
  packages/react/runtime/src/lynx/calledByNative.ts
  packages/react/runtime/src/opcodes.ts
  packages/react/runtime/src/renderToOpcodes/index.ts
  packages/react/runtime/src/snapshot.ts
  packages/react/runtime/src/snapshot/event.ts
  packages/react/runtime/src/snapshot/gesture.ts
  packages/react/runtime/src/snapshot/platformInfo.ts
  packages/react/runtime/src/snapshot/ref.ts
  packages/react/runtime/src/snapshot/spread.ts
  packages/react/runtime/src/snapshot/workletEvent.ts
  packages/react/runtime/src/snapshot/workletRef.ts
  packages/react/testing-library/src/__tests__/act.test.jsx
  packages/react/transform/src/lib.rs
  packages/testing-library/testing-environment/src/lynx/ElementPAPI.ts
Due: React

feat: make list work
  examples/react/src/index.tsx
  packages/react/runtime/src/hydrate.ts
  packages/react/runtime/src/list.ts
  packages/react/runtime/src/listUpdateInfo.ts
  packages/react/runtime/src/lynx/calledByNative.ts
  packages/react/runtime/src/snapshot.ts
  packages/react/runtime/src/snapshot/platformInfo.ts
Due: React

feat: make render and events work
  examples/react/src/App.tsx
  examples/react/src/index.tsx
  packages/react/components/src/Page.ts
  packages/react/runtime/src/backgroundSnapshot.ts
  packages/react/runtime/src/document.ts
  packages/react/runtime/src/lifecycle/patch/snapshotPatchApply.ts
  packages/react/runtime/src/lynx/tt.ts
  packages/react/runtime/src/renderToOpcodes/index.ts
  packages/react/runtime/src/snapshot.ts
  packages/react/runtime/tsconfig.json
  packages/react/testing-library/src/__tests__/act.test.jsx
  packages/react/testing-library/vitest.config.ts
Due: React

feat: make example work
  examples/react/lynx.config.js
  examples/react/src/App-jsx.tsx
  examples/react/src/App-list.tsx
  examples/react/src/index.tsx
  packages/react/package.json
  packages/react/runtime/src/snapshot.ts
  packages/react/runtime/src/snapshot/list.ts
  pnpm-lock.yaml
Due: React

fix: avoid duplicate style transformation (#1748)
  .changeset/itchy-shoes-warn.md
  packages/web-platform/web-constants/src/types/StyleInfo.ts
  packages/web-platform/web-mainthread-apis/src/utils/processStyleInfo.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/config-css-remove-scope-false-display-linear/index.css
  packages/web-platform/web-tests/tests/react/config-css-remove-scope-false-display-linear/index.jsx
  packages/web-platform/web-tests/tests/react/config-css-remove-scope-false-display-linear/linear.css
  packages/web-platform/web-tests/tests/react/config-css-remove-scope-false-display-linear/rspeedy.config.ts
  packages/web-platform/web-tests/tests/react/config-css-remove-scope-false-display-linear/sub.css
  packages/web-platform/web-tests/tests/react/config-css-remove-scope-false-display-linear/sub.jsx
  packages/web-platform/web-tests/tests/react/config-mixed-01.config.ts
  packages/web-platform/web-tests/tests/react/config-mixed-01/rspeedy.config.ts
Due: Web Platform

feat: make ref works
  examples/react/src/App.tsx
  examples/react/src/index.tsx
  packages/react/runtime/src/lifecycle/ref/delay.ts
  packages/react/runtime/src/lynx.ts
  packages/react/runtime/src/renderToOpcodes/index.ts
  packages/react/runtime/src/snapshot.ts
  packages/react/runtime/src/snapshot/ref.ts
Due: React

feat: add scroll view
  packages/react/runtime/src/snapshot.ts
Due: React

test: add test case failed at main branch
  packages/react/testing-library/src/__tests__/list.test.jsx
Due: React

fix: spread inside list-item cause redundant snapshot patch
  .changeset/tasty-towns-guess.md
  packages/react/runtime/src/snapshot/spread.ts
  packages/react/testing-library/src/__tests__/list.test.jsx
Due: React

fix: add sandbox attribute to iframe for enhanced security (#1709)
  .changeset/rich-candles-think.md
  .changeset/rude-owls-cheer.md
  packages/web-platform/web-core/src/uiThread/createRenderAllOnUI.ts
  packages/web-platform/web-core/src/utils/loadTemplate.ts
  packages/web-platform/web-tests/rspack.config.js
  packages/web-platform/web-tests/tests/react.spec.ts
Due: Web Platform

fix: spread inside list-item cause redundant snapshot patch (#1760)
  .changeset/tasty-towns-guess.md
  packages/react/runtime/src/snapshot/spread.ts
  packages/react/testing-library/src/__tests__/list.test.jsx
Due: React

feat: cleanup code
  examples/react/lynx.config.js
  examples/react/src/App-jsx.tsx
  examples/react/src/App-list.tsx
  examples/react/src/App.tsx
  examples/react/src/index.tsx
  packages/react/package.json
  packages/react/runtime/src/backgroundSnapshot.ts
  packages/react/runtime/src/hydrate.ts
  packages/react/runtime/src/internal.ts
  packages/react/runtime/src/lifecycle/patch/snapshotPatchApply.ts
  packages/react/runtime/src/list.ts
  packages/react/runtime/src/listUpdateInfo.ts
  packages/react/runtime/src/lynx.ts
  packages/react/runtime/src/lynx/calledByNative.ts
  packages/react/runtime/src/lynx/tt.ts
  packages/react/runtime/src/opcodes.ts
  packages/react/runtime/src/renderToOpcodes/index.ts
  packages/react/runtime/src/snapshot.ts
  packages/react/runtime/src/snapshot/event.ts
  packages/react/runtime/src/snapshot/platformInfo.ts
  packages/react/runtime/src/snapshot/ref.ts
  packages/react/runtime/tsconfig.json
  packages/react/testing-library/src/__tests__/act.test.jsx
  packages/react/testing-library/vitest.config.ts
  packages/testing-library/testing-environment/src/lynx/ElementPAPI.ts
  pnpm-lock.yaml
Due: React

fix(web): temporarily remove support for chunk split (#1739)
  .changeset/many-actors-count.md
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
Due: Web Platform

fix(deps): update rust crate swc_core to v42 (#1766)
  Cargo.lock
  Cargo.toml
Due: none

fix(web): __QueryComponentImpl execute only once (#1763)
  .changeset/calm-houses-jog.md
  packages/web-platform/web-mainthread-apis/src/crossThreadHandlers/createQueryComponent.ts
Due: Web Platform

refactor: impl __SNAPSHOT__ at runtime (#1736)
  .changeset/spotty-experts-smoke.md
  packages/react/runtime/__test__/list.test.jsx
  packages/react/runtime/__test__/utils/globals.js
  packages/react/transform/src/lib.rs
  packages/react/transform/src/swc_plugin_list/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_full_static_snapshot_extract.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_full_static_snapshot_extract_it.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_list_toplevel.js
Due: React

refactor: extract `swc_plugin_css_scope` (#1762)
  .changeset/fine-places-boil.md
  Cargo.lock
  Cargo.toml
  eslint.config.js
  packages/react/.dprint.jsonc
  packages/react/transform/Cargo.toml
  packages/react/transform/crates/swc_plugin_css_scope/Cargo.toml
  packages/react/transform/crates/swc_plugin_css_scope/lib.rs
  packages/react/transform/crates/swc_plugin_css_scope/napi.rs
  packages/react/transform/crates/swc_plugin_css_scope/tests/__swc_snapshots__/lib.rs/scoped_all_transform_imports.js
  packages/react/transform/crates/swc_plugin_css_scope/tests/__swc_snapshots__/lib.rs/scoped_all_transform_imports_without_jsx.js
  packages/react/transform/crates/swc_plugin_css_scope/tests/__swc_snapshots__/lib.rs/scoped_modules_transform_imports.js
  packages/react/transform/crates/swc_plugin_css_scope/tests/__swc_snapshots__/lib.rs/scoped_modules_transform_imports_without_jsx.js
  packages/react/transform/crates/swc_plugin_css_scope/tests/__swc_snapshots__/lib.rs/scoped_none_transform_imports.js
  packages/react/transform/crates/swc_plugin_css_scope/tests/__swc_snapshots__/lib.rs/scoped_none_transform_imports_without_jsx.js
  packages/react/transform/crates/swc_plugins_shared/Cargo.toml
  packages/react/transform/crates/swc_plugins_shared/lib.rs
  packages/react/transform/crates/swc_plugins_shared/utils.rs
  packages/react/transform/src/css.rs
  packages/react/transform/src/lib.rs
  packages/react/transform/src/swc_plugin_dynamic_import/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
Due: React

feat(rspeedy): Support resolve.extensions (#1759)
  .changeset/clean-beds-follow.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/config/resolve/index.ts
  packages/rspeedy/core/src/config/rsbuild/index.ts
  packages/rspeedy/core/test/config/resolve/extensions.test-d.ts
  packages/rspeedy/core/test/config/resolve/extensions.test.ts
  packages/rspeedy/core/test/config/validate.test.ts
Due: Rspeedy

fix(react/runtime): prevent `reloadVersion` from cancelling the MTRef initial value patch (#1757)
  .changeset/violet-wasps-shop.md
  packages/react/runtime/__test__/snapshot/workletRef.test.jsx
  packages/react/runtime/__test__/worklet/workletRef.test.jsx
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lifecycle/patch/updateMainThread.ts
  packages/react/runtime/src/lifecycleConstant.ts
  packages/react/runtime/src/lynx.ts
  packages/react/runtime/src/lynx/tt.ts
  packages/react/runtime/src/worklet/ref/updateInitValue.ts
  packages/react/runtime/src/worklet/ref/workletRefPool.ts
  packages/react/testing-library/src/__tests__/worklet.test.jsx
  packages/react/testing-library/src/vitest-global-setup.js
  packages/testing-library/testing-environment/src/index.ts
Due: React

chore(renovate): group rust crates (#1733)
  .github/renovate.json5
Due: none

fix(tailwind-preset): set default transform css vars on * instead of :root to avoid inheritance (#1773)
  .changeset/modern-squids-love.md
  examples/tailwindcss/src/App.tsx
  examples/tailwindcss/tailwind.config.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/defaults.ts
Due: none

ci(publish): enable npm trusted publishing (#1775)
  .github/workflows/deploy-main.yml
Due: none

ci(release): remove `npm i -g npm@latest` (#1776)
  .github/workflows/deploy-main.yml
Due: none

fix: [web]the img within svg does not inherit the position (#1769)
  .changeset/dry-months-shop.md
  packages/web-platform/web-elements/src/XImage/x-image.css
  packages/web-platform/web-elements/src/XSvg/x-svg.css
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/svg/with-position/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/svg/with-position/index-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/svg/with-position/index-webkit-linux.png
  packages/web-platform/web-tests/tests/react/basic-element-svg-with-position/index.css
  packages/web-platform/web-tests/tests/react/basic-element-svg-with-position/index.jsx
Due: Web Platform

feat(tailwind-preset): enable lynxUIPlugins by default (#1774)
  .changeset/chatty-eyes-rescue.md
  packages/third-party/tailwind-preset/README.md
  packages/third-party/tailwind-preset/docs/plugins/lynx-ui/uiVariants.md
  packages/third-party/tailwind-preset/src/__tests__/core.test.ts
  packages/third-party/tailwind-preset/src/__tests__/lynx.test.ts
  packages/third-party/tailwind-preset/src/core.ts
  packages/third-party/tailwind-preset/src/lynx.ts
Due: none

chore: temporarily skip transform benchmarks (#1780)
  .changeset/rotten-kings-worry.md
  packages/react/transform/__test__/basic.bench.js
Due: React

fix: remove redundant internal-slot for pure text children (#1562)
  .changeset/curvy-sloths-unite.md
  packages/react/transform/src/swc_plugin_snapshot/jsx_helpers.rs
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/slot_marker.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_full_static_snapshot_extract.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_full_static_snapshot_extract_it.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/full_static_children_comments.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/full_static_children_map_jsx.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/full_static_children_new_line.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/full_static_children_self_close.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/inline_style_literal.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/mode_development_spread.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/slot_marker.rs/should_not_wrap_dynamic_part.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/slot_marker.rs/should_wrap_dynamic_part.js
Due: React

Path conditions:
  React: any of: packages/react/**
  Rspeedy: any of: packages/rspeedy/**
  Webpack: any of: packages/webpack/**
  Web Platform: any of: packages/web-platform/**
