Repository upupming/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack, Web Platform

codecov.yml:

coverage:
  status:
    project:
      default:
        threshold: "0%"
        informational: true
      react:
        threshold: "0%"
        paths:
          - packages/react
      rspeedy:
        threshold: "0%"
        paths:
          - packages/rspeedy
      webpack:
        threshold: "0%"
        paths:
          - packages/webpack
      web-platform:
        threshold: "0%"
        paths:
          - packages/web-platform
    patch:
      default:
        threshold: "1%"

fixes:
  - "/home/runner/_work/lynx-stack::"

parsers:
  javascript:
    enable_partials: yes

github_checks:
  annotations: false

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment
  behavior: default
  require_changes: true # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  require_bundle_changes: true # for web-explorer

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
      - type: patch
        threshold: "1%"
  individual_components:
    - component_id: react
      name: React
      paths:
        - packages/react/**
    - component_id: rspeedy
      name: Rspeedy
      paths:
        - packages/rspeedy/**
    - component_id: webpack
      name: Webpack
      paths:
        - packages/webpack/**
    - component_id: web
      name: Web Platform
      paths:
        - packages/web-platform/**

fix typos
  packages/react/testing-library/src/__tests__/list.test.jsx
Due: React

fix(react/runtime): Accelerate the timing of didMount and didUpdate
  packages/react/runtime/__test__/lifecycle.test.jsx
  packages/react/runtime/src/lifecycle/delayUnmount.ts
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lynx.ts
Due: React

fix: incorrect top style of x-foldview-slot-ng if the toolbar is wrapped in lynx-wrapper (#1101)
  .changeset/sharp-bees-worry.md
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewHeaderNg.ts
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewToolbarNg.ts
  packages/web-platform/web-elements/src/common/getCombinedParentElement.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts
  packages/web-platform/web-tests/tests/web-elements/x-foldview-ng/basic-toolbar-in-lynx-wrapper.html
Due: Web Platform

chore: changeset
  .changeset/tired-drinks-give.md
Due: none

ci: set hook-timeout on CI (#1113)
  .github/workflows/test.yml
Due: none

fix(css-hmr): avoid duplicate css hmr files emitting (#1096)
  .changeset/easy-olives-dig.md
  packages/webpack/css-extract-webpack-plugin/src/CssExtractRspackPlugin.ts
  packages/webpack/css-extract-webpack-plugin/test/plugins.js
  packages/webpack/template-webpack-plugin/etc/template-webpack-plugin.api.md
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
Due: Webpack

refactor: the default thread-strategy will be all on ui (#1105)
  .changeset/eleven-wasps-occur.md
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-tests/tests/react.spec.ts
Due: Web Platform

fix(react/runtime): add snapshot id when throwing `ctx not found` (#1107)
  .changeset/thick-snakes-sink.md
  packages/react/runtime/__test__/snapshotPatch.test.jsx
  packages/react/runtime/src/lifecycle/patch/error.ts
  packages/react/runtime/src/lifecycle/patch/snapshotPatchApply.ts
  packages/react/runtime/src/lynx.ts
  packages/react/runtime/src/lynx/env.ts
  packages/react/runtime/src/lynx/tt.ts
Due: React

fix(react): memory leak because of cycle reference (#1071)
  .changeset/empty-roses-greet.md
  packages/react/runtime/__test__/list.test.jsx
  packages/react/runtime/__test__/renderToOpcodes.test.jsx
  packages/react/runtime/src/backgroundSnapshot.ts
  packages/react/runtime/src/list.ts
  packages/react/runtime/src/snapshot.ts
  packages/react/testing-library/src/__tests__/list.test.jsx
Due: React

test(react): add tests to our fake runtimeProxy in testing (#1104)
  packages/react/runtime/__test__/utils/runtimeProxy.test.js
  packages/react/runtime/__test__/utils/runtimeProxy.ts
Due: React

fix(web): updateGlobalProps will update globalProps also (#1119)
  .changeset/gold-goats-remain.md
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-tests/tests/react.spec.ts
Due: Web Platform

fix(web): decodeCssInJs will not throw an error (#1120)
  .changeset/violet-horses-march.md
  packages/web-platform/web-mainthread-apis/src/utils/decodeCssInJs.ts
  packages/web-platform/web-tests/resources/web-core.enable-css-selector-false.json
  packages/web-platform/web-tests/shell-project/web-core.ts
  packages/web-platform/web-tests/tests/web-core.test.ts
Due: Web Platform

fix(react/runtime): enable eslint for `src/lynx` (#1117)
  .changeset/plenty-moose-start.md
  eslint.config.js
  packages/react/etc/react.api.md
  packages/react/runtime/src/lifecycle/event/delayLifecycleEvents.ts
  packages/react/runtime/src/lifecycle/event/jsReady.ts
  packages/react/runtime/src/lifecycleConstant.ts
  packages/react/runtime/src/lynx-api.ts
  packages/react/runtime/src/lynx/calledByNative.ts
  packages/react/runtime/src/lynx/component.ts
  packages/react/runtime/src/lynx/dynamic-js.ts
  packages/react/runtime/src/lynx/env.ts
  packages/react/runtime/src/lynx/lazy-bundle.ts
  packages/react/runtime/src/lynx/performance.ts
  packages/react/runtime/src/lynx/runWithForce.ts
  packages/react/runtime/src/lynx/tt.ts
  packages/react/runtime/types/internal-preact.d.ts
  packages/react/runtime/types/types.d.ts
Due: React

ci: use `--testTimeout` instead of `--test-timeout` (#1121)
  .github/workflows/deploy-main.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
Due: none

feat(web): add _SetSourceMapRelease(errInfo) MTS API. (#1118)
  .changeset/forty-jars-scream.md
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-constants/src/types/MainThreadGlobalThis.ts
  packages/web-platform/web-core-server/src/utils/loadTemplate.ts
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-core/src/uiThread/createRenderAllOnUI.ts
  packages/web-platform/web-core/src/uiThread/createRenderMultiThread.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerReportErrorHandler.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-core/src/utils/loadTemplate.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-tests/shell-project/mainthread-test.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/api-set-release/index.jsx
Due: Web Platform

test(react): remove unused `@vitejs/plugin-react` (#1095)
  .changeset/twenty-dolls-run.md
  packages/react/runtime/__test__/debug/printSnapshot.test.jsx
  packages/react/runtime/__test__/renderToOpcodes.test.jsx
  packages/react/runtime/package.json
  packages/react/runtime/src/list.ts
  packages/react/runtime/src/worklet/workletRef.ts
  packages/react/runtime/vitest.config.ts
  pnpm-lock.yaml
Due: React

fix(webpack/template): avoid empty chunk name in lazy bundle (#1090)
  .changeset/legal-lines-strive.md
  packages/webpack/template-webpack-plugin/etc/template-webpack-plugin.api.md
  packages/webpack/template-webpack-plugin/src/LynxAsyncChunksRuntimeModule.ts
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
  packages/webpack/template-webpack-plugin/test/cases/code-splitting/context/a.json
  packages/webpack/template-webpack-plugin/test/cases/code-splitting/context/b.json
  packages/webpack/template-webpack-plugin/test/cases/code-splitting/context/index.js
  packages/webpack/template-webpack-plugin/test/cases/code-splitting/context/rspack.config.js
  packages/webpack/template-webpack-plugin/test/cases/runtime-module/async-chunk/index.js
Due: Webpack

fix(testing-library): fix flaky Windows tests (#1122)
  .changeset/brave-cobras-hide.md
  packages/react/testing-library/src/__tests__/end-to-end.test.jsx
  packages/react/testing-library/src/__tests__/lazy-bundle/index.test.jsx
  packages/testing-library/testing-environment/src/index.ts
Due: React

test(tailwind-preset): avoid building tailwindcss in test (#1125)
  .changeset/mean-stars-care.md
  packages/third-party/tailwind-preset/package.json
  packages/third-party/tailwind-preset/src/__tests__/config.test.ts
  packages/third-party/tailwind-preset/src/__tests__/output.css
  pnpm-lock.yaml
Due: none

fix(react/runtime): Accelerate the timing of didMount and didUpdate (#1111)
  .changeset/tired-drinks-give.md
  packages/react/runtime/__test__/lifecycle.test.jsx
  packages/react/runtime/src/lifecycle/delayUnmount.ts
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lynx.ts
Due: React

fix(react/runtime): enable eslint for `src/snapshot` (#1128)
  .changeset/tiny-flowers-appear.md
  eslint.config.js
  packages/react/runtime/src/snapshot.ts
  packages/react/runtime/src/snapshot/gesture.ts
  packages/react/runtime/src/snapshot/platformInfo.ts
  packages/react/runtime/src/snapshot/ref.ts
  packages/react/runtime/src/snapshot/spread.ts
  packages/react/runtime/src/snapshot/workletEvent.ts
  packages/react/runtime/src/snapshot/workletRef.ts
Due: React

ci: avoid OOM on Windows build (#1130)
  .github/workflows/workflow-build.yml
  packages/web-platform/web-tests/package.json
  turbo.json
Due: Web Platform

fix(web): the param index of list scrollToPosition function should be… (#1135)
  .changeset/curvy-carrots-feel.md
  packages/web-platform/web-elements/src/XList/XList.ts
  packages/web-platform/web-elements/src/XList/XListAttributes.ts
  packages/web-platform/web-tests/tests/react/basic-element-list-scroll-to-position/index.jsx
  packages/web-platform/web-tests/tests/web-elements/x-list/scroll-to-position.html
Due: Web Platform

chore: enable eslint on CI (#1133)
  .changeset/public-emus-drop.md
  .github/workflows/test.yml
  packages/react/components/src/Page.ts
  packages/react/transform/cjs/main.cjs
  packages/react/worklet-runtime/src/global.ts
  packages/webpack/css-extract-webpack-plugin/src/loader.ts
  packages/webpack/css-extract-webpack-plugin/test/cases.test.ts
  packages/webpack/webpack-dev-transport/test/client/socket.test.ts
  website/theme/index.tsx
Due: React, Webpack

fix(react/runtime): eslint autofix (#1129)
  .changeset/heavy-spiders-beg.md
  eslint.config.js
  packages/react/runtime/src/backgroundSnapshot.ts
  packages/react/runtime/src/compat/lynxComponent.ts
  packages/react/runtime/src/gesture/processGestureBagkround.ts
  packages/react/runtime/src/gesture/types.ts
  packages/react/runtime/src/legacy-react-runtime/index.ts
  packages/react/runtime/src/renderToOpcodes/index.ts
  packages/react/runtime/src/snapshotInstanceHydrationMap.ts
  packages/react/runtime/src/utils.ts
Due: React

feat(deps): update `@rspack/*` v1.4.0-rc.0 (#1136)
  packages/rspeedy/core/test/config/validate.test.ts
  packages/webpack/css-extract-webpack-plugin/test/diagnostic/error/sass/expected/rspack.txt
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: Rspeedy, Webpack

fix(react/runtime): fix circular references between modules (#1139)
  packages/react/runtime/__test__/list.test.jsx
  packages/react/runtime/__test__/snapshot/ref.test.jsx
  packages/react/runtime/__test__/snapshotPatch.test.jsx
  packages/react/runtime/src/backgroundSnapshot.ts
  packages/react/runtime/src/hydrate.ts
  packages/react/runtime/src/internal.ts
  packages/react/runtime/src/lifecycle/patch/snapshotPatchApply.ts
  packages/react/runtime/src/lifecycle/patch/updateMainThread.ts
  packages/react/runtime/src/lifecycle/reload.ts
  packages/react/runtime/src/list.ts
  packages/react/runtime/src/listUpdateInfo.ts
  packages/react/runtime/src/lynx/calledByNative.ts
  packages/react/runtime/src/opcodes.ts
  packages/react/runtime/src/pendingListUpdates.ts
  packages/react/runtime/src/snapshot.ts
  packages/react/runtime/src/snapshot/dynamicPartType.ts
  packages/react/runtime/src/snapshot/list.ts
  packages/react/runtime/src/snapshot/platformInfo.ts
  packages/react/runtime/src/snapshot/spread.ts
  packages/react/testing-library/src/__tests__/list.test.jsx
Due: React

fix(react/runtime): fix some eslint errors (#1143)
  eslint.config.js
  packages/react/runtime/src/hydrate.ts
  packages/react/runtime/src/list.ts
  packages/react/runtime/src/lynx-api.ts
  packages/react/runtime/src/lynx.ts
  packages/react/runtime/src/snapshot.ts
  packages/react/runtime/src/snapshot/platformInfo.ts
  packages/react/runtime/src/utils.ts
Due: React

chore(renovate): group linting and types (#1148)
  .github/renovate.json5
Due: none

fix(web): under the all-on-ui strategy, reload() will add two page el… (#1147)
  .changeset/whole-deer-walk.md
  packages/web-platform/web-constants/src/constants.ts
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-tests/tests/react.spec.ts
Due: Web Platform

fix(react/runtime): fix some ESLint errors (#1157)
  .changeset/gold-ravens-nail.md
  eslint.config.js
  packages/react/etc/react.api.md
  packages/react/runtime/src/compat/initData.ts
  packages/react/runtime/src/debug/profile.ts
  packages/react/runtime/src/hooks/useLynxGlobalEventListener.ts
  packages/react/runtime/src/lynx-api.ts
Due: React

chore: replace `eslint-plugin-markdown` with `@eslint/markdown` (#1151)
  eslint.config.js
  package.json
  packages/webpack/webpack-dev-transport/README.md
  pnpm-lock.yaml
  website/docs/en/guide/assets.md
  website/docs/en/guide/code-splitting.md
  website/docs/en/guide/typescript.md
  website/docs/zh/guide/assets.md
  website/docs/zh/guide/code-splitting.md
  website/docs/zh/guide/typescript.md
Due: Webpack

fix(react): memory leak because of cycle reference (#1144)
  .changeset/nine-chairs-care.md
  packages/react/runtime/src/list.ts
Due: React

feat(web): ::placeholder will be compiled to part(input)::placeholder (#1158)
  .changeset/odd-deer-smile.md
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/x-input/placeholder-pseudo-element/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/x-input/placeholder-pseudo-element/index-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/x-input/placeholder-pseudo-element/index-webkit-linux.png
  packages/web-platform/web-tests/tests/react/basic-element-x-input-placeholder-pseudo-element/index.css
  packages/web-platform/web-tests/tests/react/basic-element-x-input-placeholder-pseudo-element/index.jsx
  packages/webpack/template-webpack-plugin/src/web/genStyleInfo.ts
Due: Webpack, Web Platform

chore: add benchmark test for css files (#1163)
  packages/web-platform/web-tests/tests/react/basic-performance-large-css/index.css
  packages/web-platform/web-tests/tests/react/basic-performance-large-css/index.jsx
  packages/web-platform/web-tests/tests/react/basic-performance-small-css/index.css
  packages/web-platform/web-tests/tests/react/basic-performance-small-css/index.jsx
  packages/web-platform/web-tests/tests/server.bench.vitest.spec.ts
Due: Web Platform

docs: remove chunks: 'all' in splitChunks (#1168)
  .changeset/ten-jokes-clap.md
  packages/rspeedy/core/src/config/performance/chunk-split.ts
Due: Rspeedy

feat(rspeedy/qrcode): support autocomplete (#1115)
  .changeset/cute-falcons-chew.md
  packages/rspeedy/plugin-qrcode/package.json
  packages/rspeedy/plugin-qrcode/src/shortcuts.ts
  pnpm-lock.yaml
Due: Rspeedy

fix(testing-library): wrap renderPage in act
  .changeset/proud-geese-worry.md
  packages/react/testing-library/src/__tests__/act.test.jsx
  packages/react/testing-library/src/pure.jsx
Due: React

feat(web): support lynx.reportError and __SetSourceMapRelease (#1059)
  .changeset/better-wings-peel.md
  packages/web-platform/web-constants/src/types/NativeApp.ts
  packages/web-platform/web-core/src/uiThread/startBackground.ts
  packages/web-platform/web-tests/shell-project/index.ts
  packages/web-platform/web-tests/shell-project/lynx-view.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/api-report-error/index.jsx
  packages/web-platform/web-tests/tests/react/api-set-release-bts/index.jsx
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
Due: Web Platform

feat: extend inlineScripts type (#883)
  .changeset/tangy-ends-act.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/config/output/index.ts
  packages/rspeedy/core/test/config/output.test-d.ts
  packages/rspeedy/core/test/config/validate.test.ts
  packages/rspeedy/plugin-react/src/entry.ts
  packages/webpack/template-webpack-plugin/etc/template-webpack-plugin.api.md
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/external/index.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-fn/bar.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-fn/foo.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-fn/index.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-fn/rspack.config.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-object/bar.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-object/foo.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-object/index.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-object/rspack.config.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-regex/bar.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-regex/foo.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-regex/index.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-regex/rspack.config.js
Due: Rspeedy, Webpack
