Repository upupming/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack, Web Platform

feat: dump the event info on ssr stage (#1237)
  .changeset/open-dryers-smash.md
  packages/web-platform/web-core-server/src/createLynxView.ts
  packages/web-platform/web-tests/tests/__snapshots__/server.vitest.spec.ts.snap
  packages/web-platform/web-tests/tests/react/basic-performance-event-div-100/index.jsx
  packages/web-platform/web-tests/tests/server.vitest.spec.ts
Due: Web Platform

feat: add basic test for react compiler
  examples/react-compiler/package.json
  examples/react-compiler/src/App.tsx
  packages/react/testing-library/src/vitest.config.js
  packages/react/testing-library/types/vitest-config.d.ts
  packages/testing-library/examples/react-compiler/.gitignore
  packages/testing-library/examples/react-compiler/lynx.config.ts
  packages/testing-library/examples/react-compiler/package.json
  packages/testing-library/examples/react-compiler/src/App.tsx
  packages/testing-library/examples/react-compiler/src/__tests__/expectLogs.jsx
  packages/testing-library/examples/react-compiler/src/__tests__/hello.test.jsx
  packages/testing-library/examples/react-compiler/src/__tests__/index.test.tsx
  packages/testing-library/examples/react-compiler/src/index.tsx
  packages/testing-library/examples/react-compiler/src/rspeedy-env.d.ts
  packages/testing-library/examples/react-compiler/tsconfig.json
  packages/testing-library/examples/react-compiler/vitest.config.ts
  packages/webpack/react-webpack-plugin/src/loaders/react-compiler.ts
  pnpm-lock.yaml
Due: React, Webpack

chore: remove test scripts
  packages/eslint-config-reactlynx/package.json
Due: none

feat: split externalManifest and inlinedManifest
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-partial/index.js
Due: Webpack

chore: update create-rstack
  packages/rspeedy/create-rspeedy/package.json
  pnpm-lock.yaml
Due: Rspeedy

fix: eslint config type issue
  examples/react/eslint.config.js
  examples/react/package.json
  packages/eslint-config-reactlynx/README.md
  packages/rspeedy/create-rspeedy/template-eslint/js/eslint.config.js
  packages/rspeedy/create-rspeedy/template-eslint/ts/eslint.config.js
  packages/rspeedy/create-rspeedy/template-eslint/ts/package.json
  pnpm-lock.yaml
Due: Rspeedy

feat: migrate all test cases from react to examples/react-compiler
  .changeset/quick-turtles-make.md
  .changeset/tame-forks-agree.md
  packages/react/testing-library/src/__tests__/rerender.test.jsx
  packages/react/testing-library/src/pure.jsx
  packages/react/testing-library/src/vitest.config.js
  packages/react/testing-library/types/entry.d.ts
  packages/testing-library/examples/react-compiler/LICENSE
  packages/testing-library/examples/react-compiler/package.json
  packages/testing-library/examples/react-compiler/src/__tests__/constant-prop.test.jsx
  packages/testing-library/examples/react-compiler/src/__tests__/expectLogs.jsx
  packages/testing-library/examples/react-compiler/src/__tests__/hello.test.jsx
  packages/testing-library/examples/react-compiler/src/__tests__/index.test.tsx
  packages/testing-library/examples/react-compiler/src/__tests__/update-button.test.jsx
  packages/testing-library/examples/react-compiler/src/__tests__/update-expressions.test.jsx
  packages/testing-library/examples/react-compiler/src/__tests__/use-state.test.jsx
  packages/testing-library/examples/react-compiler/tsconfig.json
  packages/testing-library/examples/react-compiler/vitest.config.compiler-disabled.ts
  packages/testing-library/examples/react-compiler/vitest.config.compiler-enabled.ts
  packages/testing-library/examples/react-compiler/vitest.config.ts
  pnpm-lock.yaml
  vitest.workspace.json
Due: React

fix: resolve rabbitai comments
  packages/react/testing-library/src/vitest.config.js
  packages/webpack/react-webpack-plugin/src/loaders/react-compiler.ts
  pnpm-lock.yaml
Due: React, Webpack

feat: mark template elements for SSR and update part ID handling (#1286)
  .changeset/yellow-nights-fetch.md
  packages/web-platform/web-core-server/src/createLynxView.ts
  packages/web-platform/web-core-server/src/dumpHTMLString.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-tests/tests/__snapshots__/server.vitest.spec.ts.snap
Due: Web Platform

chore: remove eslint config
  examples/react-compiler/eslint.config.mjs
  examples/react-compiler/package.json
  pnpm-lock.yaml
Due: none

feat: set JSONParse: false when extractStr is true (#1230)
  .changeset/new-boxes-roll.md
  packages/rspeedy/plugin-react/src/generator.ts
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
  packages/rspeedy/plugin-react/test/generator.test.ts
Due: Rspeedy

fix: use `rspeedyAPIs.logger`
  packages/rspeedy/plugin-react/src/entry.ts
Due: Rspeedy

feat: move SSR hydrate essential info to the ssr attribute (#1292)
  .changeset/lemon-colts-hang.md
  packages/web-platform/web-constants/src/types/MainThreadGlobalThis.ts
  packages/web-platform/web-constants/src/types/SSR.ts
  packages/web-platform/web-constants/src/types/index.ts
  packages/web-platform/web-core-server/src/createLynxView.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-mainthread-apis/src/prepareMainThreadAPIs.ts
  packages/web-platform/web-mainthread-apis/src/pureElementPAPIs.ts
  packages/web-platform/web-tests/tests/__snapshots__/server.vitest.spec.ts.snap
  packages/web-platform/web-tests/tests/server.vitest.spec.ts
Due: Web Platform

feat: update api.md
  packages/rspeedy/plugin-react/etc/react-rsbuild-plugin.api.md
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
  packages/webpack/react-webpack-plugin/etc/react-webpack-plugin.api.md
Due: Rspeedy, Webpack

fix: no map in build
  packages/webpack/react-webpack-plugin/src/loaders/react-compiler.ts
Due: Webpack

fix: alias in windows
  packages/react/testing-library/src/vitest.config.js
Due: React

fix: missing comma in app-service manifest on chunk split (#1279)
  .changeset/dry-candies-fetch.md
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-partial/bar.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-partial/foo.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-partial/index.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-partial/rspack.config.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-partial/test.config.cjs
Due: Webpack

feat: `extractStr` is only supported in `all-in-one` chunkSplit strategy (#1251)
  .changeset/twelve-dancers-learn.md
  packages/rspeedy/plugin-react/src/entry.ts
  packages/rspeedy/plugin-react/test/config.test.ts
Due: Rspeedy

feat: support SSR for all-on-ui Implement SSR for Web (#1029)
  .changeset/cool-geckos-exist.md
  .github/workflows/test.yml
  packages/web-platform/web-constants/src/types/SSR.ts
  packages/web-platform/web-constants/src/utils/generateTemplate.ts
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-core/src/apis/createLynxView.ts
  packages/web-platform/web-core/src/uiThread/createRenderAllOnUI.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-core/tsconfig.json
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-mainthread-apis/src/prepareMainThreadAPIs.ts
  packages/web-platform/web-tests/playwright.config.ts
  packages/web-platform/web-tests/rspack.config.js
  packages/web-platform/web-tests/server.js
  packages/web-platform/web-tests/shell-project/index.ts
  packages/web-platform/web-tests/shell-project/lynx-view.ts
  packages/web-platform/web-tests/tests/__snapshots__/server.vitest.spec.ts.snap
  packages/web-platform/web-tests/tests/react.spec.ts
Due: Web Platform

fix: preact alias to mjs
  packages/react/testing-library/src/vitest.config.js
Due: React

fix(react): avoid manipulate `__pendingListUpdates` unless SnapshotInstance tree is changed (#1201)
  .changeset/bright-seals-wear.md
  packages/react/runtime/src/hydrate.ts
  packages/react/runtime/src/pendingListUpdates.ts
  packages/react/runtime/src/snapshot.ts
  packages/react/runtime/src/snapshot/platformInfo.ts
  packages/react/runtime/src/snapshot/spread.ts
  packages/react/testing-library/src/__tests__/list.test.jsx
Due: React

feat(react): support alog of component rendering (#1164)
  .changeset/chubby-words-stick.md
  .changeset/twelve-days-design.md
  .typos.toml
  packages/react/runtime/__test__/utils/globals.js
  packages/react/runtime/src/alog/index.ts
  packages/react/runtime/src/alog/render.ts
  packages/react/runtime/src/debug/profile.ts
  packages/react/runtime/src/lynx.ts
  packages/react/runtime/src/renderToOpcodes/constants.ts
  packages/react/runtime/src/utils.ts
  packages/react/runtime/types/types.d.ts
  packages/react/testing-library/src/__tests__/alog.test.jsx
  packages/testing-library/testing-environment/src/index.ts
  packages/webpack/react-webpack-plugin/src/ReactWebpackPlugin.ts
  packages/webpack/test-tools/src/suite.ts
Due: React, Webpack

fix(react): allow deferred `<list-item/>` to be unmount when recycled (#1302)
  .changeset/warm-dogs-smell.md
  packages/react/components/src/DeferredListItem.tsx
  packages/react/runtime/__test__/list.test.jsx
  packages/react/testing-library/src/__tests__/list.test.jsx
  packages/react/types/react.d.ts
Due: React

refactor(react/runtime): improve cleanup of snapshot instances (#1293)
  .changeset/rude-seas-design.md
  packages/react/runtime/__test__/preact.test.jsx
  packages/react/runtime/src/backgroundSnapshot.ts
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/snapshot/ref.ts
Due: React

feat(react/runtime): add pretty formatting for snapshot patches (#1289)
  .changeset/dull-tips-trade.md
  packages/react/runtime/__test__/debug/formatPatch.test.ts
  packages/react/runtime/src/debug/formatPatch.ts
  packages/react/runtime/src/debug/printSnapshot.ts
  packages/react/runtime/src/lifecycle/patch/snapshotPatch.ts
Due: React

Revert "fix(rspeedy/react): move refresh loader before `builtin:swc-loader`" (#1304)
  .changeset/green-ducks-film.md
  packages/rspeedy/plugin-react/src/refresh.ts
Due: Rspeedy

feat: support rstest in testing library
  .changeset/easy-waves-pump.md
  .changeset/red-lamps-arrive.md
  .github/workflows/test.yml
  package.json
  packages/react/package.json
  packages/react/testing-library/package.json
  packages/react/testing-library/rslib.config.ts
  packages/react/testing-library/rstest.config.ts
  packages/react/testing-library/src/__tests__/act.test.jsx
  packages/react/testing-library/src/__tests__/auto-cleanup-skip.test.jsx
  packages/react/testing-library/src/__tests__/cleanup.test.jsx
  packages/react/testing-library/src/__tests__/end-to-end.test.jsx
  packages/react/testing-library/src/__tests__/lazy-bundle/index.test.jsx
  packages/react/testing-library/src/__tests__/list.test.jsx
  packages/react/testing-library/src/__tests__/lynx.test.jsx
  packages/react/testing-library/src/__tests__/rerender.test.jsx
  packages/react/testing-library/src/__tests__/worklet.test.jsx
  packages/react/testing-library/src/plugins/index.ts
  packages/react/testing-library/src/plugins/rstest.ts
  packages/react/testing-library/src/plugins/vitest.ts
  packages/react/testing-library/src/setupFiles/common.js
  packages/react/testing-library/src/setupFiles/rstest.js
  packages/react/testing-library/src/setupFiles/vitest.js
  packages/react/testing-library/src/vitest.config.js
  packages/react/testing-library/types/vitest-config.d.ts
  packages/react/testing-library/vitest-polyfill.js
  packages/react/testing-library/vitest.config.ts
  packages/rspeedy/plugin-react/src/entry.ts
  packages/rspeedy/plugin-react/src/loaders.ts
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
  packages/testing-library/examples/basic/package.json
  packages/testing-library/examples/basic/rstest.config.ts
  packages/testing-library/examples/basic/src/__tests__/index.test.tsx
  packages/testing-library/examples/basic/src/rspeedy-env.d.ts
  packages/testing-library/examples/basic/vitest.config.ts
  packages/webpack/react-webpack-plugin/src/ReactWebpackPlugin.ts
  packages/webpack/react-webpack-plugin/src/loaders/options.ts
  packages/webpack/react-webpack-plugin/src/loaders/testing.ts
  pnpm-lock.yaml
Due: React, Rspeedy, Webpack

fix: global.console in rstest cannot be modify
  packages/react/testing-library/src/__tests__/alog.test.jsx
  packages/testing-library/testing-environment/src/index.ts
  packages/webpack/react-webpack-plugin/src/ReactWebpackPlugin.ts
Due: React, Webpack

fix: unused Console type
  packages/testing-library/testing-environment/src/index.ts
Due: none

fix: api
  packages/webpack/react-webpack-plugin/etc/react-webpack-plugin.api.md
  pnpm-lock.yaml
Due: Webpack

fix: use `enableTestingLibrary` instead of process.env.NODE_ENV to avoid breaking current tests
  .github/workflows/test.yml
  packages/react/testing-library/README.md
  packages/react/testing-library/rstest.config.ts
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-js/vitest.config.js
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/vitest.config.ts
  packages/rspeedy/plugin-react/etc/react-rsbuild-plugin.api.md
  packages/rspeedy/plugin-react/src/entry.ts
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
  packages/testing-library/examples/basic/rstest.config.ts
  packages/use-sync-external-store/vitest.config.ts
  packages/webpack/react-webpack-plugin/etc/react-webpack-plugin.api.md
  packages/webpack/react-webpack-plugin/src/ReactWebpackPlugin.ts
Due: React, Rspeedy, Webpack

feat(react/runtime): integrate with `preact/debug` (#1222)
  .changeset/grumpy-owls-argue.md
  packages/react/runtime/__test__/debug/children-with-same-key.test.jsx
  packages/react/runtime/__test__/debug/hooks-in-render.test.jsx
  packages/react/runtime/__test__/debug/hooks-invalid-args.test.jsx
  packages/react/runtime/__test__/debug/jsx-twice.test.jsx
  packages/react/runtime/__test__/debug/missing-suspense.test.jsx
  packages/react/runtime/__test__/debug/object-as-child.test.jsx
  packages/react/runtime/__test__/debug/set-state-in-ctor.test.jsx
  packages/react/runtime/__test__/debug/too-many-rerenders.test.jsx
  packages/react/runtime/__test__/debug/undefined-component.test.jsx
  packages/react/runtime/__test__/utils/setup.js
  packages/react/runtime/src/root.ts
Due: React

feat(react): introduce `@lynx-js/react/debug` (#1250)
  .changeset/cruel-rocks-open.md
  .changeset/smooth-bars-listen.md
  .changeset/spicy-seas-shout.md
  examples/react/src/index.tsx
  packages/react/package.json
  packages/react/runtime/.npmignore
  packages/react/runtime/debug/index.cjs
  packages/react/runtime/debug/index.d.ts
  packages/react/runtime/debug/index.js
  packages/react/runtime/tsconfig.json
  packages/react/runtime/vitest.config.ts
  packages/rspeedy/create-rspeedy/template-react-js/src/index.jsx
  packages/rspeedy/create-rspeedy/template-react-ts/src/index.tsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-js/src/index.jsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/src/index.tsx
  packages/rspeedy/plugin-react-alias/src/index.ts
  packages/rspeedy/plugin-react-alias/test/index.test.ts
Due: React, Rspeedy

feat: add template to create-rspeedy
  packages/react/testing-library/.npmignore
  packages/rspeedy/create-rspeedy/src/index.ts
Due: React, Rspeedy

fix: enableTestingLibrary passing to ReactWebpackPlugin
  packages/rspeedy/plugin-react/src/entry.ts
Due: Rspeedy

feat: pre-bundled @lynx-js/testing-environment should shared between vitest and rstest
  packages/react/testing-library/rslib.config.ts
  packages/react/testing-library/src/__tests__/lazy-bundle/index.test.jsx
  packages/react/testing-library/src/env/index.ts
  packages/react/testing-library/src/env/vitest.ts
  packages/react/testing-library/src/setupFiles/rstest.js
  packages/react/testing-library/vitest.config.ts
Due: React

fix: setup file order in vitest
  packages/react/testing-library/src/setupFiles/common/bootstrap.js
  packages/react/testing-library/src/setupFiles/common/runtime-setup.js
  packages/react/testing-library/src/setupFiles/inner/rstest.js
  packages/react/testing-library/src/setupFiles/inner/vitest.js
  packages/react/testing-library/src/setupFiles/rstest.js
  packages/react/testing-library/src/setupFiles/vitest.js
Due: React

fix: rstest setup
  packages/react/testing-library/rslib.config.ts
  packages/react/testing-library/src/env/rstest.ts
  packages/react/testing-library/src/plugins/rstest.ts
  packages/react/testing-library/src/setupFiles/rstest.js
  packages/testing-library/testing-environment/src/index.ts
Due: React

chore: add testTimeout for rstest
  .github/workflows/test.yml
Due: none

feat: add rstest template
  packages/rspeedy/create-rspeedy/template-react-rstest-rltl-js/lynx.config.js
  packages/rspeedy/create-rspeedy/template-react-rstest-rltl-js/package.json
  packages/rspeedy/create-rspeedy/template-react-rstest-rltl-js/rstest.config.js
  packages/rspeedy/create-rspeedy/template-react-rstest-rltl-js/src/App.jsx
  packages/rspeedy/create-rspeedy/template-react-rstest-rltl-js/src/__tests__/index.test.jsx
  packages/rspeedy/create-rspeedy/template-react-rstest-rltl-js/src/index.jsx
  packages/rspeedy/create-rspeedy/template-react-rstest-rltl-ts/lynx.config.ts
  packages/rspeedy/create-rspeedy/template-react-rstest-rltl-ts/package.json
  packages/rspeedy/create-rspeedy/template-react-rstest-rltl-ts/rstest.config.ts
  packages/rspeedy/create-rspeedy/template-react-rstest-rltl-ts/src/App.tsx
  packages/rspeedy/create-rspeedy/template-react-rstest-rltl-ts/src/__tests__/index.test.tsx
  packages/rspeedy/create-rspeedy/template-react-rstest-rltl-ts/src/index.tsx
  packages/rspeedy/create-rspeedy/template-react-rstest-rltl-ts/src/rspeedy-env.d.ts
  packages/rspeedy/create-rspeedy/template-react-rstest-rltl-ts/tsconfig.json
Due: Rspeedy

Path conditions:
  React: any of: packages/react/**
  Rspeedy: any of: packages/rspeedy/**
  Webpack: any of: packages/webpack/**
  Web Platform: any of: packages/web-platform/**
