Repository upupming/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack, Web Platform

codecov.yml:

coverage:
  status:
    project:
      default:
        threshold: "0%"
        informational: true
      react:
        threshold: "0%"
        paths:
          - packages/react
      rspeedy:
        threshold: "0%"
        paths:
          - packages/rspeedy
      webpack:
        threshold: "0%"
        paths:
          - packages/webpack
      web-platform:
        threshold: "0%"
        paths:
          - packages/web-platform
    patch:
      default:
        threshold: "1%"

fixes:
  - "/home/runner/_work/lynx-stack::"

parsers:
  javascript:
    enable_partials: yes

github_checks:
  annotations: false

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment
  behavior: default
  require_changes: true # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  require_bundle_changes: true # for web-explorer

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
      - type: patch
        threshold: "1%"
  individual_components:
    - component_id: react
      name: React
      paths:
        - packages/react/**
    - component_id: rspeedy
      name: Rspeedy
      paths:
        - packages/rspeedy/**
    - component_id: webpack
      name: Webpack
      paths:
        - packages/webpack/**
    - component_id: web
      name: Web Platform
      paths:
        - packages/web-platform/**

fix(testing-library): wrap renderPage in act (#1170)
  .changeset/proud-geese-worry.md
  packages/react/testing-library/src/__tests__/act.test.jsx
  packages/react/testing-library/src/pure.jsx
Due: React

refactor(react/worklet-runtime): replace `esbuild` with `rslib` (#1224)
  packages/react/runtime/package.json
  packages/react/worklet-runtime/package.json
  packages/react/worklet-runtime/rslib.config.ts
  packages/react/worklet-runtime/scripts/build.js
  packages/react/worklet-runtime/turbo.json
  packages/react/worklet-runtime/vitest.config.ts
  pnpm-lock.yaml
Due: React

refactor(react/refresh): replace `esbuild` with `rslib` (#1223)
  packages/react/refresh/package.json
  packages/react/refresh/rslib.config.ts
  pnpm-lock.yaml
Due: React

fix(testing-library): should switch to another thread when dispatching
  .changeset/dull-moles-live.md
  packages/react/testing-library/src/__tests__/worklet.test.jsx
  packages/testing-library/testing-environment/src/index.ts
Due: React

fix(react/worklet-runtime): should allow nested MTS ref (#1245)
  packages/react/worklet-runtime/__test__/workletRuntime.test.js
  packages/react/worklet-runtime/src/workletRuntime.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/basic-mts-mainthread-nested-ref/index.jsx
Due: React, Web Platform

chore(react/test): reset `uiSignNext` in `afterEach` (#1248)
  .changeset/chatty-boxes-decide.md
  packages/react/runtime/__test__/list.test.jsx
  packages/react/runtime/__test__/utils/nativeMethod.ts
Due: React

feat: `extractStr` is only supported in `all-in-one` chunkSplit strategy
  .changeset/twelve-dancers-learn.md
  packages/rspeedy/plugin-react/src/entry.ts
  packages/rspeedy/plugin-react/test/config.test.ts
Due: Rspeedy

fix(testing-library): __RemoveElement infinite loop (#1240)
  .changeset/curvy-rabbits-deny.md
  .changeset/twenty-bars-clean.md
  packages/react/testing-library/src/__tests__/remove-element.test.jsx
  packages/react/testing-library/src/vitest-global-setup.js
  packages/react/testing-library/src/vitest.config.js
  packages/testing-library/examples/basic/src/__tests__/index.test.tsx
  packages/testing-library/testing-environment/src/__tests__/element-papi.test.js
  packages/testing-library/testing-environment/src/lynx/ElementPAPI.ts
Due: React

Revert "fix(testing-library): __RemoveElement infinite loop" (#1257)
  .changeset/curvy-rabbits-deny.md
  .changeset/twenty-bars-clean.md
  packages/react/testing-library/src/__tests__/remove-element.test.jsx
  packages/react/testing-library/src/vitest-global-setup.js
  packages/react/testing-library/src/vitest.config.js
  packages/testing-library/examples/basic/src/__tests__/index.test.tsx
  packages/testing-library/testing-environment/src/__tests__/element-papi.test.js
  packages/testing-library/testing-environment/src/lynx/ElementPAPI.ts
Due: React

fix(rspeedy/core): remove all `NODE_ENV` (#1252)
  .changeset/every-boxes-help.md
  .github/workflows/test.yml
  packages/rspeedy/core/src/cli/inspect.ts
  packages/rspeedy/core/src/config/defaults.ts
  packages/rspeedy/core/src/plugins/index.ts
  packages/rspeedy/core/src/plugins/swc.plugin.ts
  packages/rspeedy/core/src/plugins/target.plugin.ts
  packages/rspeedy/core/src/utils/getESVersionTarget.ts
  packages/rspeedy/core/test/cli/build.test.ts
  packages/rspeedy/core/test/plugins/swc.plugin.test.ts
  website/docs/en/guide/cli.md
  website/docs/zh/guide/cli.md
Due: Rspeedy

fix(webpack/react-refresh): make `mode: 'development'` work (#1253)
  .changeset/easy-parts-follow.md
  packages/webpack/react-refresh-webpack-plugin/src/ReactRefreshRspackPlugin.ts
  packages/webpack/react-refresh-webpack-plugin/src/ReactRefreshWebpackPlugin.ts
Due: Webpack

refactor: move exposure system to web-core (#1254)
  .changeset/two-bars-study.md
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-core/package.json
  packages/web-platform/web-core/src/uiThread/createRenderAllOnUI.ts
  packages/web-platform/web-core/src/uiThread/createRenderMultiThread.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/createExposureMonitor.ts
  packages/web-platform/web-core/src/utils/convertLengthToPx.ts
  packages/web-platform/web-elements/src/common/CommonEventsAndMethods.ts
  packages/web-platform/web-elements/src/common/constants.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-mainthread-apis/src/prepareMainThreadAPIs.ts
  packages/web-platform/web-mainthread-apis/src/utils/createExposureService.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
Due: Web Platform

fix(testing-library): __RemoveElement infinite loop
  .changeset/curvy-rabbits-deny.md
  packages/react/testing-library/src/__tests__/remove-element.test.jsx
  packages/react/testing-library/src/vitest-global-setup.js
  packages/testing-library/testing-environment/src/__tests__/element-papi.test.js
  packages/testing-library/testing-environment/src/lynx/ElementPAPI.ts
Due: React

fix: disable extractStr instead of throw error
  .changeset/twelve-dancers-learn.md
  packages/rspeedy/plugin-react/src/entry.ts
  packages/rspeedy/plugin-react/test/config.test.ts
Due: Rspeedy

feat(web): add napiModulesPath to bundle napiModules into worker runt… (#1134)
  .changeset/polite-coins-grab.md
  packages/web-platform/web-rsbuild-plugin/README.md
  packages/web-platform/web-rsbuild-plugin/src/index.ts
  packages/web-platform/web-rsbuild-plugin/src/loaders/napi-modules.ts
  packages/web-platform/web-rsbuild-plugin/src/pluginWebPlatform.ts
  packages/web-platform/web-rsbuild-plugin/tests/basic.test.ts
  packages/web-platform/web-rsbuild-plugin/tests/bundle.test.ts
  packages/web-platform/web-rsbuild-plugin/tests/config.test.ts
  packages/web-platform/web-rsbuild-plugin/tests/fixtures/index.napi-modules.ts
  packages/web-platform/web-tests/rspack.config.js
  packages/web-platform/web-tests/shell-project/index.napi-modules.ts
  packages/web-platform/web-tests/shell-project/web-core.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNapiLoader.ts
Due: Web Platform

fix(rspeedy/react): move refresh loader before `builtin:swc-loader` (#1246)
  .changeset/flat-signs-slide.md
  packages/rspeedy/plugin-react/src/refresh.ts
Due: Rspeedy

fix(testing-library): __RemoveElement infinite loop (#1263)
  .changeset/curvy-rabbits-deny.md
  packages/react/testing-library/src/__tests__/remove-element.test.jsx
  packages/react/testing-library/src/vitest-global-setup.js
  packages/testing-library/testing-environment/src/__tests__/element-papi.test.js
  packages/testing-library/testing-environment/src/lynx/ElementPAPI.ts
Due: React

perf(web): rewrite style transformer in rust (#1094)
  .changeset/tangy-clouds-know.md
  Cargo.lock
  Cargo.toml
  packages/web-platform/.gitignore
  packages/web-platform/tsconfig.json
  packages/web-platform/web-explorer/rsbuild.config.ts
  packages/web-platform/web-mainthread-apis/package.json
  packages/web-platform/web-mainthread-apis/src/prepareMainThreadAPIs.ts
  packages/web-platform/web-mainthread-apis/src/pureElementPAPIs.ts
  packages/web-platform/web-mainthread-apis/src/style/transformInlineStyle.ts
  packages/web-platform/web-mainthread-apis/src/utils/processStyleInfo.ts
  packages/web-platform/web-mainthread-apis/src/utils/tokenizer.ts
  packages/web-platform/web-mainthread-apis/tsconfig.json
  packages/web-platform/web-style-transformer/Cargo.toml
  packages/web-platform/web-style-transformer/package.json
  packages/web-platform/web-style-transformer/src/index.ts
  packages/web-platform/web-style-transformer/src/lib.rs
  packages/web-platform/web-style-transformer/src/parseFlexShorthand.ts
  packages/web-platform/web-style-transformer/src/parser/LICENSE
  packages/web-platform/web-style-transformer/src/parser/char_code_definitions.rs
  packages/web-platform/web-style-transformer/src/parser/mod.rs
  packages/web-platform/web-style-transformer/src/parser/parse_inline_style.rs
  packages/web-platform/web-style-transformer/src/parser/tokenize.rs
  packages/web-platform/web-style-transformer/src/parser/types.rs
  packages/web-platform/web-style-transformer/src/parser/utils.rs
  packages/web-platform/web-style-transformer/src/transformLynxStyles.ts
  packages/web-platform/web-style-transformer/src/transformer/constants.rs
  packages/web-platform/web-style-transformer/src/transformer/mod.rs
  packages/web-platform/web-style-transformer/src/transformer/rules.rs
  packages/web-platform/web-style-transformer/src/transformer/transformer.rs
  packages/web-platform/web-style-transformer/tsconfig.json
  packages/web-platform/web-style-transformer/turbo.json
  packages/web-platform/web-tests/rspack.config.js
  packages/web-platform/web-tests/tests/__snapshots__/server.vitest.spec.ts.snap
  packages/web-platform/web-tests/tsconfig.json
  pnpm-lock.yaml
Due: Web Platform

feat: support react compiler
  Cargo.lock
  examples/react-compiler/eslint.config.mjs
  examples/react-compiler/lynx.config.ts
  examples/react-compiler/package.json
  examples/react-compiler/src/App.css
  examples/react-compiler/src/App.tsx
  examples/react-compiler/src/assets/arrow.png
  examples/react-compiler/src/assets/lynx-logo.png
  examples/react-compiler/src/assets/react-logo.png
  examples/react-compiler/src/index.tsx
  examples/react-compiler/src/rspeedy-env.d.ts
  examples/react-compiler/tsconfig.json
  packages/react/transform/Cargo.toml
  packages/react/transform/index.d.ts
  packages/react/transform/src/lib.rs
  packages/rspeedy/plugin-react/package.json
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
  packages/rspeedy/plugin-react/src/reactCompiler.ts
  pnpm-lock.yaml
Due: React, Rspeedy

feat: using isReactCompilerRequiredSync
  .changeset/plenty-baboons-tan.md
  .changeset/sour-weeks-wait.md
  packages/react/transform/index.d.ts
  packages/react/transform/src/lib.rs
  packages/rspeedy/plugin-react/src/loaders.ts
  packages/webpack/react-webpack-plugin/package.json
  packages/webpack/react-webpack-plugin/src/ReactWebpackPlugin.ts
  packages/webpack/react-webpack-plugin/src/loaders/react-compiler.ts
  pnpm-lock.yaml
Due: React, Rspeedy, Webpack

chore: clean files
  examples/react-compiler/eslint.config.mjs
  packages/rspeedy/plugin-react/src/reactCompiler.ts
Due: Rspeedy

refactor: rename `cssinjs` to `cssog` (#1267)
  .changeset/kind-falcons-leave.md
  packages/web-platform/web-constants/src/types/StyleInfo.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-mainthread-apis/src/utils/decodeCssOG.ts
  packages/web-platform/web-mainthread-apis/src/utils/processStyleInfo.ts
Due: Web Platform

test: add tests for `output.inlineScript` function (#1266)
  .changeset/free-kids-appear.md
  packages/rspeedy/plugin-react/test/config.test.ts
Due: Rspeedy

ci: fix build issue (#1270)
  .changeset/kind-bars-pay.md
  packages/web-platform/web-style-transformer/index.d.ts
  packages/web-platform/web-style-transformer/package.json
Due: Web Platform

chore: enable `strictDepBuilds: true` (#1271)
  pnpm-workspace.yaml
Due: none

feat: support to dump the css og system's style (#1272)
  .changeset/hot-plants-accept.md
  packages/web-platform/offscreen-document/src/webworker/OffscreenElement.ts
  packages/web-platform/offscreen-document/src/webworker/index.ts
  packages/web-platform/web-core-server/src/dumpHTMLString.ts
  packages/web-platform/web-tests/tests/server.vitest.spec.ts
Due: Web Platform

feat(eslint): support eslint for ReactLynx
  examples/react/eslint.config.js
  examples/react/package.json
  examples/react/src/App.tsx
  examples/react/tsconfig.json
  packages/eslint-config-reactlynx/LICENSE
  packages/eslint-config-reactlynx/README.md
  packages/eslint-config-reactlynx/package.json
  packages/eslint-config-reactlynx/src/index.ts
  packages/eslint-config-reactlynx/src/ts.ts
  packages/eslint-config-reactlynx/tsconfig.json
  packages/rspeedy/create-rspeedy/package.json
  packages/rspeedy/create-rspeedy/src/index.ts
  packages/rspeedy/create-rspeedy/template-eslint/js/eslint.config.js
  packages/rspeedy/create-rspeedy/template-eslint/js/package.json
  packages/rspeedy/create-rspeedy/template-eslint/ts/eslint.config.js
  packages/rspeedy/create-rspeedy/template-eslint/ts/package.json
  patches/create-rstack.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: Rspeedy

chore: changeset
  .changeset/floppy-singers-chew.md
  .changeset/rare-socks-spend.md
Due: none

feat: simplify the mapESLintTemplate
  packages/rspeedy/create-rspeedy/src/index.ts
  patches/create-rstack.patch
  pnpm-lock.yaml
Due: Rspeedy

chore: remove `wasm-pack` from npm dependencies (#1273)
  .github/workflows/deploy-main.yml
  .github/workflows/workflow-build.yml
  packages/web-platform/web-style-transformer/package.json
  packages/web-platform/web-style-transformer/turbo.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: Web Platform

chore(web): remove error condition (#1265)
  packages/web-platform/web-tests/shell-project/index.ts
  packages/web-platform/web-tests/shell-project/lynx-view.ts
Due: Web Platform

fix(web/style-transformer): rm `dist/.gitignore` (#1277)
  .changeset/twelve-pugs-march.md
  packages/web-platform/web-style-transformer/package.json
Due: Web Platform

fix: missing comma in app-service manifest on chunk split
  .changeset/dry-candies-fetch.md
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-partial/bar.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-partial/foo.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-partial/index.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-partial/rspack.config.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-partial/test.config.cjs
Due: Webpack

chore: update create-rstack
  examples/react/src/App.tsx
  packages/rspeedy/create-rspeedy/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: Rspeedy

feat: add test for eslint template
  .github/workflows/test.yml
  examples/react/src/App.tsx
  packages/eslint-config-reactlynx/package.json
  packages/eslint-config-reactlynx/src/index.ts
  packages/eslint-config-reactlynx/src/ts.ts
  packages/rspeedy/create-rspeedy/src/index.ts
  packages/rspeedy/create-rspeedy/template-react-js/src/App.jsx
  packages/rspeedy/create-rspeedy/template-react-ts/src/App.tsx
  packages/rspeedy/create-rspeedy/template-react-ts/src/rspeedy-env.d.ts
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-js/src/App.jsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/src/App.tsx
  pnpm-lock.yaml
Due: Rspeedy

feat: files should be configured by user
  packages/eslint-config-reactlynx/src/index.ts
  packages/eslint-config-reactlynx/src/ts.ts
Due: none

feat: add support for __MarkTemplateElement, __MarkPartElement, and __GetTemplateParts in all-on-ui (#1275)
  .changeset/odd-carrots-slide.md
  packages/web-platform/web-constants/src/constants.ts
  packages/web-platform/web-constants/src/types/Element.ts
  packages/web-platform/web-constants/src/types/MainThreadGlobalThis.ts
  packages/web-platform/web-constants/src/utils/generateTemplate.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-mainthread-apis/src/pureElementPAPIs.ts
  packages/web-platform/web-tests/playwright.config.ts
  packages/web-platform/web-tests/shell-project/mainthread-test.ts
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
Due: Web Platform

fix(web): list may only render only one column in ReactLynx (#1280)
  .changeset/early-drinks-stay.md
  packages/web-platform/web-elements/src/XList/XListWaterfall.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/list/basic-element-list-waterfall/initial-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/list/basic-element-list-waterfall/initial-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/list/basic-element-list-waterfall/initial-webkit-linux.png
  packages/web-platform/web-tests/tests/react/basic-element-list-waterfall/index.css
  packages/web-platform/web-tests/tests/react/basic-element-list-waterfall/index.jsx
Due: Web Platform

fix: eslint type issue in workspace
  patches/create-rstack.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat: using @babel/core from user project
  examples/react-compiler/package.json
  packages/rspeedy/plugin-react/src/loaders.ts
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
  packages/rspeedy/plugin-react/src/reactCompiler.ts
  packages/webpack/react-webpack-plugin/package.json
  packages/webpack/react-webpack-plugin/src/loaders/react-compiler.ts
  pnpm-lock.yaml
Due: Rspeedy, Webpack
