Repository upupming/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack, Web Platform

codecov.yml:

coverage:
  status:
    project:
      default:
        threshold: "0%"
        informational: true
      react:
        threshold: "0%"
        paths:
          - packages/react
      rspeedy:
        threshold: "0%"
        paths:
          - packages/rspeedy
      webpack:
        threshold: "0%"
        paths:
          - packages/webpack
      web-platform:
        threshold: "0%"
        paths:
          - packages/web-platform
    patch:
      default:
        threshold: "1%"

fixes:
  - "/home/runner/_work/lynx-stack::"

parsers:
  javascript:
    enable_partials: yes

github_checks:
  annotations: false

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment
  behavior: default
  require_changes: true # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  require_bundle_changes: true # for web-explorer

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
      - type: patch
        threshold: "1%"
  individual_components:
    - component_id: react
      name: React
      paths:
        - packages/react/**
    - component_id: rspeedy
      name: Rspeedy
      paths:
        - packages/rspeedy/**
    - component_id: webpack
      name: Webpack
      paths:
        - packages/webpack/**
    - component_id: web
      name: Web Platform
      paths:
        - packages/web-platform/**

chore: enable clippy on ci and vscode (#1352)
  .changeset/angry-bars-return.md
  .github/workflows/rust.yml
  .vscode/settings.json
Due: none

refactor: better Hello World example (#1341)
  examples/react/src/App.tsx
  packages/rspeedy/create-rspeedy/template-react-js/src/App.jsx
  packages/rspeedy/create-rspeedy/template-react-ts/src/App.tsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-js/src/App.jsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/src/App.tsx
Due: Rspeedy

chore: update package.json
  examples/react-compiler/package.json
  packages/testing-library/examples/react-compiler/package.json
  pnpm-lock.yaml
Due: none

feat(tailwind-preset): add filter utilities and update related infrastructure (#1345)
  .changeset/nasty-trees-sin.md
  packages/third-party/tailwind-preset/README.md
  packages/third-party/tailwind-preset/src/__tests__/plugin-utils/create-function-call-utility.test.ts
  packages/third-party/tailwind-preset/src/__tests__/plugin-utils/get-modifier-repeater-map.test.ts
  packages/third-party/tailwind-preset/src/__tests__/plugins/blur.test.ts
  packages/third-party/tailwind-preset/src/__tests__/plugins/grayscale.test.ts
  packages/third-party/tailwind-preset/src/core.ts
  packages/third-party/tailwind-preset/src/plugin-utils/create-function-call-utility.ts
  packages/third-party/tailwind-preset/src/plugin-utils/get-modifier-repeater-map.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/blur.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/filter.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/grayscale.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/index.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/plugin-registry.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/soloTranslate.ts
  packages/third-party/tailwind-preset/src/theme.ts
  packages/third-party/tailwind-preset/src/types/theme-types.ts
Due: none

fix: cr
  .github/workflows/test.yml
  packages/react/testing-library/package.json
  packages/testing-library/examples/basic/package.json
Due: React

fix(react/runtime): ensure useEffect callbacks execute before event handlers from the same render cycle (#1348)
  .changeset/chatty-cases-sell.md
  packages/react/runtime/__test__/compat/initData.test.jsx
  packages/react/runtime/__test__/hooks/useLynxGlobalEventListener.test.jsx
  packages/react/runtime/__test__/lifecycle.test.jsx
  packages/react/runtime/__test__/utils/globals.js
  packages/react/runtime/src/lynx.ts
Due: React

Revert "fix(react): remove and insert `list-item`s those `item-key` have been changed" (#1353)
  .changeset/shaky-swans-end.md
  packages/react/runtime/__test__/list.test.jsx
  packages/react/runtime/src/listUpdateInfo.ts
  packages/react/runtime/src/snapshot/platformInfo.ts
  packages/react/runtime/src/snapshot/spread.ts
Due: React

Revert "chore(deps): update rspack monorepo to v1.4.9" (#1354)
  .changeset/loose-taxis-refuse.md
  .changeset/wide-dryers-wear.md
  packages/webpack/css-extract-webpack-plugin/src/rspack-loader.ts
  packages/webpack/css-extract-webpack-plugin/test/cases/css-id-at-import/d.css
  packages/webpack/css-extract-webpack-plugin/test/cases/css-id-at-import/expected/main.css
  packages/webpack/css-extract-webpack-plugin/test/cases/css-id-at-import/rspack-expected/main.css
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: Webpack

feat: introduce `@lynx-js/react/compat` (#1316)
  .changeset/all-planets-flow.md
  .changeset/unlucky-crews-notice.md
  packages/react/components/src/Page.ts
  packages/react/package.json
  packages/react/runtime/.npmignore
  packages/react/runtime/__test__/compat/export.test.jsx
  packages/react/runtime/__test__/compat/hooks.test.jsx
  packages/react/runtime/__test__/lazy.test.js
  packages/react/runtime/compat/index.d.ts
  packages/react/runtime/compat/index.js
  packages/react/runtime/lazy/compat.js
  packages/react/runtime/lazy/import.js
  packages/react/runtime/lazy/target.js
  packages/react/runtime/tsconfig.json
  packages/react/runtime/vitest.config.ts
  packages/rspeedy/plugin-react-alias/package.json
  packages/rspeedy/plugin-react-alias/src/index.ts
  packages/rspeedy/plugin-react-alias/test/compat/legacy.canary.test.ts
  packages/rspeedy/plugin-react-alias/test/compat/legacy.test.ts
  packages/rspeedy/plugin-react-alias/test/compat/next.canary.test.ts
  packages/rspeedy/plugin-react-alias/test/compat/next.test.ts
  pnpm-lock.yaml
Due: React, Rspeedy

feat: backward support
  packages/react/runtime/__test__/utils/globals.js
  packages/testing-library/testing-environment/src/index.ts
Due: React

fix(react): TypeScript error when integrating with source (#1362)
  eslint.config.js
  packages/react/components/src/Page.ts
  packages/react/runtime/tsconfig.json
Due: React

refactor: bundle web-core-server (#819)
  .changeset/mighty-readers-clean.md
  packages/web-platform/web-core-server/package.json
  packages/web-platform/web-core-server/rslib.config.ts
  packages/web-platform/web-core-server/src/utils/loadTemplate.ts
  packages/web-platform/web-core-server/tsconfig.json
  packages/web-platform/web-core-server/turbo.json
  packages/web-platform/web-mainthread-apis/src/prepareMainThreadAPIs.ts
  packages/web-platform/web-mainthread-apis/src/utils/tokenizer.ts
  packages/web-platform/web-style-transformer/index.d.ts
  packages/web-platform/web-style-transformer/index.js
  packages/web-platform/web-style-transformer/package.json
  packages/web-platform/web-style-transformer/standard.d.ts
  packages/web-platform/web-style-transformer/standard.js
  packages/web-platform/web-tests/rspack.config.js
Due: Web Platform

fix: crash on chrome<96 (#1361)
  .changeset/tall-experts-take.md
  packages/web-platform/web-style-transformer/index.js
  packages/web-platform/web-style-transformer/legacy.js
  packages/web-platform/web-style-transformer/package.json
  packages/web-platform/web-style-transformer/scripts/build.js
  packages/web-platform/web-style-transformer/standard.js
  pnpm-lock.yaml
Due: Web Platform

test(react/runtime): add tests for main thread element (#1366)
  packages/react/worklet-runtime/__test__/api/element.test.js
  packages/react/worklet-runtime/vitest.config.ts
Due: React

feat: cache events until background thread ready
  examples/react/lynx.config.js
  packages/react/runtime/src/lynx/tt.ts
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
Due: React, Webpack

feat: support cache for TTApp
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
Due: Webpack

chore(web): add fixed changeset of @lynx-js/web-style-transformer (#1368)
  .changeset/config.json
Due: none

feat: support elementTemplate for web (#1374)
  .changeset/afraid-crews-dig.md
  packages/webpack/template-webpack-plugin/src/WebEncodePlugin.ts
  packages/webpack/template-webpack-plugin/test/cases/web/element-template/a.js
  packages/webpack/template-webpack-plugin/test/cases/web/element-template/b.js
  packages/webpack/template-webpack-plugin/test/cases/web/element-template/rspack.config.js
  packages/webpack/template-webpack-plugin/test/cases/web/element-template/test.config.cjs
Due: Webpack

test(react/runtime): add multiple slots tests (#1372)
  .changeset/late-flies-melt.md
  packages/react/runtime/__test__/basic.test.jsx
  packages/react/testing-library/src/__tests__/render.test.jsx
Due: React

Update .changeset/red-lamps-arrive.md
  .changeset/red-lamps-arrive.md
Due: none

feat: remove layer from testing rules
  .changeset/red-lamps-arrive.md
  packages/react/testing-library/rstest.config.ts
  packages/rspeedy/plugin-react/src/loaders.ts
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
Due: React, Rspeedy

Revert "chore: upgrade preact" (#1373)
  packages/react/package.json
  packages/react/runtime/src/debug/component-stack.ts
  packages/react/runtime/src/debug/profile.ts
  packages/react/runtime/src/lynx/performance.ts
  packages/react/runtime/src/lynx/runWithForce.ts
  packages/react/runtime/types/internal-preact.d.ts
  pnpm-lock.yaml
Due: React

chore: fix flaky main thread tests (#1377)
  packages/web-platform/web-tests/package.json
  packages/web-platform/web-tests/shell-project/mainthread-test.ts
  pnpm-lock.yaml
Due: Web Platform

chore: changeset
  .changeset/ninety-pants-tease.md
Due: none

feat: use func instead of events
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
Due: Webpack

fix: edge case
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
Due: Webpack

feat: add `lynxCoreInjectCache` option
  packages/react/runtime/src/lynx/tt.ts
  packages/react/runtime/types/types.d.ts
  packages/rspeedy/plugin-react/src/entry.ts
  packages/webpack/template-webpack-plugin/package.json
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
  packages/webpack/template-webpack-plugin/static/lynx-core-inject-cache.js
  packages/webpack/template-webpack-plugin/tsconfig.json
Due: React, Rspeedy, Webpack

chore: remove comments
  packages/react/runtime/src/lynx/tt.ts
Due: React

chore: install binaryen (#1365)
  .changeset/cruel-bees-greet.md
  .changeset/odd-nails-wait.md
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/deploy-main.yml
  .github/workflows/workflow-build.yml
  packages/web-platform/web-style-transformer/Cargo.toml
  packages/web-platform/web-style-transformer/package.json
  packages/web-platform/web-style-transformer/scripts/build.js
  packages/web-platform/web-style-transformer/turbo.json
  pnpm-lock.yaml
Due: Web Platform

refactor(react/runtime): use pre-created `__DynamicPartChildren_0` (#1369)
  .changeset/fast-teams-greet.md
  packages/react/runtime/src/internal.ts
  packages/react/runtime/src/snapshot.ts
Due: React

fix(react/runtime): remove listener before destroy (#1379)
  .changeset/bright-rings-read.md
  packages/react/runtime/__test__/lifecycle/destroy.test.jsx
  packages/react/runtime/__test__/utils/runtimeProxy.test.js
  packages/react/runtime/__test__/utils/setup.js
  packages/react/runtime/src/lynx/tt.ts
Due: React

chore: [Copilot] install essential runtime dependencies for copilot (#1387)
  .github/workflows/copilot-setup-steps.yml
Due: none

feat: support color style for x-textarea (#1382)
  .changeset/afraid-cameras-hide.md
  packages/web-platform/web-elements/src/XTextarea/x-textarea.css
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/x-textarea/basic-element-x-textarea-color/initial-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/x-textarea/basic-element-x-textarea-color/initial-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/x-textarea/basic-element-x-textarea-color/initial-webkit-linux.png
  packages/web-platform/web-tests/tests/react/basic-element-x-textarea-color/index.jsx
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-textarea/attribute-disabled/disabled-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-textarea/attribute-disabled/disabled-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-textarea/attribute-disabled/disabled-webkit-linux.png
Due: Web Platform

chore: upgrade preact (#1389)
  packages/react/package.json
  packages/react/runtime/src/lynx/performance.ts
  packages/react/runtime/src/lynx/runWithForce.ts
  packages/react/runtime/src/renderToOpcodes/constants.ts
  packages/react/runtime/src/utils.ts
  packages/react/runtime/types/internal-preact.d.ts
  pnpm-lock.yaml
Due: React

fix(react): missing "type" in "update-list-info" in hydrate (#1392)
  .changeset/hot-dragons-shout.md
  packages/react/runtime/__test__/list.test.jsx
  packages/react/runtime/src/hydrate.ts
Due: React

Update .changeset/floppy-singers-chew.md
  .changeset/floppy-singers-chew.md
Due: none

Optimize IO for all-on-ui: make startMainThreadWorker async and defer import (#1385)
  .changeset/optimize-io-all-on-ui.md
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
Due: Web Platform

feat: implement `__ElementFromBinary` (#1391)
  .changeset/hungry-lions-eat.md
  packages/web-platform/web-constants/src/types/LynxModule.ts
  packages/web-platform/web-constants/src/types/MainThreadGlobalThis.ts
  packages/web-platform/web-constants/src/utils/generateTemplate.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-mainthread-apis/src/prepareMainThreadAPIs.ts
  packages/web-platform/web-tests/resources/web-core.main-thread.json
  packages/web-platform/web-tests/shell-project/mainthread-test.ts
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
Due: Web Platform

fix: cr
  eslint.config.js
  examples/react/eslint.config.js
  examples/react/package.json
  examples/react/src/App.tsx
  examples/react/tsconfig.json
  package.json
  packages/rspeedy/create-rspeedy/template-common/src/rspeedy-env.d.ts
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-js/src/App.jsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/src/App.tsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/src/__tests__/index.test.tsx
  pnpm-lock.yaml
Due: Rspeedy
