Repository upupming/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack, Web Platform

codecov.yml:

coverage:
  status:
    project:
      default:
        threshold: "0%"
        informational: true
      react:
        threshold: "0%"
        paths:
          - packages/react
      rspeedy:
        threshold: "0%"
        paths:
          - packages/rspeedy
      webpack:
        threshold: "0%"
        paths:
          - packages/webpack
      web-platform:
        threshold: "0%"
        paths:
          - packages/web-platform
    patch:
      default:
        threshold: "1%"

fixes:
  - "/home/runner/_work/lynx-stack::"

parsers:
  javascript:
    enable_partials: yes

github_checks:
  annotations: false

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment
  behavior: default
  require_changes: true # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  require_bundle_changes: true # for web-explorer

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
      - type: patch
        threshold: "1%"
  individual_components:
    - component_id: react
      name: React
      paths:
        - packages/react/**
    - component_id: rspeedy
      name: Rspeedy
      paths:
        - packages/rspeedy/**
    - component_id: webpack
      name: Webpack
      paths:
        - packages/webpack/**
    - component_id: web
      name: Web Platform
      paths:
        - packages/web-platform/**

feat: add SSR support for fp-only tests and enhance template handling (#838)
  .changeset/evil-lights-say.md
  .changeset/stale-zebras-add.md
  .github/workflows/test.yml
  packages/web-platform/offscreen-document/src/webworker/OffscreenCSSStyleDeclaration.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenDocument.ts
  packages/web-platform/offscreen-document/src/webworker/index.ts
  packages/web-platform/web-core-server/package.json
  packages/web-platform/web-core-server/src/createLynxView.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/style/styleFunctions.ts
  packages/web-platform/web-tests/package.json
  packages/web-platform/web-tests/playwright.config.ts
  packages/web-platform/web-tests/rspack.config.js
  packages/web-platform/web-tests/server.js
  packages/web-platform/web-tests/shell-project/fp-only.ts
  packages/web-platform/web-tests/tests/__snapshots__/server.vitest.spec.ts.snap
  packages/web-platform/web-tests/tests/fp-only.spec.ts
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
  packages/web-platform/web-tests/tests/react/commonConfig.ts
  packages/web-platform/web-tests/tests/server.bench.vitest.spec.ts
  packages/web-platform/web-tests/tests/server.vitest.spec.ts
  pnpm-lock.yaml
Due: Web Platform

docs(react/transform): add docs for `extractStr` (#847)
  .changeset/free-facts-tell.md
  packages/react/transform/index.d.ts
  packages/react/transform/src/swc_plugin_extract_str/mod.rs
Due: React

chore: add more tests for web SSR (#849)
  packages/web-platform/web-tests/tests/react/basic-performance-image-100/index.jsx
  packages/web-platform/web-tests/tests/react/basic-performance-scroll-view-100/index.jsx
  packages/web-platform/web-tests/tests/react/basic-performance-text-200/index.jsx
  packages/web-platform/web-tests/tests/server.bench.vitest.spec.ts
Due: Web Platform

fix: fix css key order by using vec
  packages/react/transform/src/swc_plugin_simple_styling/mod.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_simple_styling/mod.rs/basic_simple_style.js
  pnpm-lock.yaml
Due: React

fix(react/types): export `JSX.ElementType` (#854)
  .changeset/chubby-icons-cross.md
  examples/react/package.json
  examples/react/test/jsx-runtime.test-d.tsx
  examples/react/tsconfig.json
  examples/react/vitest.config.ts
  packages/react/runtime/jsx-dev-runtime/index.d.ts
  packages/react/runtime/jsx-runtime/index.d.ts
  packages/react/runtime/package.json
  pnpm-lock.yaml
  vitest.workspace.json
Due: React

docs(react/transform): mark `jsx` as internal and add docs for `defineDCE` (#846)
  .changeset/ninety-seas-dig.md
  packages/react/transform/index.d.ts
  packages/react/transform/src/swc_plugin_define_dce/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
  packages/rspeedy/plugin-react/src/validate.ts
  packages/rspeedy/plugin-react/test/validate.test.ts
Due: React, Rspeedy

fix: worker not released when backgroundWorkerContextCount != 1 (#845)
  .changeset/good-falcons-sort.md
  packages/web-platform/web-core/src/uiThread/bootWorkers.ts
  packages/web-platform/web-tests/tests/react.spec.ts
Due: Web Platform

fix(web): list-item should supports linear layout (#859)
  .changeset/warm-goats-stare.md
  packages/web-platform/web-elements/src/common-css/linear.css
  packages/web-platform/web-tests/tests/web-elements.spec.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-item-linear/index-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-item-linear/index-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-item-linear/index-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements/x-list/list-item-linear.html
Due: Web Platform

refactor: allow elements to be rendered before :defined (#855)
  .changeset/fresh-terms-guess.md
  packages/web-platform/web-elements/src/XImage/x-image.css
  packages/web-platform/web-elements/src/XInput/x-input.css
  packages/web-platform/web-elements/src/XOverlayNg/x-overlay-ng.css
  packages/web-platform/web-elements/src/XRefreshView/x-refresh-view.css
  packages/web-platform/web-elements/src/XText/x-text.css
  packages/web-platform/web-elements/src/XTextarea/x-textarea.css
  packages/web-platform/web-elements/src/XViewpagerNg/x-viewpager-ng.css
Due: Web Platform

fix: add missing options for transform
  packages/react/transform/__test__/basic.bench.js
  packages/react/transform/__test__/css/css-scope.spec.js
  packages/react/transform/__test__/simple-styling/index.spec.js
  packages/webpack/react-simple-styling-webpack-plugin/package.json
Due: React, Webpack

docs(rspeedy/react): export transform related types (#861)
  .changeset/tiny-parrots-relate.md
  packages/react/transform/index.d.ts
  packages/react/transform/src/swc_plugin_compat/mod.rs
  packages/rspeedy/plugin-react/api-extractor.json
  packages/rspeedy/plugin-react/etc/react-rsbuild-plugin.api.md
  packages/rspeedy/plugin-react/package.json
  packages/rspeedy/plugin-react/rslib.config.ts
  packages/rspeedy/plugin-react/src/index.ts
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
  packages/webpack/react-webpack-plugin/etc/react-webpack-plugin.api.md
  packages/webpack/react-webpack-plugin/src/ReactWebpackPlugin.ts
  packages/webpack/react-webpack-plugin/src/index.ts
  pnpm-lock.yaml
  website/rspress.config.ts
Due: React, Rspeedy, Webpack

chore: add more tests for fp-only-test (#850)
  .changeset/bright-animals-stand.md
  .changeset/stale-zebras-add.md
  .github/workflows/test.yml
  packages/web-platform/offscreen-document/src/webworker/OffscreenDocument.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenElement.ts
  packages/web-platform/web-core-server/src/createLynxView.ts
  packages/web-platform/web-tests/server.js
  packages/web-platform/web-tests/tests/__snapshots__/server.vitest.spec.ts.snap
  packages/web-platform/web-tests/tests/fp-only.spec.ts
  packages/web-platform/web-tests/tests/fp-only.spec.ts-snapshots/basic-css-asset-in-css/show-lynx-logo/index-chromium-linux.png
  packages/web-platform/web-tests/tests/fp-only.spec.ts-snapshots/basic-css-asset-in-css/show-lynx-logo/index-webkit-linux.png
  packages/web-platform/web-tests/tests/fp-only.spec.ts-snapshots/config-css-default-overflow-visible-unset/index/index-chromium-linux.png
  packages/web-platform/web-tests/tests/fp-only.spec.ts-snapshots/config-css-default-overflow-visible-unset/index/index-webkit-linux.png
  packages/web-platform/web-tests/tests/server.vitest.spec.ts
Due: Web Platform

fix(web): x-list should observe property list-type change. (#862)
  .changeset/shiny-eyes-follow.md
  packages/web-platform/web-elements/src/XList/XListAttributes.ts
  packages/web-platform/web-elements/src/XList/XListWaterfall.ts
  packages/web-platform/web-elements/src/XList/x-list.css
  packages/web-platform/web-tests/tests/web-elements.spec.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-type-change/flow-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-type-change/flow-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-type-change/flow-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-type-change/index-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-type-change/index-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-type-change/index-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-type-change/single-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-type-change/single-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-type-change/single-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-type-change/waterfall-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-type-change/waterfall-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-type-change/waterfall-webkit-linux.png
Due: Web Platform

feat(testing-library): support lazy bundle testing
  .changeset/cold-corners-agree.md
  .changeset/fair-pears-smile.md
  packages/react/runtime/src/lifecycle/patch/snapshotPatchApply.ts
  packages/react/runtime/src/snapshot.ts
  packages/react/testing-library/src/__tests__/lazy-bundle/LazyComponent.jsx
  packages/react/testing-library/src/__tests__/lazy-bundle/index.test.jsx
  packages/react/testing-library/src/vitest-global-setup.js
Due: React

docs: update build profiling (#873)
  website/docs/en/guide/build-profiling.mdx
  website/docs/zh/guide/build-profiling.mdx
Due: none

feat: feat/lazy-bundle-testing-exp
  packages/react/runtime/tsconfig.json
  packages/react/testing-library/src/__tests__/lazy-bundle/index.test.jsx
  packages/react/testing-library/src/vitest-global-setup.js
  packages/testing-library/testing-environment/src/index.ts
Due: React

test: add testing for simple styling api
  .changeset/beige-queens-start.md
  packages/react/runtime/__test__/simple-styling/index.test.jsx
  packages/react/runtime/__test__/utils/nativeMethod.ts
  packages/react/runtime/src/snapshot/simple-styling.ts
  packages/react/runtime/vitest.config.ts
  packages/react/testing-library/src/vitest.config.js
  packages/react/transform/__test__/simple-styling/error-handing.spec.js
  packages/react/transform/__test__/simple-styling/index.spec.js
  packages/testing-library/testing-environment/etc/testing-environment.api.md
  packages/testing-library/testing-environment/src/lynx/ElementPAPI.ts
Due: React

feat: support output.inlineScripts (#874)
  .changeset/afraid-meals-attend.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/config/defaults.ts
  packages/rspeedy/core/src/config/output/index.ts
  packages/rspeedy/core/test/config/output.test-d.ts
  packages/rspeedy/core/test/config/validate.test.ts
  packages/rspeedy/plugin-react/src/entry.ts
  packages/webpack/template-webpack-plugin/etc/template-webpack-plugin.api.md
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/external/foo.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/external/index.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/external/rspack.config.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline/foo.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline/index.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline/rspack.config.js
Due: Rspeedy, Webpack

feat: support to dump ssrEncode string (#876)
  .changeset/cold-rivers-teach.md
  .github/workflows/test.yml
  packages/web-platform/offscreen-document/src/webworker/OffscreenDocument.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenElement.ts
  packages/web-platform/web-core-server/package.json
  packages/web-platform/web-core-server/src/createLynxView.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-tests/package.json
  packages/web-platform/web-tests/tests/__snapshots__/server.vitest.spec.ts.snap
  pnpm-lock.yaml
Due: Web Platform

feat(testing-library): support lazy bundle testing (#869)
  .changeset/cold-corners-agree.md
  .changeset/fair-pears-smile.md
  packages/react/runtime/src/lifecycle/patch/snapshotPatchApply.ts
  packages/react/runtime/src/snapshot.ts
  packages/react/testing-library/src/__tests__/lazy-bundle/LazyComponent.jsx
  packages/react/testing-library/src/__tests__/lazy-bundle/index.test.jsx
  packages/react/testing-library/src/vitest-global-setup.js
Due: React

ci: improve build-all performance (#879)
  .github/workflows/test.yml
  packages/web-platform/web-tests/package.json
  packages/web-platform/web-tests/scripts/generate-build-command.js
  packages/web-platform/web-tests/server.js
  packages/web-platform/web-tests/tests/react/api.config.ts
  packages/web-platform/web-tests/tests/react/commonConfig.ts
Due: Web Platform

fix(webpack/template)!: remove unused `encodeBinary` (#880)
  .changeset/forty-garlics-build.md
  .changeset/old-rivers-drop.md
  packages/webpack/css-extract-webpack-plugin/package.json
  packages/webpack/react-refresh-webpack-plugin/package.json
  packages/webpack/react-webpack-plugin/package.json
  packages/webpack/template-webpack-plugin/etc/template-webpack-plugin.api.md
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
  packages/webpack/web-webpack-plugin/package.json
Due: Webpack

chore(web): publish web-explorer (#868)
  .changeset/lemon-clubs-beam.md
Due: none

chore(webpack/template): remove unused encodeBinary (#882)
  .changeset/fast-carrots-sleep.md
  packages/webpack/template-webpack-plugin/etc/template-webpack-plugin.api.md
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
Due: Webpack

perf: improve dom operation performance (#881)
  .changeset/cruel-owls-love.md
  packages/web-platform/offscreen-document/src/webworker/OffscreenCSSStyleDeclaration.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenDocument.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenElement.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenNode.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/domTree/domTreeFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/style/styleFunctions.ts
  packages/web-platform/web-tests/tests/__snapshots__/server.vitest.spec.ts.snap
Due: Web Platform

fix(web): remove the style contain: content of x-foldview-ng (#878)
  .changeset/great-seas-grin.md
  packages/web-platform/web-elements/src/XFoldViewNg/x-foldview-ng.css
  packages/web-platform/web-tests/tests/web-elements.spec.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-foldview-ng/item-fixed/initial-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-foldview-ng/item-fixed/initial-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-foldview-ng/item-fixed/initial-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-foldview-ng/item-fixed/scroll-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-foldview-ng/item-fixed/scroll-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-foldview-ng/item-fixed/scroll-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements/x-foldview-ng/item-fixed.html
Due: Web Platform

fix(react/types): add `key` to `JSX.IntrinsicAttributes` (#872)
  .changeset/few-stars-write.md
  examples/react/test/jsx-runtime.test-d.tsx
  packages/react/runtime/jsx-runtime/index.d.ts
  packages/react/types/react.d.ts
Due: React

test(react/transform): use `comments` from test (snapshot) (#888)
  .changeset/all-hands-flash.md
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_component.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_component_with_static_sibling.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_expr_container.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_expr_container_with_static_sibling.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_full_static.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_full_static_snapshot_extract.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_full_static_snapshot_extract_it.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_list.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_list_with_fragment.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/page_component.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/page_element.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/page_element_dev.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_excape_newline_character.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_inject_implicit_flatten.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_static_extract_dynamic_inline_style.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_static_extract_inline_style.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_wrap_dynamic_key.js
Due: React

test(react/transform): use comments from test (compat) (#889)
  .changeset/fine-files-pump.md
  packages/react/transform/src/swc_plugin_compat/mod.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_compat/mod.rs/should_add_component_element.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_compat/mod.rs/should_add_component_element_embedded.js
Due: React

test(react/transform): use comments from test (dynamic_import) (#891)
  .changeset/common-worms-fail.md
  packages/react/transform/src/swc_plugin_dynamic_import/mod.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_dynamic_import/mod.rs/should_not_import_lazy.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_dynamic_import/mod.rs/should_transform_import_call.js
Due: React

test(react/transform): use comments from test (css_scope) (#890)
  .changeset/silent-items-unite.md
  packages/react/transform/src/swc_plugin_css_scope/mod.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_css_scope/mod.rs/scoped_all_transform_imports.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_css_scope/mod.rs/scoped_modules_transform_imports.js
Due: React

ci: fix multiple `@types/react` versions (#900)
  .github/workflows/nodejs-dependencies.yml
  examples/react/package.json
  pnpm-lock.yaml
Due: none

chore(react/runtime): enable eslint for worklet-runtime (#887)
  biome.jsonc
  cspell.jsonc
  eslint.config.js
  packages/react/worklet-runtime/__test__/delayWorkletEvent.test.js
  packages/react/worklet-runtime/__test__/runOnBackground.test.js
  packages/react/worklet-runtime/__test__/workletRef.test.js
  packages/react/worklet-runtime/__test__/workletRuntime.test.js
  packages/react/worklet-runtime/package.json
  packages/react/worklet-runtime/scripts/build.js
  packages/react/worklet-runtime/src/api/element.ts
  packages/react/worklet-runtime/src/api/lepusQuerySelector.ts
  packages/react/worklet-runtime/src/api/lynxApi.ts
  packages/react/worklet-runtime/src/bindings/bindings.ts
  packages/react/worklet-runtime/src/bindings/events.ts
  packages/react/worklet-runtime/src/bindings/loadRuntime.ts
  packages/react/worklet-runtime/src/global.ts
  packages/react/worklet-runtime/src/hydrate.ts
  packages/react/worklet-runtime/src/jsFunctionLifecycle.ts
  packages/react/worklet-runtime/src/listeners.ts
  packages/react/worklet-runtime/src/types/elementApi.d.ts
  packages/react/worklet-runtime/src/types/runtimeProxy.d.ts
  packages/react/worklet-runtime/src/utils/profile.ts
  packages/react/worklet-runtime/src/utils/version.ts
  packages/react/worklet-runtime/src/workletRuntime.ts
  pnpm-lock.yaml
Due: React

fix: the lepus arg of beforeEmit hook to contain root chunk (#898)
  .changeset/huge-donkeys-hope.md
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
  packages/webpack/template-webpack-plugin/test/cases/hooks/before-emit-lepus/index.js
  packages/webpack/template-webpack-plugin/test/cases/hooks/before-emit-lepus/rspack.config.js
  packages/webpack/template-webpack-plugin/test/cases/hooks/before-emit-lepus/webpack.config.js
Due: Webpack

refactor: code clean (#897)
  .changeset/cold-regions-attend.md
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-constants/src/types/MainThreadStartConfigs.ts
  packages/web-platform/web-core-server/src/createLynxView.ts
  packages/web-platform/web-core/src/uiThread/createRenderAllOnUI.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadLynx.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/elementCreating/elementCreatingFunctions.ts
  packages/web-platform/web-mainthread-apis/src/index.ts
  packages/web-platform/web-mainthread-apis/src/prepareMainThreadAPIs.ts
  packages/web-platform/web-tests/shell-project/mainthread-test.ts
  packages/web-platform/web-worker-runtime/src/index.ts
  packages/web-platform/web-worker-runtime/src/mainThread/index.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
Due: Web Platform

feat: rename `lepus` to `mainThreadAssets` in `beforeEmit` hook (#901)
  .changeset/fast-streets-learn.md
  packages/webpack/template-webpack-plugin/etc/template-webpack-plugin.api.md
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
  packages/webpack/template-webpack-plugin/test/cases/hooks/before-emit-filename-hash/webpack.config.js
  packages/webpack/template-webpack-plugin/test/cases/hooks/before-emit-filename/webpack.config.js
  packages/webpack/template-webpack-plugin/test/cases/hooks/before-emit-lepus/webpack.config.js
  packages/webpack/template-webpack-plugin/test/cases/hooks/before-emit/webpack.config.js
Due: Webpack

fix(rspeedy/react)!: remove the `jsx` option (#903)
  .changeset/long-paws-relax.md
  packages/rspeedy/plugin-react/src/loaders.ts
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
  packages/rspeedy/plugin-react/src/validate.ts
  packages/rspeedy/plugin-react/test/config.test.ts
  packages/rspeedy/plugin-react/test/validate.test.ts
Due: Rspeedy

feat!: rename `WebWebpackPlugin` to `WebEncodePlugin` (#904)
  .changeset/eighty-snails-crash.md
  .changeset/forty-garlics-build.md
  .changeset/solid-ears-taste.md
  packages/rspeedy/plugin-react/package.json
  packages/rspeedy/plugin-react/src/entry.ts
  packages/rspeedy/plugin-react/test/web.test.ts
  packages/rspeedy/plugin-react/tsconfig.build.json
  packages/rspeedy/plugin-react/tsconfig.json
  packages/webpack/template-webpack-plugin/etc/template-webpack-plugin.api.md
  packages/webpack/template-webpack-plugin/src/WebEncodePlugin.ts
  packages/webpack/template-webpack-plugin/src/index.ts
  packages/webpack/template-webpack-plugin/src/web/StyleInfo.ts
  packages/webpack/template-webpack-plugin/src/web/genStyleInfo.ts
  packages/webpack/template-webpack-plugin/test/cases/web/all-in-one/a.js
  packages/webpack/template-webpack-plugin/test/cases/web/all-in-one/b.js
  packages/webpack/template-webpack-plugin/test/cases/web/all-in-one/rspack.config.js
  packages/webpack/template-webpack-plugin/test/cases/web/all-in-one/test.config.cjs
  packages/webpack/template-webpack-plugin/test/cases/web/default-export/a.js
  packages/webpack/template-webpack-plugin/test/cases/web/default-export/b.js
  packages/webpack/template-webpack-plugin/test/cases/web/default-export/rspack.config.js
  packages/webpack/template-webpack-plugin/test/cases/web/default-export/test.config.cjs
  packages/webpack/tsconfig.json
  packages/webpack/web-webpack-plugin/CHANGELOG.md
  packages/webpack/web-webpack-plugin/api-extractor.json
  packages/webpack/web-webpack-plugin/etc/web-webpack-plugin.api.md
  packages/webpack/web-webpack-plugin/package.json
  packages/webpack/web-webpack-plugin/test/cases.test.ts
  packages/webpack/web-webpack-plugin/tsconfig.json
  packages/webpack/web-webpack-plugin/vitest.config.ts
  pnpm-lock.yaml
  website/package.json
  website/rspress.config.ts
Due: Rspeedy, Webpack
