Repository upupming/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack, Web Platform

feat: simplify setProperty for ReactLynx
  packages/react/package.json
  pnpm-lock.yaml
Due: React

chore: bump Rust 1.88.0 (#1712)
  .github/actions/rustup/action.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/deploy-main.yml
  CONTRIBUTING.md
  packages/web-platform/web-style-transformer/Cargo.toml
  packages/web-platform/web-style-transformer/scripts/build.js
  rust-toolchain
  rust-toolchain.toml
Due: Web Platform

chore: add test code
  benchmark/react/cases/002-hello-reactLynx/RecursiveText.tsx
Due: none

feat: make render and events work
  examples/react/src/App.tsx
  examples/react/src/index.tsx
  packages/react/components/src/Page.ts
  packages/react/runtime/src/backgroundSnapshot.ts
  packages/react/runtime/src/document.ts
  packages/react/runtime/src/lifecycle/patch/snapshotPatchApply.ts
  packages/react/runtime/src/lynx/tt.ts
  packages/react/runtime/src/renderToOpcodes/index.ts
  packages/react/runtime/src/snapshot.ts
  packages/react/runtime/tsconfig.json
  packages/react/testing-library/src/__tests__/act.test.jsx
  packages/react/testing-library/vitest.config.ts
Due: React

ci: split playwright tests, preempt more CPUs (#1706)
  .github/workflows/test.yml
  .github/workflows/workflow-test.yml
  packages/web-platform/web-tests/playwright.config.ts
  packages/web-platform/web-tests/rspack.config.js
  packages/web-platform/web-tests/tests/coverage-fixture.ts
  packages/web-platform/web-tests/tests/fp-only.spec.ts
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
  packages/web-platform/web-tests/tests/performance.test.ts
  packages/web-platform/web-tests/tests/rpc.spec.ts
  packages/web-platform/web-tests/tests/web-core.test.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts
Due: Web Platform

refactor(react/transform): remove unused params (#1713)
  .changeset/afraid-lies-grab.md
  packages/react/transform/src/lib.rs
  packages/react/transform/src/swc_plugin_list/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
Due: React

chore: remove x-view-10000 test (#1715)
  packages/web-platform/web-tests/tests/performance.test.ts
  packages/web-platform/web-tests/tests/web-elements/performance/react-dom.production.min.js
  packages/web-platform/web-tests/tests/web-elements/performance/react.production.min.js
  packages/web-platform/web-tests/tests/web-elements/performance/x-view-10000.html
Due: Web Platform

refactor(react/transfrom): migrate to Cargo workspace (#1714)
  .changeset/fluffy-cougars-post.md
  Cargo.toml
  packages/react/transform/Cargo.toml
  packages/web-platform/web-style-transformer/Cargo.toml
Due: React, Web Platform

fix(web): svg use img tag to render (#1668)
  .changeset/deep-yaks-lose.md
  packages/web-platform/web-elements-template/src/index.ts
  packages/web-platform/web-elements/src/XImage/x-image.css
  packages/web-platform/web-elements/src/XSvg/XSvg.ts
  packages/web-platform/web-elements/src/XSvg/x-svg.css
  packages/web-platform/web-tests/resources/star.png
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/svg/background-image/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/svg/background-image/index-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/svg/background-image/index-webkit-linux.png
  packages/web-platform/web-tests/tests/react/basic-element-svg-background-image/index.jsx
Due: Web Platform

fix(web): x-overlay-ng prevent page scroll when visible #1398 (#1499)
  .changeset/curvy-pears-listen.md
  packages/web-platform/web-elements-template/src/index.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts
  packages/web-platform/web-tests/tests/web-elements/x-overlay-ng/scroll-prevent-through.html
Due: Web Platform

fix(react): use correct `@lynx-js/react/worklet-runtime` (#1711)
  .changeset/brave-crabs-rush.md
  .changeset/orange-rockets-look.md
  .changeset/true-eels-stare.md
  packages/rspeedy/plugin-react-alias/src/index.ts
  packages/rspeedy/plugin-react/src/entry.ts
  packages/rspeedy/plugin-react/test/config.test.ts
  packages/webpack/react-webpack-plugin/etc/react-webpack-plugin.api.md
  packages/webpack/react-webpack-plugin/package.json
  packages/webpack/react-webpack-plugin/src/ReactWebpackPlugin.ts
  packages/webpack/react-webpack-plugin/test/create-react-config.js
Due: Rspeedy, Webpack

feat: integrate with tsgo (with Rslib) (#1685)
  .changeset/tricky-papers-pick.md
  .vscode/settings.json
  package.json
  packages/react/testing-library/rslib.config.ts
  packages/rspeedy/core/rslib.config.ts
  packages/rspeedy/plugin-qrcode/rslib.config.ts
  packages/rspeedy/plugin-qrcode/tsconfig.build.json
  packages/rspeedy/plugin-react-alias/rslib.config.ts
  packages/rspeedy/plugin-react/rslib.config.ts
  packages/rspeedy/plugin-react/src/splitChunks.ts
  packages/rspeedy/plugin-react/tsconfig.build.json
  packages/testing-library/testing-environment/etc/testing-environment.api.md
  packages/testing-library/testing-environment/rslib.config.ts
  packages/third-party/tailwind-preset/rslib.config.ts
  packages/third-party/tailwind-preset/tsconfig.build.json
  packages/web-platform/web-core-server/rslib.config.ts
  packages/web-platform/web-rsbuild-plugin/rslib.config.ts
  pnpm-lock.yaml
Due: React, Rspeedy, Web Platform

chore(tailwind-preset): fix typos in uiVariants.md (#1727)
  packages/third-party/tailwind-preset/docs/plugins/lynx-ui/uiVariants.md
Due: none

ci(benchmark/react): check `Codspeed` before use it (#1720)
  benchmark/react/plugins/pluginScriptLoad.mjs
Due: none

test(react/transform): add more benchmark (#1725)
  packages/react/transform/__test__/basic.bench.js
Due: React

chore(react): export `process` in exports `internal` (#1719)
  packages/react/runtime/lazy/internal.js
  packages/react/runtime/src/internal.ts
Due: React

feat(react/runtime): delay the timing of `runOnMainThread()` (#1667)
  .changeset/lemon-streets-watch.md
  .changeset/smooth-dragons-smash.md
  packages/react/runtime/__test__/worklet/runOnMainThread.test.js
  packages/react/runtime/__test__/worklet/runOnMainThread.test.jsx
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lifecycle/patch/updateMainThread.ts
  packages/react/runtime/src/lynx/tt.ts
  packages/react/runtime/src/worklet/runOnMainThread.ts
  packages/react/worklet-runtime/__test__/runOnMainThread.test.js
  packages/react/worklet-runtime/src/bindings/bindings.ts
  packages/react/worklet-runtime/src/global.ts
  packages/react/worklet-runtime/src/listeners.ts
  packages/react/worklet-runtime/src/runOnMainThread.ts
  packages/react/worklet-runtime/src/workletRuntime.ts
  packages/rspeedy/plugin-react/package.json
Due: React, Rspeedy

feat: remove options.document and reuse vnode as dom
  .changeset/slick-pandas-flow.md
  packages/react/package.json
  packages/react/runtime/src/backgroundSnapshot.ts
  packages/react/runtime/src/document.ts
  packages/react/runtime/src/lynx.ts
  packages/react/runtime/src/root.ts
  packages/react/runtime/types/internal-preact.d.ts
  pnpm-lock.yaml
Due: React

chore: fix typo in eslint.config.js (#1726)
  eslint.config.js
Due: none

chore(deps): bump swc_core to v39.0.3 (#1721)
  .changeset/mighty-numbers-talk.md
  Cargo.lock
  Cargo.toml
  packages/react/transform/Cargo.toml
  packages/react/transform/__test__/fixture.spec.js
  packages/react/transform/scripts/build_wasm.js
  packages/react/transform/src/bundle.rs
  packages/react/transform/src/lib.rs
Due: React

feat(rspeedy/core): support `resolve.aliasStrategy` (#1722)
  .changeset/silver-coins-smile.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/config/resolve/index.ts
  packages/rspeedy/core/src/config/rsbuild/index.ts
  packages/rspeedy/core/test/config/resolve/aliasStrategy.test-d.ts
  packages/rspeedy/core/test/config/rsbuild.test.ts
  packages/rspeedy/core/test/config/validate.test.ts
Due: Rspeedy

feat: try to optimize
  packages/react/runtime/src/backgroundSnapshot.ts
Due: React

chore: update .vscode extensions.json (#1731)
  .vscode/extensions.json
Due: none

fix(web-platform): remove special lightning css&chunk split settings … (#1732)
  .changeset/tricky-cameras-show.md
  packages/rspeedy/plugin-react/src/css.ts
  packages/rspeedy/plugin-react/src/splitChunks.ts
  packages/rspeedy/plugin-react/test/config.test.ts
  packages/rspeedy/plugin-react/test/css.test.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/config-css-remove-scope-false-import-css/common.css
  packages/web-platform/web-tests/tests/react/config-css-remove-scope-false-import-css/index.css
  packages/web-platform/web-tests/tests/react/config-css-remove-scope-false-import-css/index.jsx
  packages/web-platform/web-tests/tests/react/config-css-remove-scope-false-import-css/rspeedy.config.ts
  packages/web-platform/web-tests/tests/react/config-css-remove-scope-false-import-css/sub.css
  packages/web-platform/web-tests/tests/react/config-css-remove-scope-false-import-css/sub.jsx
  packages/web-platform/web-tests/tests/web-core.test.ts
Due: Rspeedy, Web Platform

feat: using pure object as BackgroundDOM
  benchmark/react/cases/004-various-update/index.tsx
  packages/react/package.json
  packages/react/runtime/src/backgroundSnapshot.ts
  packages/react/runtime/src/debug/printSnapshot.ts
  packages/react/runtime/src/internal.ts
  packages/react/runtime/src/lynx.ts
  packages/react/runtime/src/lynx/suspense.ts
  packages/react/runtime/src/lynx/tt.ts
  packages/react/runtime/src/root.ts
  packages/react/runtime/src/snapshot.ts
  packages/react/runtime/src/snapshot/spread.ts
  packages/react/runtime/types/internal-preact.d.ts
  pnpm-lock.yaml
Due: React

ci: fix flaky (#1734)
  packages/web-platform/web-tests/tests/performance.test.ts
Due: Web Platform

feat(template-webpack-plugin): add appType field for web bundle (#1738)
  .changeset/happy-papers-hope.md
  packages/webpack/template-webpack-plugin/src/WebEncodePlugin.ts
  packages/webpack/template-webpack-plugin/test/cases/web/default-export/b.js
Due: Webpack

fix: test cases
  packages/react/package.json
  packages/react/runtime/__test__/compat.test.jsx
  packages/react/runtime/__test__/compat/initData.test.jsx
  packages/react/runtime/__test__/debug/printSnapshot.test.jsx
  packages/react/runtime/__test__/debug/profile.test.jsx
  packages/react/runtime/__test__/element.test.jsx
  packages/react/runtime/__test__/hooks/useLynxGlobalEventListener.test.jsx
  packages/react/runtime/__test__/hydrate.test.jsx
  packages/react/runtime/__test__/lifecycle/isRendering.test.jsx
  packages/react/runtime/__test__/preact.test.jsx
  packages/react/runtime/__test__/render.test.jsx
  packages/react/runtime/__test__/renderToOpcodes.test.jsx
  packages/react/runtime/__test__/snapshot/spread.test.jsx
  packages/react/runtime/__test__/snapshotPatch.test.jsx
  packages/react/runtime/__test__/utils/debug.js
  packages/react/runtime/__test__/utils/envManager.ts
  packages/react/runtime/__test__/utils/setup.js
  packages/react/runtime/lazy/internal.js
  packages/react/runtime/src/backgroundSnapshot.ts
  pnpm-lock.yaml
Due: React

feat: use undefined assign to make it faster
  packages/react/runtime/src/backgroundSnapshot.ts
Due: React

feat: make rltl pass
  packages/react/testing-library/src/vitest-global-setup.js
Due: React

feat: use new obj to get perf compare data
  patches/@upupming__preact.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: benchmark
  benchmark/react/cases/004-various-update/index.tsx
Due: none

fix: remove document.js exports
  packages/react/package.json
Due: React

feat: make setupDom faster
  packages/react/runtime/src/backgroundSnapshot.ts
Due: React

feat: make setupDom faster
  packages/react/runtime/src/backgroundSnapshot.ts
  packages/react/runtime/src/lifecycle/patch/commit.ts
Due: React

Revert "feat: use new obj to get perf compare data"
  patches/@upupming__preact.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat: update preact
  packages/react/package.json
  pnpm-lock.yaml
Due: React

feat: try use null
  packages/react/runtime/__test__/element.test.jsx
  packages/react/runtime/src/backgroundSnapshot.ts
  packages/react/runtime/src/lifecycle/patch/commit.ts
Due: React

ci(benchmark/react): disable setting GCThreshold to int_max when frozen mode (#1746)
  packages/lynx/benchx_cli/scripts/build.mjs
Due: none

refactor: add empty swc_plugin pkgs and CODEOWNERS for progressive migration (#1740)
  .changeset/deep-ideas-nail.md
  .gitignore
  CODEOWNERS
  Cargo.lock
  Cargo.toml
  packages/react/transform/swc-plugin-reactlynx-compat/.cargo/config.toml
  packages/react/transform/swc-plugin-reactlynx-compat/.gitignore
  packages/react/transform/swc-plugin-reactlynx-compat/Cargo.toml
  packages/react/transform/swc-plugin-reactlynx-compat/build.js
  packages/react/transform/swc-plugin-reactlynx-compat/package.json
  packages/react/transform/swc-plugin-reactlynx-compat/src/lib.rs
  packages/react/transform/swc-plugin-reactlynx/.cargo/config.toml
  packages/react/transform/swc-plugin-reactlynx/.gitignore
  packages/react/transform/swc-plugin-reactlynx/Cargo.toml
  packages/react/transform/swc-plugin-reactlynx/build.js
  packages/react/transform/swc-plugin-reactlynx/package.json
  packages/react/transform/swc-plugin-reactlynx/src/lib.rs
Due: React

Path conditions:
  React: any of: packages/react/**
  Rspeedy: any of: packages/rspeedy/**
  Webpack: any of: packages/webpack/**
  Web Platform: any of: packages/web-platform/**
