Repository upupming/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack, Web Platform

codecov.yml:

coverage:
  status:
    project:
      default:
        threshold: "0%"
        informational: true
      react:
        threshold: "0%"
        paths:
          - packages/react
      rspeedy:
        threshold: "0%"
        paths:
          - packages/rspeedy
      webpack:
        threshold: "0%"
        paths:
          - packages/webpack
      web-platform:
        threshold: "0%"
        paths:
          - packages/web-platform
    patch:
      default:
        threshold: "1%"

fixes:
  - "/home/runner/_work/lynx-stack::"

parsers:
  javascript:
    enable_partials: yes

github_checks:
  annotations: false

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment
  behavior: default
  require_changes: true # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  require_bundle_changes: true # for web-explorer

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
      - type: patch
        threshold: "1%"
  individual_components:
    - component_id: react
      name: React
      paths:
        - packages/react/**
    - component_id: rspeedy
      name: Rspeedy
      paths:
        - packages/rspeedy/**
    - component_id: webpack
      name: Webpack
      paths:
        - packages/webpack/**
    - component_id: web
      name: Web Platform
      paths:
        - packages/web-platform/**

feat(web): add MTS API: \_\_UpdateComponentInfo (#1485)
  .changeset/shiny-candies-wear.md
  packages/web-platform/web-constants/src/types/MainThreadGlobalThis.ts
  packages/web-platform/web-constants/src/utils/generateTemplate.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-mainthread-apis/src/pureElementPAPIs.ts
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
Due: Web Platform

fix(react): recursive hydrate in list to avoid double remove & insert when move (#1401)
  .changeset/legal-words-mix.md
  packages/react/runtime/__test__/lifecycle/reload.test.jsx
  packages/react/runtime/__test__/list.test.jsx
  packages/react/runtime/src/hydrate.ts
Due: React

fix(web): __ElementFromBinary needs to correctly apply the dataset in… (#1487)
  .changeset/thick-times-watch.md
  packages/web-platform/web-constants/src/types/LynxModule.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-tests/resources/web-core.main-thread.json
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
Due: Web Platform

feat(web): add MTS API \_\_GetAttributeByName (#1486)
  .changeset/twenty-olives-design.md
  packages/web-platform/web-constants/src/types/MainThreadGlobalThis.ts
  packages/web-platform/web-constants/src/utils/generateTemplate.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-mainthread-apis/src/pureElementPAPIs.ts
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
Due: Web Platform

Fix mtsGlobalThis race condition in createRenderAllOnUI (#1506)
  .changeset/tame-kids-retire.md
  packages/web-platform/web-core/src/uiThread/createRenderAllOnUI.ts
Due: Web Platform

feat: find out bts entry using compilation api and backgroundChunks
  packages/rspeedy/plugin-react/src/entry.ts
  packages/webpack/runtime-wrapper-webpack-plugin/etc/runtime-wrapper-webpack-plugin.api.md
  packages/webpack/runtime-wrapper-webpack-plugin/src/RuntimeWrapperWebpackPlugin.ts
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
Due: Rspeedy, Webpack

feat: test for render ReactNode
  packages/testing-library/examples/basic/src/__tests__/types/render.test-d.tsx
Due: none

Update packages/react/testing-library/src/__tests__/css/index.test.jsx
  packages/react/testing-library/src/__tests__/css/index.test.jsx
Due: React

fix: add `types` to turbo.json inputs
  packages/react/testing-library/turbo.json
Due: React

fix(testing-library): do not transform css imports (#1500)
  .changeset/curvy-dragons-appear.md
  packages/react/testing-library/src/__tests__/css/index.test.jsx
  packages/react/testing-library/src/__tests__/css/style1.css
  packages/react/testing-library/src/__tests__/css/style2.css
  packages/react/testing-library/src/__tests__/css/style3.module.css
  packages/react/testing-library/src/vitest.config.js
Due: React

test: setup a maxForks to avoid "Channel closed" error (#1523)
  vitest.config.ts
Due: none

fix(testing-library): render options type (#1502)
  .changeset/four-actors-ring.md
  packages/react/testing-library/turbo.json
  packages/react/testing-library/types/entry.d.ts
  packages/testing-library/examples/basic/package.json
  packages/testing-library/examples/basic/src/__tests__/types/render.test-d.tsx
  packages/testing-library/examples/basic/src/__tests__/types/renderHook.test-d.tsx
  packages/testing-library/examples/basic/tsconfig.json
Due: React

test(web): better config (#1520)
  packages/web-platform/web-tests/scripts/generate-build-command.js
  packages/web-platform/web-tests/tests/react/api.config.ts
  packages/web-platform/web-tests/tests/react/basic.config.ts
  packages/web-platform/web-tests/tests/react/config-css-selector-false.config.ts
  packages/web-platform/web-tests/tests/react/config-mixed-01.config.ts
Due: Web Platform

fix: rstest css module classname is diff from vitest
  packages/react/testing-library/src/__tests__/css/index.test.jsx
Due: React

ci: run rust check earlier (#1527)
  .github/workflows/test.yml
Due: none

chore: use minor changeset
  .changeset/brave-melons-add.md
  .changeset/social-places-float.md
  .changeset/two-moose-help.md
Due: none

feat: add breaking notice
  .changeset/brave-melons-add.md
  .changeset/social-places-float.md
  .changeset/two-moose-help.md
Due: none

fix: using runtimeGlobals.exports
  packages/webpack/runtime-wrapper-webpack-plugin/src/RuntimeWrapperWebpackPlugin.ts
Due: Webpack

feat: throw error on no jsdom passed
  packages/testing-library/testing-environment/package.json
  packages/testing-library/testing-environment/src/index.ts
Due: none

chore: enable clippy in tests (#1532)
  .github/workflows/rust.yml
  packages/react/transform/src/lib.rs
  packages/react/transform/src/swc_plugin_compat/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
Due: React

feat: allow passing jsdom to new LynxTestingEnv (#1422)
  .changeset/rare-mice-leave.md
  packages/testing-library/testing-environment/README.md
  packages/testing-library/testing-environment/etc/test-environment.api.md
  packages/testing-library/testing-environment/etc/testing-environment.api.md
  packages/testing-library/testing-environment/package.json
  packages/testing-library/testing-environment/src/env/vitest/index.ts
  packages/testing-library/testing-environment/src/index.ts
Due: none

fix: app-service.js contains `module.exports=;` (#1501)
  .changeset/nasty-queens-remain.md
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/external/index.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-fn/index.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-object/index.js
  packages/webpack/template-webpack-plugin/test/cases/inline-scripts/inline-regex/index.js
  packages/webpack/template-webpack-plugin/test/cases/main-thread/mpa/a.js
  packages/webpack/template-webpack-plugin/test/cases/main-thread/mpa/b.js
  packages/webpack/template-webpack-plugin/test/cases/main-thread/mpa/c.js
  packages/webpack/template-webpack-plugin/test/cases/main-thread/mpa/d.js
  packages/webpack/template-webpack-plugin/test/cases/main-thread/mpa/e.js
Due: Webpack

refactor(react/transform): add description to `unreachable!` (#1535)
  .changeset/wise-cars-kneel.md
  packages/react/transform/src/swc_plugin_compat/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/jsx_helpers.rs
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
  packages/react/transform/src/swc_plugin_worklet/extract_ident.rs
  packages/react/transform/src/utils.rs
Due: React

refactor: use utf-8 string (#1473)
  .changeset/purple-experts-ask.md
  packages/web-platform/inline-style-parser/src/char_code_definitions.rs
  packages/web-platform/inline-style-parser/src/lib.rs
  packages/web-platform/inline-style-parser/src/parse_inline_style.rs
  packages/web-platform/inline-style-parser/src/tokenize.rs
  packages/web-platform/inline-style-parser/src/types.rs
  packages/web-platform/inline-style-parser/src/utils.rs
  packages/web-platform/web-mainthread-apis/src/utils/tokenizer.ts
  packages/web-platform/web-style-transformer/src/lib.rs
  packages/web-platform/web-style-transformer/src/transformer/constants.rs
  packages/web-platform/web-style-transformer/src/transformer/mod.rs
  packages/web-platform/web-style-transformer/src/transformer/rules.rs
  packages/web-platform/web-style-transformer/src/transformer/transform.rs
  packages/web-platform/web-style-transformer/standard.d.ts
  packages/web-platform/web-style-transformer/standard.js
Due: Web Platform

feat: inlineScripts defaults to false, when chunkSplit strategy is not 'all-in-one' (#1504)
  .changeset/gorgeous-adults-pretend.md
  packages/rspeedy/core/src/config/defaults.ts
  packages/rspeedy/core/test/config/output/inline-scripts.test.ts
  packages/rspeedy/plugin-react/src/entry.ts
  packages/rspeedy/plugin-react/test/config.test.ts
Due: Rspeedy

fix: systeminfo in mts function (#1537)
  .changeset/five-baths-run.md
  packages/web-platform/web-constants/src/types/MainThreadLynx.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadLynx.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/basic-mts-systeminfo/index.jsx
Due: Web Platform

fix: lazy bundle no need to cache
  packages/rspeedy/plugin-react/test/config.test.ts
  packages/webpack/template-webpack-plugin/src/LynxEncodePlugin.ts
Due: Rspeedy, Webpack

ci: lock `@pnpm/registry-mock` to v4 (#1549)
  .github/workflows/test.yml
Due: none

chore: integrate with arethetypeswrong (#1551)
  packages/rspeedy/plugin-react/package.json
  packages/rspeedy/plugin-react/rslib.config.ts
  packages/web-platform/web-core-server/package.json
  packages/web-platform/web-core-server/rslib.config.ts
  pnpm-lock.yaml
Due: Rspeedy, Web Platform

feat: add animate in MTS (#1534)
  .changeset/weak-animals-search.md
  packages/react/worklet-runtime/__test__/api/element.test.js
  packages/react/worklet-runtime/src/api/animation/animation.ts
  packages/react/worklet-runtime/src/api/animation/effect.ts
  packages/react/worklet-runtime/src/api/element.ts
  packages/react/worklet-runtime/src/types/elementApi.d.ts
Due: React

fix(web): globalThis is never accessible in MTS (#1531)
  .changeset/floppy-shrimps-own.md
  packages/web-platform/web-constants/src/constants.ts
  packages/web-platform/web-constants/src/utils/generateTemplate.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/api-global-disallowed-vars/index.jsx
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
Due: Web Platform

refactor(rspeedy/react): remove `removeFunctionWhiteSpace` plugin (#1552)
  .changeset/icy-dancers-help.md
  packages/rspeedy/plugin-react/src/css.ts
  packages/rspeedy/plugin-react/src/entry.ts
  packages/rspeedy/plugin-react/test/config.test.ts
Due: Rspeedy

feat: add edge testing cases
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/slot_marker.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/full_static_children_map_jsx.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/full_static_children_new_line.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/full_static_children_self_close.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/slot_marker.rs/should_not_wrap_dynamic_part.js
Due: React

fix(react): wrap `<wrapper>` for JSX with dynamic `key` (#1541)
  .changeset/modern-bags-wait.md
  packages/react/runtime/__test__/basic.test.jsx
  packages/react/runtime/__test__/preact.test.jsx
  packages/react/runtime/__test__/renderToOpcodes.test.jsx
  packages/react/testing-library/src/__tests__/list.test.jsx
  packages/react/testing-library/src/__tests__/render.test.jsx
  packages/react/transform/src/swc_plugin_snapshot/slot_marker.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_wrap_dynamic_key.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/slot_marker.rs/should_wrap_dynamic_part.js
Due: React

chore: get ready for node 24 (#1557)
  .github/workflows/code-scanning.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/deploy-main.yml
  .github/workflows/nodejs-dependencies.yml
  .github/workflows/test.yml
  .github/workflows/workflow-bench.yml
  .github/workflows/workflow-build.yml
  .github/workflows/workflow-bundle-analysis.yml
  .github/workflows/workflow-test.yml
  .github/workflows/workflow-website.yml
  .nvmrc
  CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
Due: none

Add comprehensive .github/copilot-instructions.md for coding agents (#1548)
  .github/copilot-instructions.md
Due: none

feat: use runtime module for cache layer
  packages/webpack/chunk-loading-webpack-plugin/src/StartupChunkDependenciesPlugin.ts
  packages/webpack/template-webpack-plugin/src/LynxCacheEventsRuntimeModule.ts
  packages/webpack/template-webpack-plugin/src/LynxCacheEventsSetupListRuntimeModule.ts
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
  packages/webpack/webpack-runtime-globals/src/RuntimeGlobals.ts
Due: Webpack

feat: remove tt._appInstance cache layer
  packages/webpack/template-webpack-plugin/src/LynxCacheEventsSetupListRuntimeModule.ts
Due: Webpack

fix: fix fake disappear event (#1539)
  .changeset/modern-wombats-float.md
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/createExposureMonitor.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/api-exposure-no-fake-disappear/index.jsx
Due: Web Platform
