Repository upupming/lynx-stack: changes, and which Codecov flags are due for each by the changed paths.
All: React, Rspeedy, Webpack, Web Platform

codecov.yml:

coverage:
  status:
    project:
      default:
        threshold: "0%"
        informational: true
      react:
        threshold: "0%"
        paths:
          - packages/react
      rspeedy:
        threshold: "0%"
        paths:
          - packages/rspeedy
      webpack:
        threshold: "0%"
        paths:
          - packages/webpack
      web-platform:
        threshold: "0%"
        paths:
          - packages/web-platform
    patch:
      default:
        threshold: "1%"

fixes:
  - "/home/runner/_work/lynx-stack::"

parsers:
  javascript:
    enable_partials: yes

github_checks:
  annotations: false

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment
  behavior: default
  require_changes: true # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  require_bundle_changes: true # for web-explorer

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
      - type: patch
        threshold: "1%"
  individual_components:
    - component_id: react
      name: React
      paths:
        - packages/react/**
    - component_id: rspeedy
      name: Rspeedy
      paths:
        - packages/rspeedy/**
    - component_id: webpack
      name: Webpack
      paths:
        - packages/webpack/**
    - component_id: web
      name: Web Platform
      paths:
        - packages/web-platform/**

feat(web): x-input && x-textarea add new method: getValue (#982)
  .changeset/busy-dingos-shake.md
  packages/web-platform/web-elements/src/XInput/XInput.ts
  packages/web-platform/web-elements/src/XInput/XInputEvents.ts
  packages/web-platform/web-elements/src/XTextarea/XTextarea.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/basic-element-x-input-getValue/index.jsx
  packages/web-platform/web-tests/tests/react/basic-element-x-textarea-getValue/index.jsx
Due: Web Platform

perf: create elements of `elementToRuntimeInfoMap` on demand (#986)
  .changeset/real-ideas-sin.md
  packages/web-platform/web-mainthread-apis/src/elementAPI/ElementThreadElement.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/attributeAndProperty/attributeAndPropertyFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/elementCreating/elementCreatingFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/event/eventFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/style/styleFunctions.ts
Due: Web Platform

feat(rspeedy/react): alias `use-sync-external-store` (#980)
  .changeset/small-onions-hear.md
  packages/rspeedy/plugin-react/package.json
  packages/rspeedy/plugin-react/src/backgroundOnly.ts
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
  packages/rspeedy/plugin-react/src/resolve.ts
  packages/rspeedy/plugin-react/src/useSyncExternalStore.ts
  packages/rspeedy/plugin-react/test/config.test.ts
  pnpm-lock.yaml
Due: Rspeedy

fix: dump encode data in comment (#989)
  .changeset/shaggy-monkeys-fail.md
  packages/web-platform/web-core-server/src/createLynxView.ts
  packages/web-platform/web-core-server/src/dumpHTMLString.ts
  packages/web-platform/web-core-server/src/utils/escapeHtml.ts
  packages/web-platform/web-tests/tests/__snapshots__/server.vitest.spec.ts.snap
Due: Web Platform

feat(web): x-input and x-textarea support bindselection event (#990)
  .changeset/plenty-moose-jump.md
  packages/web-platform/web-elements/src/XInput/XInputEvents.ts
  packages/web-platform/web-elements/src/XTextarea/XTextareaEvents.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/basic-element-x-input-bindselection/index.jsx
  packages/web-platform/web-tests/tests/react/basic-element-x-textarea-bindselection/index.jsx
Due: Web Platform

feat(web): x-input and x-textarea bindinput event structure change (#996)
  .changeset/chilly-snakes-hunt.md
  packages/web-platform/web-elements/src/XInput/XInputEvents.ts
  packages/web-platform/web-elements/src/XTextarea/XTextareaEvents.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/basic-element-x-input-bindinput/index.jsx
Due: Web Platform

fix(react/runtime): use `eval()` instead of `new Function` in `evaluate` (#985)
  .changeset/cute-hounds-sip.md
  packages/react/runtime/__test__/snapshotPatch.test.jsx
  packages/react/runtime/src/lifecycle/patch/snapshotPatchApply.ts
Due: React

chore: remove `@rsbuild/*` from catalog (#1002)
  .github/renovate.json5
  packages/rspeedy/core/package.json
  packages/rspeedy/plugin-react/package.json
  packages/rspeedy/upgrade-rspeedy/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  website/package.json
Due: Rspeedy

fix(react/runtime): reorganize MTS runtime bindings (#1006)
  .changeset/funny-tires-laugh.md
  packages/react/worklet-runtime/src/bindings/bindings.ts
  packages/react/worklet-runtime/src/bindings/index.ts
  packages/react/worklet-runtime/src/bindings/observers.ts
Due: React

fix(css-serializer): support Windows (#1007)
  .changeset/five-news-fall.md
  packages/tools/css-serializer/src/generateHref.ts
Due: none

test(react/transform): use different icon on Windows (#1009)
  packages/react/transform/__test__/fixture.spec.js
Due: React

feat(rspeedy/core): set `optimization.emitOnErrors: true` when DEBUG (#1000)
  .changeset/clear-apples-arrive.md
  packages/rspeedy/core/src/plugins/emitOnErrors.plugin.ts
  packages/rspeedy/core/src/plugins/index.ts
  packages/rspeedy/core/test/plugins/emitOnErrors.plugin.test.ts
Due: Rspeedy

refactor: implement mts apis in closure pattern (#1004)
  .changeset/strong-mails-follow.md
  packages/web-platform/offscreen-document/src/webworker/OffscreenElement.ts
  packages/web-platform/web-constants/src/types/Element.ts
  packages/web-platform/web-constants/src/types/MainThreadGlobalThis.ts
  packages/web-platform/web-constants/src/types/MainThreadLynx.ts
  packages/web-platform/web-constants/src/types/index.ts
  packages/web-platform/web-core/src/uiThread/createRenderAllOnUI.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadLynx.ts
  packages/web-platform/web-mainthread-apis/src/crossThreadHandlers/registerCallLepusMethodHandler.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/ElementThreadElement.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/attributeAndProperty/attributeAndPropertyFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/domTree/domTreeFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/elementCreating/elementCreatingFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/event/eventFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/style/styleFunctions.ts
  packages/web-platform/web-mainthread-apis/src/index.ts
  packages/web-platform/web-mainthread-apis/src/prepareMainThreadAPIs.ts
  packages/web-platform/web-mainthread-apis/src/pureElementPAPIs.ts
  packages/web-platform/web-mainthread-apis/src/style/cssPropertyMap.ts
  packages/web-platform/web-mainthread-apis/src/style/transformInlineStyle.ts
  packages/web-platform/web-mainthread-apis/src/utils/createExposureService.ts
  packages/web-platform/web-tests/shell-project/mainthread-test.ts
  packages/web-platform/web-tests/tests/__snapshots__/server.vitest.spec.ts.snap
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
  packages/web-platform/web-worker-runtime/src/mainThread/crossThreadHandlers/registerUpdateDataHandler.ts
Due: Web Platform

chore: remove the `basic-performance-div-10` bench test (#1005)
  packages/web-platform/web-tests/tests/server.bench.vitest.spec.ts
Due: Web Platform

test(upgrade-rspeedy): fix snapshot on Windows (#1003)
  packages/rspeedy/upgrade-rspeedy/test/install.test.ts
Due: Rspeedy

docs: remove unused `base` (#1013)
  website/rspress.config.ts
Due: none

fix: target.id is undefined (#1016)
  .changeset/crazy-candies-design.md
  packages/web-platform/web-constants/src/types/EventType.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-mainthread-apis/src/utils/createCrossThreadEvent.ts
  packages/web-platform/web-mainthread-apis/src/utils/createExposureService.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/basic-event-target-id/index.jsx
Due: Web Platform

fix(react/testing-library): generate same snapshot for Windows (#1011)
  .changeset/shaggy-regions-sit.md
  packages/react/testing-library/src/vitest.config.js
Due: React

test: use `path-serializer` for diagnostic tests (#1010)
  .changeset/two-crews-reply.md
  packages/webpack/css-extract-webpack-plugin/test/diagnostic/error/sass/expected/rspack.txt
  packages/webpack/css-extract-webpack-plugin/test/diagnostic/error/sass/expected/webpack.txt
  packages/webpack/react-webpack-plugin/test/diagnostic/compat/utf-8/expected/rspack.txt
  packages/webpack/react-webpack-plugin/test/diagnostic/jsx/component/expected/rspack.txt
  packages/webpack/react-webpack-plugin/test/diagnostic/jsx/component/expected/webpack.txt
  packages/webpack/react-webpack-plugin/test/diagnostic/jsx/namespace-name/expected/rspack.txt
  packages/webpack/react-webpack-plugin/test/diagnostic/jsx/namespace-name/expected/webpack.txt
  packages/webpack/react-webpack-plugin/test/diagnostic/main-thread/error/expected/rspack.txt
  packages/webpack/react-webpack-plugin/test/diagnostic/main-thread/error/expected/webpack.txt
  packages/webpack/react-webpack-plugin/test/diagnostic/module-build-failed/errors/expected/rspack.txt
  packages/webpack/react-webpack-plugin/test/diagnostic/module-build-failed/errors/expected/webpack.txt
  packages/webpack/test-tools/package.json
  packages/webpack/test-tools/src/diagnostic.ts
  pnpm-lock.yaml
Due: Webpack

fix(webpack/runtime-wrapper): remove non-existed `Function` (#1021)
  .changeset/breezy-parts-look.md
  packages/webpack/runtime-wrapper-webpack-plugin/src/RuntimeWrapperWebpackPlugin.ts
  packages/webpack/runtime-wrapper-webpack-plugin/test/cases.test.js
Due: Webpack

fix(react/runtime): make mts-runtime source map inline (#1019)
  .changeset/clever-banks-stop.md
  packages/react/worklet-runtime/scripts/build.js
Due: React

chore(web-tests): use cross platform build command (#1022)
  packages/web-platform/web-tests/package.json
Due: Web Platform

test(rspeedy): fix tests on Windows (#1023)
  packages/rspeedy/core/test/cli/register.test.ts
  packages/rspeedy/core/test/config/loadConfig.test.ts
  packages/rspeedy/core/test/plugins/dev.plugin.test.ts
  packages/rspeedy/plugin-react-alias/test/index.test.ts
  packages/rspeedy/plugin-react/test/background-only.test.ts
  packages/rspeedy/plugin-react/test/basic.test.ts
  packages/rspeedy/plugin-react/test/config.test.ts
  packages/rspeedy/plugin-react/test/css.test.ts
  packages/rspeedy/plugin-react/test/lazy.test.ts
  packages/rspeedy/plugin-react/test/swc-config.test.ts
Due: Rspeedy

fix: ensure render starts after dom connected (#1020)
  .changeset/flat-jokes-raise.md
  packages/web-platform/web-core/src/apis/LynxView.ts
Due: Web Platform

refactor: avoid to create many style element for cssog (#1026)
  .changeset/clean-singers-spend.md
  .changeset/four-clouds-shave.md
  packages/web-platform/offscreen-document/src/main/initOffscreenDocument.ts
  packages/web-platform/offscreen-document/src/types/ElementOperation.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenElement.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
Due: Web Platform

ci: enable build on Windows (#1030)
  .github/workflows/workflow-bench.yml
  .github/workflows/workflow-build.yml
  .github/workflows/workflow-bundle-analysis.yml
  .github/workflows/workflow-test.yml
  .github/workflows/workflow-website.yml
Due: none

ci: enable Rust test on Windows (#1031)
  .github/workflows/rust.yml
Due: none

fix(testing-library): __SetInlineStyles of raw styles should not normalize css (#1040)
  .changeset/tired-breads-wonder.md
  packages/react/testing-library/src/__tests__/css.test.jsx
  packages/react/testing-library/src/__tests__/worklet.test.jsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-js/src/__tests__/index.test.jsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/src/__tests__/index.test.tsx
  packages/testing-library/testing-environment/src/lynx/ElementPAPI.ts
Due: React, Rspeedy

ci: use matrix for `playwright-linux` (#1032)
  .github/workflows/test.yml
Due: none

chore(react/transform): remove `build:debug` from `turbo build` (#1041)
  packages/react/transform/turbo.json
Due: React

feat(web): x-input && x-textarea add attribute input-filter, which ca… (#1037)
  .changeset/plenty-hoops-brake.md
  packages/web-platform/web-elements/src/XInput/XInputEvents.ts
  packages/web-platform/web-elements/src/XTextarea/XTextareaEvents.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/basic-element-x-input-input-filter/index.jsx
  packages/web-platform/web-tests/tests/react/basic-element-x-textarea-input-filter/index.jsx
Due: Web Platform

ci: disable Rust test on Windows (#1057)
  .github/workflows/rust.yml
Due: none

fix(webpack/react): always use posix filename for snapshot ID (#1050)
  .changeset/light-wombats-buy.md
  packages/webpack/react-webpack-plugin/src/loaders/options.ts
Due: Webpack

fix(web-rsbuild-plugin): should build on Windows (#1048)
  .changeset/chatty-flies-report.md
  packages/web-platform/web-rsbuild-plugin/src/loaders/native-modules.ts
  packages/web-platform/web-rsbuild-plugin/src/pluginWebPlatform.ts
  packages/web-platform/web-rsbuild-plugin/tests/bundle.test.ts
Due: Web Platform

perf: add loading="lazy" for image element (#1056)
  .changeset/shy-needles-count.md
  packages/web-platform/web-elements-template/src/index.ts
Due: Web Platform

refactor: make the opcode be a plain array (#1051)
  .changeset/nice-spoons-relax.md
  packages/web-platform/offscreen-document/src/main/initOffscreenDocument.ts
  packages/web-platform/offscreen-document/src/types/ElementOperation.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenCSSStyleDeclaration.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenDocument.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenElement.ts
  packages/web-platform/web-constants/src/endpoints.ts
Due: Web Platform

feat(web): return value of error event add sourceMap (#1058)
  .changeset/tame-suns-wait.md
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-constants/src/types/MainThreadGlobalThis.ts
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-core/src/uiThread/createRenderAllOnUI.ts
  packages/web-platform/web-core/src/uiThread/createRenderMultiThread.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerReportErrorHandler.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-tests/shell-project/lynx-view.ts
  packages/web-platform/web-tests/tests/react.spec.ts
Due: Web Platform

fix(react): avoid memory leak when removing the child from page (#1054)
  .changeset/dry-heads-happen.md
  packages/react/runtime/src/snapshot.ts
  packages/react/testing-library/src/__tests__/snapshot.test.jsx
Due: React

feat: optimize performance
  packages/react/runtime/src/simple-styling/index.ts
  packages/react/runtime/src/snapshot.ts
  packages/react/runtime/src/snapshot/simple-styling.ts
  packages/react/transform/src/css_property.rs
  packages/react/transform/src/lib.rs
  packages/react/transform/src/swc_plugin_simple_styling/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_simple_styling/mod.rs/basic_simple_style.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_simple_styling/mod.rs/simple_style_complex.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_simple_styling/mod.rs/simple_style_conditional.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_simple_styling/mod.rs/simple_style_dynamic.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_simple_styling/mod.rs/simple_style_static.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_tranform_simple_style_attr.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/snapshot_simple_style_complex.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/snapshot_simple_style_conditional.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/snapshot_simple_style_dynamic.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/snapshot_simple_style_static.js
  packages/rspeedy/plugin-react/tsconfig.build.json
  packages/rspeedy/plugin-react/tsconfig.json
  packages/webpack/react-simple-styling-webpack-plugin/package.json
  pnpm-lock.yaml
Due: React, Rspeedy, Webpack
